.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; 
    width: 100%;
    z-index: 9999999999999999999999999999999999;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #568034;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.skip_nav a:focus {
    top: 100px;
}

/* header */

header {
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding: 0 20px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    z-index: 100;
}
header .fixed {
    color: #0F271F;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header .wrapper .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 51px;
    height: 59px;
    position: relative;
}
header .wrapper .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
header .wrapper .sitemap {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 60px;
    height: 60px;
    position: relative;
}
header .wrapper .sitemap::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0C46.5685 0 60 13.4315 60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0Z' fill='white'/%3E%3Cmask id='mask0_277_3' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='15' y='15' width='30' height='30'%3E%3Crect x='15' y='15' width='30' height='30' fill='%23A38F86'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_277_3)'%3E%3Cpath d='M20 23.75C19.6458 23.75 19.349 23.6302 19.1094 23.3906C18.8698 23.151 18.75 22.8542 18.75 22.5C18.75 22.1458 18.8698 21.849 19.1094 21.6094C19.349 21.3698 19.6458 21.25 20 21.25H40C40.3542 21.25 40.651 21.3698 40.8906 21.6094C41.1302 21.849 41.25 22.1458 41.25 22.5C41.25 22.8542 41.1302 23.151 40.8906 23.3906C40.651 23.6302 40.3542 23.75 40 23.75H20ZM20 38.75C19.6458 38.75 19.349 38.6302 19.1094 38.3906C18.8698 38.151 18.75 37.8542 18.75 37.5C18.75 37.1458 18.8698 36.849 19.1094 36.6094C19.349 36.3698 19.6458 36.25 20 36.25H40C40.3542 36.25 40.651 36.3698 40.8906 36.6094C41.1302 36.849 41.25 37.1458 41.25 37.5C41.25 37.8542 41.1302 38.151 40.8906 38.3906C40.651 38.6302 40.3542 38.75 40 38.75H20ZM20 31.25C19.6458 31.25 19.349 31.1302 19.1094 30.8906C18.8698 30.651 18.75 30.3542 18.75 30C18.75 29.6458 18.8698 29.349 19.1094 29.1094C19.349 28.8698 19.6458 28.75 20 28.75H40C40.3542 28.75 40.651 28.8698 40.8906 29.1094C41.1302 29.349 41.25 29.6458 41.25 30C41.25 30.3542 41.1302 30.651 40.8906 30.8906C40.651 31.1302 40.3542 31.25 40 31.25H20Z' fill='%23CCA269'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
header .wrapper .gnb .gnb_open,
header .wrapper .gnb .gnb_close {
    display: none;
}
header .wrapper .gnb .gnb_wrap .depth1 {
    display: flex;
}
header .wrapper .gnb .gnb_wrap .depth1 li {
    margin: 0 10px;
}
header .wrapper .gnb .gnb_wrap .depth1 li a {
    display: block;
    padding: 32px 20px;
    height: 100px;
}

/* visual */

.visual {
    height: 1000px;
    background-image: url(../image/visual_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
