@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);



/* visual */

.visual {
    position: relative;
    color: var(--txt-color-cnt);
}
.visual h2 {
    font-size: 0;
    line-height: 0;
}
.visual .swiper ul li{
    height: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.visual .swiper ul .bg1 {
    background-image: url(../image/visual_1.jpg);
}
.visual .swiper ul .bg2 {
    background-image: url(../image/visual_2.jpg);
}
.visual .swiper ul .bg3 {
    background-image: url(../image/visual_3.jpg);
}
.visual .swiper ul h3 {
    margin-top: 300px;
    font-size: 70px;
    font-weight: 700;
}
.visual .swiper ul li p {
    margin-top: 20px;
    font-size: var(--txt-size-tit4);
}
.visual .btn_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.visual .btn_wrap .paging {
    width: auto; /*swiper가 준 100% 크기를 빼줌*/
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
    width: 190px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(157, 157, 157, 0.6);
    opacity: 1;
    position: relative;
    margin-top: 625px;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before { /*현재 선택된 블릿*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.visual .swiper > .wrapper {
    position: absolute;
    left: 50%;
    top: 625px;
    transform: translate(-50%, 0);
    z-index: 100;
}
.visual-progress-wrap {
    display: flex;
    align-items: center;
    color: white;
    font-size: var(--txt-size-tit4);
    width: 200px;
    gap: 10px;
}
.progress {
    flex: 1;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}
.progress-bar {
    display: block;
    height: 100%;
    background-color: white;
    width: 0%;
}

@media screen and (max-width: 1300px){
    .visual .swiper > .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .visual .swiper ul li{
        height: 500px;
    }
    .visual .swiper ul h3 {
        margin-top: 130px;
        font-size: var(--txt-size-tit3);
    }
    .visual .swiper ul li p {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /*현재 선택되지 않은 블릿*/
        width: 78px;
        height: 2px;
    }
    .visual .swiper > .wrapper {
        top: 230px;
    }
    .visual-progress-wrap {
        width: 110px;
        font-size: var(--txt-size-tit5);
        gap: 5px;
    }
    .progress {
        flex: 1;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.3);
        overflow: hidden;
    }
    .progress-bar {
        display: block;
        height: 100%;
        background-color: white;
        width: 0%;
    }
}

/* speciality */

.speciality {
    background-color: var(--txt-color-main);
}
.speciality h2 {
    font-size: var(--txt-size-tit2);
    font-weight: 700;
    padding-top: 190px;
    color: var(--txt-color-sub);
    text-align: center;
}
.speciality p {
    font-size: var(--txt-size-tit1);
    font-weight: 700;
    color: var(--txt-color-cnt);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 90px;
}
.speciality .speciality_cnt {
    padding-bottom: 190px;
}
.speciality .speciality_cnt ul {
    display: flex;
    justify-content: center;
}
.speciality .speciality_cnt ul li {
    position: relative;
    margin: 0 60px 0 60px;
    justify-items: center;
}
.speciality .speciality_cnt ul li span{
    display: none;
}
.speciality .speciality_cnt ul li:hover span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: var(--txt-size-tit4);
    color: var(--txt-color-cnt);
    text-align: center;
    line-height: 25px;
    display: block;
    z-index: 2;
}
.speciality .speciality_cnt ul li strong {
    display: block;
    font-size: var(--txt-size-tit2);
    color: var(--txt-color-cnt);
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--txt-color-cnt);
    width: 240px;
    padding: 7px 27px;
    position: relative;
    transition: 0.5s;
    z-index: 1;
}
.speciality .speciality_cnt ul li:hover strong {
    color: var(--txt-color-main);
    background-color: var(--txt-color-cnt);
}
.speciality .speciality_cnt ul li:hover strong::before {
    position: absolute;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%, 0);
    width: 1px;
    height: 70px;
    background-color: var(--txt-color-cnt);
    content: "";
}
.speciality .speciality_cnt ul li:hover strong::after {
    position: absolute;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%, 0);
    width: 12px;
    height: 12px;
    background-color: var(--txt-color-cnt);
    border-radius: 50%;
    content: ""; 
    z-index: 1;
}
.speciality .speciality_cnt ul li .photo1,
.speciality .speciality_cnt ul li .photo2,
.speciality .speciality_cnt ul li .photo3 {
    position: relative;
    width: 360px;
    height: auto;
    margin-top: 62px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    padding: 40px;
    aspect-ratio: 1/1;
}
.speciality .speciality_cnt ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
        clip-path: polygon(
            50% 0%,      /* 위 */
            93% 25%,     /* 오른쪽 위 */
            93% 75%,     /* 오른쪽 아래 */
            50% 100%,    /* 아래 */
            7% 75%,      /* 왼쪽 아래 */
            7% 25%       /* 왼쪽 위 */
    );
    transition: 0.5s;
}
.speciality .speciality_cnt ul li:hover img {
    transform: scale(1.3);
}
.speciality .speciality_cnt ul li:hover::after {
    position: absolute;
    inset: 0;
    background-color: rgba(15, 39, 31, 0.6);
    content: "";
}

@media screen and (max-width: 1300px){
    .speciality .speciality_cnt ul {
        flex-wrap: wrap;
        gap: 15px;
    }
    .speciality .speciality_cnt ul li {
        flex: 0 0 auto; /* 크기 고정 */
    }
}

@media screen and (max-width: 1024px){
    .speciality h2 {
        font-size: var(--txt-size-tit5);
        padding-top: 60px;
    }
    .speciality p {
        font-size: var(--txt-size-tit4);
        margin-bottom: 50px;
    }
    .speciality .speciality_cnt {
        padding-bottom: 0;
    }
    .speciality .speciality_cnt ul {
        transform: scale(0.8); 
        transform-origin: center top; 
    }
    .speciality .speciality_cnt ul li {
        margin: 0;
    }
    .speciality .speciality_cnt ul li:hover span{
        font-size: 11px;
        line-height: 15px;
    }
    .speciality .speciality_cnt ul li strong {
        font-size: 13px;
        border-radius: 10px;
        width: 120px;
        padding: 7px 15px;
    }
    .speciality .speciality_cnt ul li:hover strong::before {
        bottom: -30px;
        height: 30px;
    }
    .speciality .speciality_cnt ul li:hover strong::after {
        bottom: -35px;
        width: 6px;
        height: 6px;
    }
    .speciality .speciality_cnt ul li .photo1,
    .speciality .speciality_cnt ul li .photo2,
    .speciality .speciality_cnt ul li .photo3 {
        width: 300px;
        margin-top: 30px;
        padding: 20px;
    }
    .speciality .speciality_cnt ul li:hover img {
        transform: scale(1.15);
    }
}
@media screen and (max-width: 630px){
    .speciality .speciality_cnt ul li strong {
        width: 120px;
        padding: 7px 15px;
    }
    .speciality .speciality_cnt ul li .photo1,
    .speciality .speciality_cnt ul li .photo2,
    .speciality .speciality_cnt ul li .photo3 {
        width: 250px;
        margin-top: 30px;
        padding: 15px;
    }
    .speciality .speciality_cnt ul li:hover img {
        transform: scale(1.15);
    }
}
@media screen and (max-width: 530px){
    .speciality .speciality_cnt ul li .photo1,
    .speciality .speciality_cnt ul li .photo2,
    .speciality .speciality_cnt ul li .photo3 {
        width: 160px;
        margin-top: 30px;
        padding: 15px;
    }
    .speciality .speciality_cnt ul li:hover img {
        transform: scale(1.2);
    }
}

/* signature */

.signature h2 {
    font-size: var(--txt-size-tit2);
    font-weight: 700;
    padding-top: 190px;
    color: var(--txt-color-sub);
    text-align: center;
}
.signature p {
    font-size: var(--txt-size-tit1);
    font-weight: 700;
    color: var(--txt-color-main);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}
.signature .tap_area .tap_btn > ul {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid rgba(15, 39, 31, 0.6);
}
.signature .tap_area .tap_btn > ul > li {
    padding: 30px 50px;
    cursor: pointer;
    position: relative;
    color: rgba(15, 39, 31, 0.6);
    font-size: var(--txt-size-tit3);
}
.signature .tap_area .tap_btn > ul > li::before {
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(15, 39, 31, 0.6);
    background-color: var(--txt-color-cnt);
    content: "";
}
.signature .tap_area .tap_btn > ul > li::after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--txt-color-main);
    content: "";
    transition: 0.5s;
}
.signature .tap_area .tap_btn > ul > li.active::after,
.signature .tap_area .tap_btn > ul > li:hover:after {
    bottom: -9px;
    width: 16px;
    height: 16px;
}
.signature .tap_area .tap_btn > ul > li.active,
.signature .tap_area .tap_btn > ul > li:hover {
    font-weight: 700;
    color: var(--txt-color-main);
}
.signature .tap_cnt .signature_cnt {
    display: flex;
    justify-content: center;
    margin: 90px 0 210px 0;
}
.signature .tap_cnt .signature_cnt .photo {
    width: 50%;
    height: 560px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.signature .tap_cnt .signature_cnt .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signature .tap_cnt .signature_cnt .txt {
    width: 50%;
    height: 560px;
    border: 1px solid var(--txt-color-main);
    margin-left: 24px;
}
.signature .tap_cnt .signature_cnt .txt strong {
    display: block;
    font-size: var(--txt-size-tit2);
    font-weight: 700;
    color: var(--txt-color-main);
    text-align: center;
    line-height: 40px;
    padding-top: 200px;
    position: relative;
}
.signature .tap_cnt .signature_cnt .txt strong::before {
    position: absolute;
    left: 50%;
    top: 95px;
    transform: translate(-50%, 0);
    width: 100px;
    height: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.signature .tap_cnt .signature_cnt .t1 strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='114' height='85' viewBox='0 0 114 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.0791 44.0586C32.8122 48.882 31.2705 54.4244 31.2705 57.4766C31.2706 69.6818 42.1028 79.876 55.8506 79.876C69.5983 79.8758 80.4306 69.6817 80.4307 57.4766C80.4307 54.4244 79.4329 48.882 78.166 44.0586H103.29C107.098 44.0586 110.75 45.575 113.438 48.2725H83.5547C84.256 51.7247 84.6445 54.9344 84.6445 57.4766C84.6444 72.3398 71.5801 84.0897 55.8506 84.0898C40.121 84.0898 27.0567 72.3399 27.0566 57.4766C27.0566 54.9344 27.4533 51.7248 28.1592 48.2725H0.0625C2.75054 45.5752 6.40196 44.0587 10.21 44.0586H34.0791Z' fill='%23CCA269'/%3E%3Cpath d='M75.5145 57.1825C75.5145 67.0015 66.7106 74.9615 55.8504 74.9615C44.9903 74.9615 36.1864 67.0015 36.1864 57.1825C36.1864 47.3634 44.9903 22.9922 55.8504 22.9922C66.7106 22.9922 75.5145 47.3634 75.5145 57.1825Z' fill='%23CCA269'/%3E%3Cpath d='M52.3132 26.3943C51.4452 9.86917 59.9085 1.91263 64.2486 0C55.5683 10.5577 57.5751 20.9868 60.6494 25.1946L52.3132 26.3943Z' fill='%23CCA269'/%3E%3C/svg%3E%0A");
}    
.signature .tap_cnt .signature_cnt .t2 strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='95' height='88' viewBox='0 0 95 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.125 29.5C81.375 29.5 80.625 29.5 79.875 29.5C79.7508 32.1639 79.2175 34.7781 78.3008 37.2343C74.7054 47.1677 64.5989 53.87 54.5 53.4688C41.7404 53.4269 30.7094 41.9841 31 29.5C30.7094 17.016 41.7403 5.5731 54.5 5.53125C64.5989 5.13004 74.7054 11.8323 78.3008 21.7657C79.2175 24.2219 79.7508 26.8361 79.875 29.5C80.625 29.5 81.375 29.5 82.125 29.5C82.2512 26.6055 81.9181 23.6742 81.1184 20.8507C78.0601 9.44371 66.7805 0.53928 54.5 0.46875C39.0286 -0.259528 24.6042 13.753 25 29.5C24.6042 45.247 39.0286 59.2595 54.5 58.5312C66.7805 58.4607 78.0601 49.5563 81.1184 38.1493C81.9181 35.3258 82.2512 32.3945 82.125 29.5ZM79.875 29.5H82.125H79.875Z' fill='%23CCA269'/%3E%3Cpath d='M26.6429 51.3968C25.9933 51.7718 25.3438 52.1468 24.6943 52.5218C25.1317 53.5288 25.4045 54.5776 25.5123 55.6262C25.9762 59.8543 23.6082 63.8603 20.1937 65.4765C15.9449 67.6568 10.5117 65.8995 8.34808 61.9593C6.01759 58.1154 7.21228 52.5315 11.2249 49.9421C14.3318 47.7932 18.9852 47.7454 22.4148 50.2612C23.269 50.8789 24.0409 51.6395 24.6943 52.5218C25.3438 52.1468 25.9933 51.7718 26.6429 51.3968C26.0909 50.1896 25.3339 49.0542 24.3975 48.06C20.6961 43.9994 13.9257 42.7266 8.69367 45.5579C1.94751 48.8362 -0.901173 58.3422 3.15192 64.9593C6.85591 71.7779 16.5128 74.0639 22.7249 69.8607C27.7929 66.7452 30.0758 60.2455 28.4099 55.0097C28.0171 53.7017 27.4123 52.4783 26.6429 51.3968ZM24.6943 52.5218L26.6429 51.3968L24.6943 52.5218Z' fill='%23CCA269'/%3E%3Cpath d='M72.3968 60.7751C72.7718 61.4246 73.1468 62.0741 73.5218 62.7237C74.5288 62.2863 75.5776 62.0135 76.6262 61.9057C80.8543 61.4417 84.8603 63.8098 86.4765 67.2243C88.6568 71.4731 86.8995 76.9063 82.9593 79.0699C79.1154 81.4004 73.5315 80.2057 70.9421 76.1931C68.7932 73.0862 68.7454 68.4328 71.2612 65.0032C71.8789 64.1489 72.6395 63.3771 73.5218 62.7237C73.1468 62.0741 72.7718 61.4246 72.3968 60.7751C71.1896 61.327 70.0542 62.084 69.06 63.0205C64.9994 66.7219 63.7266 73.4922 66.5579 78.7243C69.8362 85.4705 79.3422 88.3191 85.9593 84.266C92.7779 80.5621 95.0639 70.9052 90.8607 64.6931C87.7452 59.6251 81.2455 57.3422 76.0097 59.0081C74.7017 59.4008 73.4783 60.0056 72.3968 60.7751ZM73.5218 62.7237L72.3968 60.7751L73.5218 62.7237Z' fill='%23CCA269'/%3E%3Cpath d='M69.4597 52.7702C69.0125 52.9938 68.5652 53.2174 68.118 53.441C68.1102 53.6116 68.106 53.7803 68.1056 53.9472C68.1019 55.4491 68.4 56.8 69 58C69.6 59.2 70.5019 60.2491 71.7056 61.1472C71.8394 61.247 71.9768 61.3449 72.118 61.441C72.5652 61.2174 73.0125 60.9938 73.4597 60.7702C73.4675 60.5996 73.4717 60.4308 73.4721 60.264C73.4758 58.7621 73.1777 57.4111 72.5777 56.2111C71.9777 55.0111 71.0758 53.9621 69.8721 53.0639C69.7384 52.9642 69.6009 52.8662 69.4597 52.7702Z' fill='%23CCA269'/%3E%3Cpath d='M26.0555 51.0555C26.409 51.409 26.7626 51.7626 27.1161 52.1161C27.2584 52.0917 27.3977 52.0644 27.5341 52.0341C28.7614 51.7614 29.75 51.25 30.5 50.5C31.25 49.75 31.7614 48.7614 32.0341 47.5341C32.0644 47.3977 32.0917 47.2584 32.1161 47.1161C31.7626 46.7626 31.409 46.409 31.0555 46.0555C30.9132 46.0799 30.7739 46.1072 30.6375 46.1375C29.4102 46.4102 28.4216 46.9216 27.6716 47.6716C26.9216 48.4216 26.4102 49.4102 26.1375 50.6375C26.1072 50.7739 26.0799 50.9132 26.0555 51.0555Z' fill='%23CCA269'/%3E%3C/svg%3E%0A");
}
.signature .tap_cnt .signature_cnt .t3 strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='63' height='82' viewBox='0 0 63 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.9494 82C24.4177 82 24.038 81.8086 23.8101 81.4258C23.6582 81.0429 23.5063 80.2007 23.3544 78.8992C22.5949 64.5817 21.6456 52.1401 20.5063 41.5742C19.3671 30.9318 17.7342 22.2418 15.6076 15.5042C15.0759 13.5135 14.4684 12.0588 13.7848 11.1401C13.1013 10.2213 12.1139 9.76191 10.8228 9.76191C7.48101 9.76191 4.70886 13.0542 2.50633 19.6387C1.97468 21.2465 1.40506 22.0504 0.797468 22.0504C0.265823 22.0504 0 21.3996 0 20.098C0 17.112 0.683544 14.0495 2.05063 10.9104C3.49367 7.77124 5.3924 5.16807 7.74683 3.10084C10.1013 1.03361 12.6456 0 15.3797 0C17.0506 0 18.6456 0.727357 20.1646 2.18207C21.6835 3.56022 23.0886 6.43137 24.3797 10.7955C25.9747 16.155 27.4557 24.3473 28.8228 35.3725C30.2658 46.3212 31.2532 57.3464 31.7848 68.4482C46.1392 45.5555 53.3165 28.5201 53.3165 17.3417C53.3165 15.4276 53.0886 13.9729 52.6329 12.9776C52.2532 11.9823 51.5696 10.9104 50.5823 9.76191C50.3544 9.53221 50.7721 8.57516 51.8354 6.89076C52.8987 5.20635 54.1139 3.63679 55.481 2.18207C56.924 0.727357 58.0633 0 58.8987 0C59.8101 0 60.7215 0.957049 61.6329 2.87115C62.5443 4.78525 63 7.04389 63 9.64706C63 13.2456 62.0886 18.1074 60.2658 24.2325C58.443 30.281 55.6709 36.521 51.9494 42.9524L35.3165 72.0084C35.2405 72.2381 34.7468 73.1186 33.8354 74.6499C33 76.1811 32.2405 77.4062 31.557 78.3249C30.7975 79.2437 29.7721 80.0859 28.481 80.8515C27.1899 81.6172 26.0127 82 24.9494 82Z' fill='%23CCA269'/%3E%3C/svg%3E%0A");  
}
.signature .tap_cnt .signature_cnt .t4 strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='114' height='85' viewBox='0 0 114 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.0791 44.0586C32.8122 48.882 31.2705 54.4244 31.2705 57.4766C31.2706 69.6818 42.1028 79.876 55.8506 79.876C69.5983 79.8758 80.4306 69.6817 80.4307 57.4766C80.4307 54.4244 79.4329 48.882 78.166 44.0586H103.29C107.098 44.0586 110.75 45.575 113.438 48.2725H83.5547C84.256 51.7247 84.6445 54.9344 84.6445 57.4766C84.6444 72.3398 71.5801 84.0897 55.8506 84.0898C40.121 84.0898 27.0567 72.3399 27.0566 57.4766C27.0566 54.9344 27.4533 51.7248 28.1592 48.2725H0.0625C2.75054 45.5752 6.40196 44.0587 10.21 44.0586H34.0791Z' fill='%23CCA269'/%3E%3Cpath d='M75.5145 57.1825C75.5145 67.0015 66.7106 74.9615 55.8504 74.9615C44.9903 74.9615 36.1864 67.0015 36.1864 57.1825C36.1864 47.3634 44.9903 22.9922 55.8504 22.9922C66.7106 22.9922 75.5145 47.3634 75.5145 57.1825Z' fill='%23CCA269'/%3E%3Cpath d='M52.3132 26.3943C51.4452 9.86917 59.9085 1.91263 64.2486 0C55.5683 10.5577 57.5751 20.9868 60.6494 25.1946L52.3132 26.3943Z' fill='%23CCA269'/%3E%3C/svg%3E%0A");
}
.signature .tap_cnt .signature_cnt .txt span {
    display: block;
    font-size: var(--txt-size-tit3);
    color: var(--txt-color-main);
    margin: 20px 0 50px 0;
    text-align: center;
    line-height: 35px;
}
.signature .tap_cnt .signature_cnt .txt em {
    display: flex;
    justify-content: center;
}
.signature .tap_cnt .signature_cnt .txt em a {
    display: block;
    font-size: var(--txt-size-tit3);
    color: var(--txt-color-main);
    text-align: center;
    width: 220px;
    padding: 12px 65px 12px 20px;
    border-radius: 30px;
    border: 1px solid var(--txt-color-main);
    position: relative;
    transition: 0.5s;
}
.signature .tap_cnt .signature_cnt .txt em a:hover {
    background-color: var(--txt-color-main);
    color: var(--txt-color-cnt);
}
.signature .tap_cnt .signature_cnt .txt em a::before {
    position: absolute;
    right: 16px;
    top: 7px;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_245_493' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='41' height='40'%3E%3Crect x='0.740234' y='39.8672' width='39.73' height='39.73' transform='rotate(-90 0.740234 39.8672)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_245_493)'%3E%3Cpath d='M35.3711 20.007C35.3711 20.1824 35.3403 20.3455 35.2788 20.4961C35.2173 20.6468 35.1144 20.7944 34.9701 20.939L25.9956 29.9225C25.8409 30.0776 25.6509 30.1603 25.4258 30.1708C25.2009 30.1816 25.0078 30.1094 24.8464 29.9544C24.664 29.7933 24.5781 29.5964 24.5885 29.3638C24.5993 29.1315 24.6852 28.9346 24.8464 28.7732L32.7671 20.8305L21.8124 20.8305C21.5779 20.8305 21.3813 20.7511 21.2227 20.5922C21.064 20.4332 20.9847 20.2364 20.9847 20.0016C20.9847 19.7668 21.064 19.5704 21.2227 19.4123C21.3813 19.2542 21.5779 19.1751 21.8124 19.1751L32.799 19.1751L24.8464 11.191C24.6916 11.0412 24.6142 10.8542 24.6142 10.6299C24.6142 10.4053 24.6948 10.2105 24.8559 10.0455C25.0038 9.8943 25.1919 9.8187 25.4204 9.8187C25.6491 9.8187 25.8409 9.89623 25.9956 10.0513L34.9701 19.0667C35.1144 19.2113 35.2173 19.3603 35.2788 19.5137C35.3403 19.6671 35.3711 19.8315 35.3711 20.007ZM17.6739 20.0041C17.6739 20.2389 17.5945 20.4353 17.4359 20.5934C17.2773 20.7515 17.0807 20.8305 16.8462 20.8305L13.5353 20.8305C13.3008 20.8305 13.1042 20.7511 12.9456 20.5922C12.7869 20.4332 12.7076 20.2364 12.7076 20.0016C12.7076 19.7668 12.7869 19.5704 12.9456 19.4123C13.1042 19.2542 13.3008 19.1751 13.5353 19.1751L16.878 19.1751C17.1037 19.1751 17.2927 19.2546 17.445 19.4135C17.5976 19.5724 17.6739 19.7693 17.6739 20.0041ZM9.39677 20.0041C9.39677 20.2389 9.31745 20.4353 9.15881 20.5934C9.00016 20.7515 8.80358 20.8305 8.56906 20.8305L6.91365 20.8305C6.67913 20.8305 6.48255 20.7511 6.3239 20.5922C6.16526 20.4332 6.08594 20.2364 6.08594 20.0016C6.08594 19.7668 6.16526 19.5704 6.3239 19.4123C6.48255 19.2542 6.67913 19.1751 6.91365 19.1751L8.60093 19.1751C8.82662 19.1751 9.01561 19.2546 9.16791 19.4135C9.32048 19.5724 9.39677 19.7693 9.39677 20.0041Z' fill='%230F271F'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    transition: 0.5s;
}
.signature .tap_cnt .signature_cnt .txt em a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_245_493' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='41' height='40'%3E%3Crect x='0.740234' y='39.8672' width='39.73' height='39.73' transform='rotate(-90 0.740234 39.8672)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_245_493)'%3E%3Cpath d='M35.3711 20.007C35.3711 20.1824 35.3403 20.3455 35.2788 20.4961C35.2173 20.6468 35.1144 20.7944 34.9701 20.939L25.9956 29.9225C25.8409 30.0776 25.6509 30.1603 25.4258 30.1708C25.2009 30.1816 25.0078 30.1094 24.8464 29.9544C24.664 29.7933 24.5781 29.5964 24.5885 29.3638C24.5993 29.1315 24.6852 28.9346 24.8464 28.7732L32.7671 20.8305L21.8124 20.8305C21.5779 20.8305 21.3813 20.7511 21.2227 20.5922C21.064 20.4332 20.9847 20.2364 20.9847 20.0016C20.9847 19.7668 21.064 19.5704 21.2227 19.4123C21.3813 19.2542 21.5779 19.1751 21.8124 19.1751L32.799 19.1751L24.8464 11.191C24.6916 11.0412 24.6142 10.8542 24.6142 10.6299C24.6142 10.4053 24.6948 10.2105 24.8559 10.0455C25.0038 9.8943 25.1919 9.8187 25.4204 9.8187C25.6491 9.8187 25.8409 9.89623 25.9956 10.0513L34.9701 19.0667C35.1144 19.2113 35.2173 19.3603 35.2788 19.5137C35.3403 19.6671 35.3711 19.8315 35.3711 20.007ZM17.6739 20.0041C17.6739 20.2389 17.5945 20.4353 17.4359 20.5934C17.2773 20.7515 17.0807 20.8305 16.8462 20.8305L13.5353 20.8305C13.3008 20.8305 13.1042 20.7511 12.9456 20.5922C12.7869 20.4332 12.7076 20.2364 12.7076 20.0016C12.7076 19.7668 12.7869 19.5704 12.9456 19.4123C13.1042 19.2542 13.3008 19.1751 13.5353 19.1751L16.878 19.1751C17.1037 19.1751 17.2927 19.2546 17.445 19.4135C17.5976 19.5724 17.6739 19.7693 17.6739 20.0041ZM9.39677 20.0041C9.39677 20.2389 9.31745 20.4353 9.15881 20.5934C9.00016 20.7515 8.80358 20.8305 8.56906 20.8305L6.91365 20.8305C6.67913 20.8305 6.48255 20.7511 6.3239 20.5922C6.16526 20.4332 6.08594 20.2364 6.08594 20.0016C6.08594 19.7668 6.16526 19.5704 6.3239 19.4123C6.48255 19.2542 6.67913 19.1751 6.91365 19.1751L8.60093 19.1751C8.82662 19.1751 9.01561 19.2546 9.16791 19.4135C9.32048 19.5724 9.39677 19.7693 9.39677 20.0041Z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.signature .tap_area .tap_cnt div[role="tabpanel"] {
    display: none; /*숨김*/
}
.signature .tap_area .tap_cnt div[role="tabpanel"].active {
    display: block; /*보임*/
}

@media screen and (max-width: 1024px){
    .signature .wrapper {
        transform: scale(0.8);
        transform-origin: top center; 
        max-width: 1024px;
        margin: 0 auto;
    }
    .signature h2 {
        font-size: var(--txt-size-tit5);
        padding-top: 60px;
    }
    .signature p {
        font-size: var(--txt-size-tit4);
        margin-bottom: 50px;
    }
    .tap_area .tap_btn {
        display: none 
    }
    .signature .tap_cnt .signature_cnt {
        margin: 0;
    }
    .mobile-grid {
        display: flex;
        justify-content: center;
        /* grid-template-columns: 1fr 1fr; 두 칸짜리 카드뷰 */
        gap: 16px;
    }
    .signature .tap_area .tap_btn > ul {
        display: none;
    }
    .signature .tap_cnt .signature_cnt .photo {
        display: none;
    }
    .signature .tap_cnt .signature_cnt .txt {
        margin: 0;
        width: 200px;
        height: 290px;
    }
    .signature .tap_cnt .signature_cnt .txt strong {
        font-size: var(--txt-size-tit6);
        line-height: 15px;
        padding-top: 180px;
    }
    .signature .tap_cnt .signature_cnt .txt strong::before {
        width: 70px;
        height: 65px;
    }
    .signature .tap_cnt .signature_cnt .txt span {
        display: none;
    }
    .signature .tap_cnt .signature_cnt .txt em {
        display: none;
    }
}

@media screen and (max-width: 768px){
    .mobile-grid {
        display: flex;
    }
    .signature .tap_cnt .signature_cnt .txt {
        width: 100%;

        margin: 0;
    }
}

/* team */

.team {
    background-image: url(../image/team_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.team h2 {
    font-size: var(--txt-size-tit2);
    font-weight: 700;
    padding-top: 190px;
    color: var(--txt-color-sub);
    text-align: center;
}
.team p {
    font-size: var(--txt-size-tit1);
    font-weight: 700;
    color: var(--txt-color-main);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}
.team .tap_area {
    position: relative;
}
.team .tap_area .tap_btn {
    position: absolute;
    right: 0;
    bottom: 260px;
    z-index: 2;
}
.team .tap_area .tap_btn > ul {
    display: flex;
    justify-content: center;
    text-align: center;
}
.team .tap_area .tap_btn > ul > li {
    position: relative;
    cursor: pointer;
    width: 160px;
    height: 160px;
    font-size: 0;
    line-height: 0;
}
.team .tap_area .tap_btn > ul > li:nth-child(2) {
    margin: 0 15px;
}
.team .tap_area .tap_btn > ul > li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    border-radius: 50%;
}
.team .tap_area .tap_btn > ul > li:nth-child(1):before {
    background-image: url(../image/team_t1_b.png);
    transition: 0.5s;
}
.team .tap_area .tap_btn > ul > li:nth-child(2):before {
    background-image: url(../image/team_t2_b.png);
    transition: 0.5s;
}
.team .tap_area .tap_btn > ul > li:nth-child(3):before {
    background-image: url(../image/team_t3_b.png);
    transition: 0.5s;
}
.team .tap_area .tap_btn > ul > li.active:nth-child(1):before,
.team .tap_area .tap_btn > ul > li:hover:nth-child(1):before {
    background-image: url(../image/team_t1_w.png);
}
.team .tap_area .tap_btn > ul > li.active:nth-child(2):before,
.team .tap_area .tap_btn > ul > li:hover:nth-child(2):before {
    background-image: url(../image/team_t2_w.png);
}
.team .tap_area .tap_btn > ul > li.active:nth-child(3):before,
.team .tap_area .tap_btn > ul > li:hover:nth-child(3):before {
    background-image: url(../image/team_t3_w.png);
}
.team .tap_area .tap_cnt .team_cnt {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 210px;
}
.team .tap_area .tap_cnt .team_cnt .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.team .tap_area .tap_cnt .team_cnt .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.team .tap_area .tap_cnt .team_cnt .txt > ul {
    display: flex;
    margin-top: 140px;
}
.team .tap_area .tap_cnt .team_cnt .txt > ul > li {
    width: 240px;
    height: 320px;
    border-radius: 100px;
    font-weight: 700;
    color: var(--txt-color-cnt);
    text-align: center;
}
.team .tap_area .tap_cnt .team_cnt .txt > ul > li:nth-child(1) {
    background-color: var(--txt-color-main);
}
.team .tap_area .tap_cnt .team_cnt .txt > ul > li:nth-child(2) > span {
    display: block;
    background-color: #331D12;
    font-size: var(--txt-size-tit2);
    margin-left: 24px;
    width: 240px;
    height: 320px;
    border-radius: 100px;
    padding-top: 90px;
    line-height: 40px;
}
.team .tap_area .tap_cnt .team_cnt .txt > ul > li > strong {
    display: block;
    font-size: var(--txt-size-tit2);
    margin: 70px 0 10px 0;
    line-height: 40px;
}
.team .tap_area .tap_cnt .team_cnt .txt > ul > li:nth-child(1) > span {
    display: block;
    font-size: var(--txt-size-tit3);
    color: var(--txt-color-sub);
    line-height: 35px;
}
.team .tap_area .tap_cnt div[role="tabpanel"] {
    display: none; /*숨김*/
}
.team .tap_area .tap_cnt div[role="tabpanel"].active {
    display: block; /*보임*/
}

/* numbers */

.numbers {
    background-image: url(../image/numbers_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.numbers h2 {
    font-size: var(--txt-size-tit2);
    font-weight: 700;
    padding-top: 190px;
    color: var(--txt-color-sub);
    text-align: center;
}
.numbers p {
    font-size: var(--txt-size-tit1);
    font-weight: 700;
    color: var(--txt-color-cnt);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 90px;
}
.numbers .wrapper ul {
    display: flex;
    justify-content: space-between;
    color: var(--txt-color-cnt);
    padding-bottom: 180px;
}
.numbers .wrapper ul li {
    position: relative;
    width: 320px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.numbers .wrapper ul li:last-child {
    border-right: 0;
}
.numbers .wrapper ul li span {
    display: block;
    font-size: 85px;
    font-weight: 700;
    text-align: center;
}
.numbers .wrapper ul li em {
    position: absolute;
    bottom: 60px;
    right: 85px;
    display: block;
    font-size: var(--txt-size-tit4);
}
.numbers .wrapper ul li:nth-child(3) em {
    right: 15px;
}
.numbers .wrapper ul li strong {
    display: block;
    font-size: var(--txt-size-tit3);
    text-align: center;
    margin-top: 15px;
}

/* ba */

.ba h2 {
    font-size: var(--txt-size-tit2);
    font-weight: 700;
    padding-top: 190px;
    color: var(--txt-color-sub);
    text-align: center;
}
.ba p {
    font-size: var(--txt-size-tit1);
    font-weight: 700;
    color: var(--txt-color-main);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}
.ba .ba_cnt {
    position: relative;
}
.ba .ba_cnt ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ba .swiper{
    width: 590px;
}
.ba .ba_cnt .before {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--txt-color-main);
    color: var(--txt-color-cnt);
    width: 34%;
    height: 440px;
    padding: 30px;
}
.ba .ba_cnt .before strong {
    display: block;
    text-align: right;
    font-size: 130px;
    font-weight: 700;
    white-space: nowrap;
}
.ba .ba_cnt ul .center .photo {
    border: 1px solid var(--txt-color-main);
    font-size: 0;
    line-height: 0;
    align-items: stretch;
}
.ba .ba_cnt ul .center .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ba .ba_cnt {
    margin-bottom: 190px;
}
.ba .ba_cnt .after {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--txt-color-cnt);
    color: var(--txt-color-main);
    width: 34%;
    height: 440px;
    padding: 30px;
    border: 1px solid var(--txt-color-main);
}
.ba .ba_cnt .after strong {
    display: block;
    text-align: left;
    font-size: 130px;
    font-weight: 700;
    white-space: nowrap;
}
.ba .ba_cnt .after em {
    display: block;
    margin-top: 160px;
}
.ba .ba_cnt .after em a {
    display: block;
    font-size: var(--txt-size-tit3);
    color: var(--txt-color-main);
    text-align: center;
    width: 220px;
    padding: 12px 65px 12px 20px;
    border-radius: 30px;
    border: 1px solid var(--txt-color-main);
    position: relative;
    transition: 0.5s;
}
.ba .ba_cnt .after em a:hover {
    background-color: var(--txt-color-main);
    color: var(--txt-color-cnt);
}
.ba .ba_cnt .after em a::before {
    position: absolute;
    right: 16px;
    top: 7px;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_245_493' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='41' height='40'%3E%3Crect x='0.740234' y='39.8672' width='39.73' height='39.73' transform='rotate(-90 0.740234 39.8672)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_245_493)'%3E%3Cpath d='M35.3711 20.007C35.3711 20.1824 35.3403 20.3455 35.2788 20.4961C35.2173 20.6468 35.1144 20.7944 34.9701 20.939L25.9956 29.9225C25.8409 30.0776 25.6509 30.1603 25.4258 30.1708C25.2009 30.1816 25.0078 30.1094 24.8464 29.9544C24.664 29.7933 24.5781 29.5964 24.5885 29.3638C24.5993 29.1315 24.6852 28.9346 24.8464 28.7732L32.7671 20.8305L21.8124 20.8305C21.5779 20.8305 21.3813 20.7511 21.2227 20.5922C21.064 20.4332 20.9847 20.2364 20.9847 20.0016C20.9847 19.7668 21.064 19.5704 21.2227 19.4123C21.3813 19.2542 21.5779 19.1751 21.8124 19.1751L32.799 19.1751L24.8464 11.191C24.6916 11.0412 24.6142 10.8542 24.6142 10.6299C24.6142 10.4053 24.6948 10.2105 24.8559 10.0455C25.0038 9.8943 25.1919 9.8187 25.4204 9.8187C25.6491 9.8187 25.8409 9.89623 25.9956 10.0513L34.9701 19.0667C35.1144 19.2113 35.2173 19.3603 35.2788 19.5137C35.3403 19.6671 35.3711 19.8315 35.3711 20.007ZM17.6739 20.0041C17.6739 20.2389 17.5945 20.4353 17.4359 20.5934C17.2773 20.7515 17.0807 20.8305 16.8462 20.8305L13.5353 20.8305C13.3008 20.8305 13.1042 20.7511 12.9456 20.5922C12.7869 20.4332 12.7076 20.2364 12.7076 20.0016C12.7076 19.7668 12.7869 19.5704 12.9456 19.4123C13.1042 19.2542 13.3008 19.1751 13.5353 19.1751L16.878 19.1751C17.1037 19.1751 17.2927 19.2546 17.445 19.4135C17.5976 19.5724 17.6739 19.7693 17.6739 20.0041ZM9.39677 20.0041C9.39677 20.2389 9.31745 20.4353 9.15881 20.5934C9.00016 20.7515 8.80358 20.8305 8.56906 20.8305L6.91365 20.8305C6.67913 20.8305 6.48255 20.7511 6.3239 20.5922C6.16526 20.4332 6.08594 20.2364 6.08594 20.0016C6.08594 19.7668 6.16526 19.5704 6.3239 19.4123C6.48255 19.2542 6.67913 19.1751 6.91365 19.1751L8.60093 19.1751C8.82662 19.1751 9.01561 19.2546 9.16791 19.4135C9.32048 19.5724 9.39677 19.7693 9.39677 20.0041Z' fill='%230F271F'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    transition: 0.5s;
}
.ba .ba_cnt .after em a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_245_493' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='41' height='40'%3E%3Crect x='0.740234' y='39.8672' width='39.73' height='39.73' transform='rotate(-90 0.740234 39.8672)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_245_493)'%3E%3Cpath d='M35.3711 20.007C35.3711 20.1824 35.3403 20.3455 35.2788 20.4961C35.2173 20.6468 35.1144 20.7944 34.9701 20.939L25.9956 29.9225C25.8409 30.0776 25.6509 30.1603 25.4258 30.1708C25.2009 30.1816 25.0078 30.1094 24.8464 29.9544C24.664 29.7933 24.5781 29.5964 24.5885 29.3638C24.5993 29.1315 24.6852 28.9346 24.8464 28.7732L32.7671 20.8305L21.8124 20.8305C21.5779 20.8305 21.3813 20.7511 21.2227 20.5922C21.064 20.4332 20.9847 20.2364 20.9847 20.0016C20.9847 19.7668 21.064 19.5704 21.2227 19.4123C21.3813 19.2542 21.5779 19.1751 21.8124 19.1751L32.799 19.1751L24.8464 11.191C24.6916 11.0412 24.6142 10.8542 24.6142 10.6299C24.6142 10.4053 24.6948 10.2105 24.8559 10.0455C25.0038 9.8943 25.1919 9.8187 25.4204 9.8187C25.6491 9.8187 25.8409 9.89623 25.9956 10.0513L34.9701 19.0667C35.1144 19.2113 35.2173 19.3603 35.2788 19.5137C35.3403 19.6671 35.3711 19.8315 35.3711 20.007ZM17.6739 20.0041C17.6739 20.2389 17.5945 20.4353 17.4359 20.5934C17.2773 20.7515 17.0807 20.8305 16.8462 20.8305L13.5353 20.8305C13.3008 20.8305 13.1042 20.7511 12.9456 20.5922C12.7869 20.4332 12.7076 20.2364 12.7076 20.0016C12.7076 19.7668 12.7869 19.5704 12.9456 19.4123C13.1042 19.2542 13.3008 19.1751 13.5353 19.1751L16.878 19.1751C17.1037 19.1751 17.2927 19.2546 17.445 19.4135C17.5976 19.5724 17.6739 19.7693 17.6739 20.0041ZM9.39677 20.0041C9.39677 20.2389 9.31745 20.4353 9.15881 20.5934C9.00016 20.7515 8.80358 20.8305 8.56906 20.8305L6.91365 20.8305C6.67913 20.8305 6.48255 20.7511 6.3239 20.5922C6.16526 20.4332 6.08594 20.2364 6.08594 20.0016C6.08594 19.7668 6.16526 19.5704 6.3239 19.4123C6.48255 19.2542 6.67913 19.1751 6.91365 19.1751L8.60093 19.1751C8.82662 19.1751 9.01561 19.2546 9.16791 19.4135C9.32048 19.5724 9.39677 19.7693 9.39677 20.0041Z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.ba .ba_cnt .center .btn_wrap {
    position: absolute;      
    bottom: 0;
    right: 10px;            
    z-index: 10;
}
.ba .ba_cnt .center .btn_wrap .paging .swiper-pagination-bullet {
    display: block;
    width: 15px;
    height: 25px;    
    background: var(--txt-color-cnt);       
    margin: 8px 0;           
    opacity: 1;              
    cursor: pointer;
    border-radius: 15px;   
    border: 1px solid var(--txt-color-main);
}
.ba .ba_cnt .center .btn_wrap .paging .swiper-pagination-bullet-active {
    background: #1a3c2d;    
    width: 15px;
    height: 50px;
}

/* place */

.place {
    background-color: rgba(15, 39, 31, 0.05);
}
.place h2 {
    font-size: var(--txt-size-tit2);
    font-weight: 700;
    padding-top: 190px;
    color: var(--txt-color-sub);
    text-align: center;
}
.place p {
    font-size: var(--txt-size-tit1);
    font-weight: 700;
    color: var(--txt-color-main);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 70px;
}
.place .p_list {
    margin: 0 0 0 350px;
}
.place .controlbar {
    padding-top: 90px;
    padding-bottom: 166px;
}
.place .controlbar .scroll {
    position: relative; /*absolute 해제*/
}
.place .controlbar .scroll .swiper-scrollbar {
    left: 0;
    bottom: 12px;
    z-index: 50;
    height: 1px;
    width: 100%;
    border-radius: 0;
    background: rgba(15, 39, 31, 0.6);
}
.place .controlbar .scroll .swiper-scrollbar-drag {
    height: 5px;
    background: var(--txt-color-main);
    border-radius: 50px;
    top: -2px;
    cursor: pointer;
}
.place .p_list .swiper li .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.place .p_list .swiper li:nth-child(odd) .photo {
    width: 500px;
    height: 480px;
}
.place .p_list .swiper li:nth-child(even) .photo {
    width: 500px;
    height: 330px;
}
.place .p_list .swiper li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    background-color: var(--txt-color-main);
    color: var(--txt-color-cnt);
}
footer .f_u {
    display: flex;
}
footer .f_u > .f_l > strong {
    display: block;
    padding: 150px 0 40px 0;
    font-size: 45px;
    font-weight: 700;
}
footer .f_u > .f_l > ul {
    display: flex;
}
footer .f_u > .f_l > ul > li {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    border: 1px solid var(--txt-color-cnt);
    text-align: center;
    margin-right: 24px;
}
footer .f_u > .f_l > ul > li:nth-child(1) {
    width: 297px;
}
footer .f_u > .f_l > ul > li > strong {
    display: block;
    font-size: var(--txt-size-tit4);
    font-weight: 700;
    line-height: 20px;
    padding: 115px 0 0 0;
    position: relative;
}
footer .f_u > .f_l > ul > li > strong::before {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .f_u > .f_l > ul > li:nth-child(2) > strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_245_554' fill='white'%3E%3Cpath d='M30 0C46.5685 0 60 13.4315 60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0Z'/%3E%3C/mask%3E%3Cpath d='M30 0C46.5685 0 60 13.4315 60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0Z' fill='white'/%3E%3Cpath d='M30 0V3C44.9117 3 57 15.0883 57 30H60H63C63 11.7746 48.2254 -3 30 -3V0ZM60 30H57C57 44.9117 44.9117 57 30 57V60V63C48.2254 63 63 48.2254 63 30H60ZM30 60V57C15.0883 57 3 44.9117 3 30H0H-3C-3 48.2254 11.7746 63 30 63V60ZM0 30H3C3 15.0883 15.0883 3 30 3V0V-3C11.7746 -3 -3 11.7746 -3 30H0Z' fill='%230F271F' mask='url(%23path-1-inside-1_245_554)'/%3E%3Cpath d='M30 19C33.8781 19 37.4481 20.1609 40.084 22.1104C42.7195 24.0596 44.5 26.8731 44.5 30.1152C44.4999 33.9838 41.9814 37.2161 38.4727 39.1475C38.4651 39.1719 38.4532 39.1997 38.4443 39.2334C38.3606 39.5497 38.3082 39.955 38.2295 40.5156C38.1609 41.0037 38.0668 41.6547 37.874 42.2109C37.7024 42.706 37.2689 43.6643 36.1738 43.9336C35.6841 44.054 35.2254 43.9904 34.8857 43.9043C34.5358 43.8156 34.1997 43.6735 33.9023 43.5273C33.3142 43.2382 32.688 42.8344 32.1426 42.4785C31.5613 42.0992 31.0578 41.7651 30.6074 41.5166C30.095 41.2339 29.9354 41.2295 30 41.2295C26.122 41.2295 22.5519 40.0695 19.916 38.1201C17.2805 36.1709 15.5001 33.3573 15.5 30.1152C15.5 26.8731 17.2805 24.0596 19.916 22.1104C22.5519 20.1609 26.1219 19 30 19Z' stroke='%230F271F' stroke-width='3'/%3E%3C/svg%3E%0A");
}
footer .f_u > .f_l > ul > li:nth-child(3) > strong::before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_245_561' fill='white'%3E%3Cpath d='M30 0C46.5685 0 60 13.4315 60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0Z'/%3E%3C/mask%3E%3Cpath d='M30 0C46.5685 0 60 13.4315 60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0Z' fill='white'/%3E%3Cpath d='M30 0V3C44.9117 3 57 15.0883 57 30H60H63C63 11.7746 48.2254 -3 30 -3V0ZM60 30H57C57 44.9117 44.9117 57 30 57V60V63C48.2254 63 63 48.2254 63 30H60ZM30 60V57C15.0883 57 3 44.9117 3 30H0H-3C-3 48.2254 11.7746 63 30 63V60ZM0 30H3C3 15.0883 15.0883 3 30 3V0V-3C11.7746 -3 -3 11.7746 -3 30H0Z' fill='%230F271F' mask='url(%23path-1-inside-1_245_561)'/%3E%3Cpath d='M30 30.75V21C30 20.6458 30.1198 20.349 30.3594 20.1094C30.599 19.8698 30.8958 19.75 31.25 19.75H40C40.3542 19.75 40.651 19.8698 40.8906 20.1094C41.1302 20.349 41.25 20.6458 41.25 21V27.25C41.25 27.6042 41.1302 27.901 40.8906 28.1406C40.651 28.3802 40.3542 28.5 40 28.5H33.75L31.0625 31.1875C30.8542 31.3958 30.625 31.4479 30.375 31.3438C30.125 31.2396 30 31.0417 30 30.75ZM32.5 26H38.75V22.25H32.5V26ZM39.9375 42.25C37.3333 42.25 34.7604 41.6823 32.2188 40.5469C29.6771 39.4115 27.3646 37.8021 25.2812 35.7188C23.1979 33.6354 21.5885 31.3229 20.4531 28.7812C19.3177 26.2396 18.75 23.6667 18.75 21.0625C18.75 20.6875 18.875 20.375 19.125 20.125C19.375 19.875 19.6875 19.75 20.0625 19.75H25.125C25.4167 19.75 25.6771 19.849 25.9062 20.0469C26.1354 20.2448 26.2708 20.4792 26.3125 20.75L27.125 25.125C27.1667 25.4583 27.1562 25.7396 27.0938 25.9688C27.0312 26.1979 26.9167 26.3958 26.75 26.5625L23.7188 29.625C24.1354 30.3958 24.6302 31.1406 25.2031 31.8594C25.776 32.5781 26.4062 33.2708 27.0938 33.9375C27.7396 34.5833 28.4167 35.1823 29.125 35.7344C29.8333 36.2865 30.5833 36.7917 31.375 37.25L34.3125 34.3125C34.5 34.125 34.7448 33.9844 35.0469 33.8906C35.349 33.7969 35.6458 33.7708 35.9375 33.8125L40.25 34.6875C40.5417 34.7708 40.7812 34.9219 40.9688 35.1406C41.1562 35.3594 41.25 35.6042 41.25 35.875V40.9375C41.25 41.3125 41.125 41.625 40.875 41.875C40.625 42.125 40.3125 42.25 39.9375 42.25ZM22.5312 27.25L24.5938 25.1875L24.0625 22.25H21.2812C21.3854 23.1042 21.5312 23.9479 21.7188 24.7812C21.9062 25.6146 22.1771 26.4375 22.5312 27.25ZM33.7188 38.4375C34.5313 38.7917 35.3594 39.0729 36.2031 39.2812C37.0469 39.4896 37.8958 39.625 38.75 39.6875V36.9375L35.8125 36.3438L33.7188 38.4375Z' fill='%230F271F'/%3E%3Cpath d='M25.125 19.75C25.4167 19.75 25.6771 19.849 25.9062 20.0469C26.1354 20.2448 26.2708 20.4792 26.3125 20.75L27.125 25.125C27.1667 25.4583 27.1562 25.7396 27.0938 25.9688C27.0313 26.1979 26.9167 26.3958 26.75 26.5625L23.7188 29.625C24.1354 30.3958 24.6302 31.1406 25.2031 31.8594C25.776 32.5781 26.4063 33.2708 27.0938 33.9375C27.7396 34.5833 28.4167 35.1823 29.125 35.7344C29.8333 36.2865 30.5833 36.7917 31.375 37.25L34.3125 34.3125C34.5 34.125 34.7448 33.9844 35.0469 33.8906C35.349 33.7969 35.6458 33.7708 35.9375 33.8125L40.25 34.6875C40.5417 34.7708 40.7812 34.9219 40.9688 35.1406C41.1562 35.3594 41.25 35.6042 41.25 35.875V40.9375C41.25 41.3125 41.125 41.625 40.875 41.875C40.625 42.125 40.3125 42.25 39.9375 42.25C37.3333 42.25 34.7604 41.6823 32.2188 40.5469C29.6771 39.4115 27.3646 37.8021 25.2812 35.7188C23.1979 33.6354 21.5885 31.3229 20.4531 28.7812C19.3177 26.2396 18.75 23.6667 18.75 21.0625C18.75 20.6875 18.875 20.375 19.125 20.125C19.375 19.875 19.6875 19.75 20.0625 19.75H25.125ZM33.7188 38.4375C34.5312 38.7917 35.3594 39.0729 36.2031 39.2812C37.0469 39.4896 37.8958 39.625 38.75 39.6875V36.9375L35.8125 36.3438L33.7188 38.4375ZM21.2812 22.25C21.3854 23.1042 21.5312 23.9479 21.7188 24.7812C21.9062 25.6146 22.1771 26.4375 22.5312 27.25L24.5938 25.1875L24.0625 22.25H21.2812ZM32.5 26H38.75V22.25H32.5V26ZM31.0625 31.1875C30.8542 31.3958 30.625 31.4479 30.375 31.3438C30.125 31.2396 30 31.0417 30 30.75V21C30 20.6458 30.1198 20.349 30.3594 20.1094C30.599 19.8698 30.8958 19.75 31.25 19.75H40C40.3542 19.75 40.651 19.8698 40.8906 20.1094C41.1302 20.349 41.25 20.6458 41.25 21V27.25C41.25 27.6042 41.1302 27.901 40.8906 28.1406C40.651 28.3802 40.3542 28.5 40 28.5H33.75L31.0625 31.1875Z' fill='%230F271F'/%3E%3C/svg%3E%0A");
}
footer .f_u > .f_l > ul > li > span {
    display: block;
}
footer .f_u > .f_l > ul > li:nth-child(1) > strong {
    font-size: var(--txt-size-tit4);
    font-weight: 700;
    line-height: 20px;
    padding: 40px 0 15px 0;
}
footer .f_u > .f_l > ul > li:nth-child(1) > span {
    font-size: var(--txt-size-tit5);
    font-weight: 700;
    line-height: 15px;
    padding-bottom: 15px;
}
footer .f_u > .f_r {
    width: 100%;
}
footer .f_u > .f_r > .map {
    width: 100%;
    height: 320px;
    margin-top: 170px;
    border-radius: 20px;
    overflow: hidden;
}
footer .f_u > .f_r > .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
footer .f_s {
    display: flex;
}
footer .f_s strong {
    display: block;
    font-size: var(--txt-size-tit5);
    color: rgba(255, 255, 255, 0.4);
}
footer .f_s ul {
    display: flex;
    color: rgba(255, 255, 255, 0.4);
}
footer .f_s {
    margin-top: 40px;
    padding: 20px 0 160px 0;
    border-top: 1px solid var(--txt-color-cnt);
}
footer .f_s ul li {
    margin-right: 24px;
}
footer .f_s ul li:last-child {
    margin: 0;
}
