.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; 
    width: 100%;
    z-index: 9999999999999999999999999999999999;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--txt-color-main);
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.skip_nav a:focus {
    top: 100px;
}

/*header*/

header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    background-color: #fff;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 0 20px;
    margin: 10px 20px;
    border: 1px solid var(--txt-color-main);
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    width: 50px;
    height: 60px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .gnb .gnb_open::before,
header .gnb .gnb_close::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
header .gnb .gnb_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_324' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_324)'%3E%3Cpath d='M5.66602 28.3337V26.917H28.3327V28.3337H5.66602ZM5.66602 17.7087V16.292H28.3327V17.7087H5.66602ZM5.66602 7.08366V5.66699H28.3327V7.08366H5.66602Z' fill='%230D0D0D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .gnb .gnb_close::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_69_909' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_69_909)'%3E%3Cpath d='M9.0671 25.9364L8.06445 24.9338L15.9978 17.0004L8.06445 9.0671L9.0671 8.06445L17.0004 15.9978L24.9338 8.06445L25.9364 9.0671L18.0031 17.0004L25.9364 24.9338L24.9338 25.9364L17.0004 18.0031L9.0671 25.9364Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .gnb .gnb_close {
    display: none;
}
header .gnb .gnb_wrap {
    display: none;
}
header .logo {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 46px;
    height: 46px;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/main/logo_b.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
header .tnb ul {
    display: flex;
}
header .tnb ul li {
    width: 40px;
    margin-right: 7px;
}
header .tnb ul li:last-child {
    margin: 0;
}
header .tnb ul li a {
    display: block;
    height: 60px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .tnb ul li a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 34px;
    height: 34px;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
header .tnb ul li.search a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_327' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_327)'%3E%3Cpath d='M15.5833 25.5C18.3222 25.5 20.6597 24.5334 22.5958 22.6001C24.5319 20.6666 25.5 18.3277 25.5 15.5833C25.5 12.8444 24.5319 10.5069 22.5958 8.57083C20.6597 6.63472 18.3222 5.66667 15.5833 5.66667C12.839 5.66667 10.5001 6.63472 8.56658 8.57083C6.63331 10.5069 5.66667 12.8444 5.66667 15.5833C5.66667 18.3277 6.63331 20.6666 8.56658 22.6001C10.5001 24.5334 12.839 25.5 15.5833 25.5ZM15.5833 26.9167C14.0122 26.9167 12.5397 26.6211 11.1658 26.0298C9.79188 25.4386 8.59138 24.6295 7.56429 23.6024C6.53721 22.5753 5.72806 21.3748 5.13683 20.0009C4.54561 18.6269 4.25 17.1544 4.25 15.5833C4.25 14.0177 4.54561 12.5479 5.13683 11.174C5.72806 9.80003 6.53721 8.5981 7.56429 7.56819C8.59138 6.53851 9.79188 5.72805 11.1658 5.13683C12.5397 4.54561 14.0122 4.25 15.5833 4.25C17.149 4.25 18.6188 4.54561 19.9927 5.13683C21.3666 5.72805 22.5686 6.53851 23.5985 7.56819C24.6282 8.5981 25.4386 9.80003 26.0298 11.174C26.6211 12.5479 26.9167 14.0177 26.9167 15.5833C26.9167 17.0217 26.6643 18.3776 26.1595 19.6509C25.6544 20.924 24.956 22.07 24.0642 23.0888L29.75 28.7746L28.7665 29.75L23.0807 24.0724C22.0619 24.9641 20.9159 25.6611 19.6428 26.1634C18.3694 26.6656 17.0163 26.9167 15.5833 26.9167Z' fill='%230D0D0D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb ul li.lang a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4 18.66V20H1.8V6H12.2V7.32H3.14V12.14H11.64V13.48H3.14V18.66H12.4ZM26.5784 6H27.8984V20H26.0984L16.5184 7.56V20H15.1984V6H16.9984L26.5784 18.44V6Z' fill='%230D0D0D'/%3E%3Cline x1='4.37114e-08' y1='29.5' x2='30' y2='29.5' stroke='%230D0D0D'/%3E%3C/svg%3E%0A");
}
header .tnb ul li.login a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_321' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_321)'%3E%3Cpath d='M8.77802 24.7697C9.98219 23.9034 11.2599 23.2183 12.6112 22.7145C13.9624 22.2104 15.4254 21.9583 17 21.9583C18.5746 21.9583 20.0376 22.2104 21.3888 22.7145C22.7401 23.2183 24.0178 23.9034 25.222 24.7697C26.1575 23.8017 26.9098 22.6584 27.4791 21.34C28.0486 20.0213 28.3333 18.5746 28.3333 17C28.3333 13.8597 27.2295 11.1858 25.0219 8.97813C22.8142 6.77049 20.1403 5.66667 17 5.66667C13.8597 5.66667 11.1858 6.77049 8.97813 8.97813C6.77049 11.1858 5.66667 13.8597 5.66667 17C5.66667 18.5746 5.95142 20.0213 6.52092 21.34C7.09018 22.6584 7.84255 23.8017 8.77802 24.7697ZM13.98 16.4783C13.16 15.6583 12.75 14.6516 12.75 13.4583C12.75 12.265 13.16 11.2584 13.98 10.4384C14.8 9.61834 15.8067 9.20833 17 9.20833C18.1933 9.20833 19.2 9.61834 20.02 10.4384C20.84 11.2584 21.25 12.265 21.25 13.4583C21.25 14.6516 20.84 15.6583 20.02 16.4783C19.2 17.2983 18.1933 17.7083 17 17.7083C15.8067 17.7083 14.8 17.2983 13.98 16.4783ZM17 29.75C15.2218 29.75 13.5573 29.419 12.0062 28.7569C10.4552 28.0949 9.10574 27.19 7.95777 26.0422C6.81003 24.8943 5.90514 23.5448 5.24308 21.9937C4.58103 20.4427 4.25 18.7782 4.25 17C4.25 15.2218 4.58103 13.5573 5.24308 12.0062C5.90514 10.4552 6.81003 9.10574 7.95777 7.95777C9.10574 6.81003 10.4552 5.90514 12.0062 5.24308C13.5573 4.58103 15.2218 4.25 17 4.25C18.7782 4.25 20.4427 4.58103 21.9937 5.24308C23.5448 5.90514 24.8943 6.81003 26.0422 7.95777C27.19 9.10574 28.0949 10.4552 28.7569 12.0062C29.419 13.5573 29.75 15.2218 29.75 17C29.75 18.7782 29.419 20.4427 28.7569 21.9937C28.0949 23.5448 27.19 24.8943 26.0422 26.0422C24.8943 27.19 23.5448 28.0949 21.9937 28.7569C20.4427 29.419 18.7782 29.75 17 29.75ZM20.8551 27.648C22.119 27.1914 23.2114 26.5662 24.1322 25.7724C23.2114 25.0331 22.1462 24.4487 20.9366 24.0192C19.727 23.5897 18.4148 23.375 17 23.375C15.5852 23.375 14.2684 23.5853 13.0496 24.0058C11.8311 24.4263 10.7704 25.0151 9.86779 25.7724C10.7886 26.5662 11.881 27.1914 13.1449 27.648C14.409 28.1049 15.6941 28.3333 17 28.3333C18.3059 28.3333 19.591 28.1049 20.8551 27.648ZM19.0134 15.4718C19.56 14.9249 19.8333 14.2538 19.8333 13.4583C19.8333 12.6629 19.56 11.9917 19.0134 11.4449C18.4666 10.8983 17.7955 10.625 17 10.625C16.2045 10.625 15.5334 10.8983 14.9866 11.4449C14.44 11.9917 14.1667 12.6629 14.1667 13.4583C14.1667 14.2538 14.44 14.9249 14.9866 15.4718C15.5334 16.0184 16.2045 16.2917 17 16.2917C17.7955 16.2917 18.4666 16.0184 19.0134 15.4718Z' fill='%230D0D0D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb ul li.cart a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_318' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_318)'%3E%3Cpath d='M8.84242 29.2995C8.43301 28.8898 8.2283 28.3863 8.2283 27.7889C8.2283 27.1914 8.43301 26.6877 8.84242 26.2781C9.25207 25.8687 9.7557 25.6639 10.3533 25.6639C10.9509 25.6639 11.4544 25.8687 11.8638 26.2781C12.2735 26.6877 12.4783 27.1914 12.4783 27.7889C12.4783 28.3863 12.2735 28.8898 11.8638 29.2995C11.4544 29.7091 10.9509 29.9139 10.3533 29.9139C9.7557 29.9139 9.25207 29.7091 8.84242 29.2995ZM22.1375 29.2995C21.7278 28.8898 21.523 28.3863 21.523 27.7889C21.523 27.1914 21.7278 26.6877 22.1375 26.2781C22.5469 25.8687 23.0504 25.6639 23.648 25.6639C24.2456 25.6639 24.7492 25.8687 25.1589 26.2781C25.5683 26.6877 25.773 27.1914 25.773 27.7889C25.773 28.3863 25.5683 28.8898 25.1589 29.2995C24.7492 29.7091 24.2456 29.9139 23.648 29.9139C23.0504 29.9139 22.5469 29.7091 22.1375 29.2995ZM8.33171 7.79199L12.1132 15.7473H22.0298L26.3889 7.79199H8.33171ZM7.63967 6.37533H28.7809L22.877 17.164H11.4757L9.15444 21.4139H25.773V22.8306H6.71636L10.6037 15.889L5.39496 4.95866H2.83398V3.54199H6.29384L7.63967 6.37533Z' fill='%230D0D0D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width: 1024px){
    header {
        height: 50px;
        z-index: 100;
    }
    header .inner {
        margin: 5px 10px;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        width: 30px;
        height: 40px;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        width: 17px;
        height: 17px;
    }
    header .logo {
        display: none;
    }
    header .tnb ul li {
        width: 25px;
        margin-right: 5px;
    }
    header .tnb ul li a {
        height: 40px;
    }
    header .tnb ul li a::before {
        width: 17px;
        height: 17px;
    }
}