@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*visual*/

.visual {
    border-radius: 30px;
    border: 1px solid var(--txt-color-main);
    margin: 90px 20px 0 20px;
}
.visual ul li {
    height: 100vh;
}
.visual ul li .photo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-radius: 500px;
    z-index: 2;
}
.visual ul li .photo image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .visual_txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.visual .visual_txt h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-family: 'MADEOuterSans-Outline-Bold';
    color: var(--txt-color-point);
}
.visual .visual_txt p {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -25%);
    font-size: 200px;
    font-family: 'Miama';
    white-space: nowrap;
}
.visual .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
.visual .swiper-pagination-bullet {
    width: 20px;
    height: 8px;
    border: 1px solid var(--txt-color-main);
    border-radius: 0;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    margin-right: 10px;
    opacity: 1;
}
.visual .swiper-pagination-bullet:last-child {
    margin: 0;
}
.visual .swiper-pagination-bullet-active {
    width: 50px;
    background-color: var(--txt-color-main);
}

@media screen and (max-width: 1024px){
    .visual {
        border-radius: 15px;
        margin-top: 60px;
        margin: 55px 10px 0 10px;
    }
    .visual ul li {
        height: 100vh;
    }
    .visual ul li .photo {
        width: 110px;
        height: 160px;
    }
    .visual ul li .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .visual .visual_txt h2 {
        font-size: 50px;
    }
    .visual .visual_txt p {
        font-size: 55px;
    }
    .visual .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 34%;
    }
    .visual .swiper-pagination-bullet {
        width: 10px;
        height: 3px;
        margin-right: 5px;
    }
    .visual .swiper-pagination-bullet-active {
        width: 18px;
    }
}

/*aboutus*/

.aboutus {
    position: relative;
    text-align: center;
}
.aboutus .sehan h2 {
    font-size: var(--txt-size-main-tit1);
    font-family: 'MADEOuterSans-Bold';
    padding-top: 400px;
}
.aboutus .sehan p {
    font-family: 'Pretendard';
    font-weight: 300;
    line-height: 40px;
    margin: 40px 0;
}
.aboutus .sehan .more {
    padding-bottom: 350px;
}
.aboutus .sehan .more a {
    display: inline-block;
    font-size: var(--txt-size-main-cont2);
    padding: 12px 95px 12px 30px;
    position: relative;
    border-radius: 50px;
    border: 1px solid var(--txt-color-main);
    background-color: #fff;
}
.aboutus .sehan .more a::before {
    position: absolute;
    right: 30px;
    top: 12px;
    width: 25px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_306' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_306)'%3E%3Cpath d='M12.0794 18.6596L15.1161 13.281H2.34375V11.7185H15.1161L12.0794 6.33984L21.7648 12.4997L12.0794 18.6596Z' fill='%230D0D0D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.aboutus .sh_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus .sh_bg .sh_bg_l strong {
    display: block;
    text-align: left;
    font-family: 'MADEOuterSans-Outline-Bold';
    font-size: 70px;
}