@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*visual*/

.visual {
    border-radius: 30px;
    border: 1px solid var(--txt-color-main);
    margin: 90px 20px 0 20px;
}
.visual ul li {
    height: 100vh;
}
.visual ul li .photo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-radius: 500px;
    z-index: 2;
}
.visual ul li .photo image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .visual_txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.visual .visual_txt h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-family: 'MADEOuterSans-Outline-Bold';
    color: var(--txt-color-point);
}
.visual .visual_txt p {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -25%);
    font-size: 200px;
    font-family: 'Miama';
    white-space: nowrap;
}
.visual .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
.visual .swiper-pagination-bullet {
    width: 20px;
    height: 8px;
    border: 1px solid var(--txt-color-main);
    border-radius: 0;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    margin-right: 10px;
    opacity: 1;
}
.visual .swiper-pagination-bullet:last-child {
    margin: 0;
}
.visual .swiper-pagination-bullet-active {
    width: 50px;
    background-color: var(--txt-color-main);
}

@media screen and (max-width: 1024px){
    .visual {
        border-radius: 15px;
        margin-top: 60px;
        margin: 55px 10px 0 10px;
    }
    .visual ul li {
        height: 100vh;
    }
    .visual ul li .photo {
        width: 110px;
        height: 160px;
    }
    .visual ul li .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .visual .visual_txt h2 {
        font-size: 50px;
    }
    .visual .visual_txt p {
        font-size: 55px;
    }
    .visual .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 34%;
    }
    .visual .swiper-pagination-bullet {
        width: 10px;
        height: 3px;
        margin-right: 5px;
    }
    .visual .swiper-pagination-bullet-active {
        width: 18px;
    }
}

/*aboutus*/

.aboutus {
    position: relative;
    text-align: center;
}
.aboutus .wrapper {
    width: 100%;
}
.aboutus .sehan h2 {
    font-size: var(--txt-size-main-tit1);
    font-family: 'MADEOuterSans-Bold';
    padding-top: 400px;
    position: relative;
}
.aboutus .sehan h2::before {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: 1px;
    height: 80%;
    background-color: var(--txt-color-main);
    content: "";
}
.aboutus .sehan p {
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: var(--txt-size-main-cont2);
    line-height: 40px;
    margin: 40px 0;
}
.aboutus .sehan .more {
    padding-bottom: 350px;
}
.aboutus .sehan .more a {
    display: inline-block;
    font-size: var(--txt-size-main-cont2);
    padding: 12px 95px 12px 30px;
    position: relative;
    border-radius: 50px;
    border: 1px solid var(--txt-color-main);
    background-color: #fff;
    transition: 0.5s;
}
.aboutus .sehan .more a::before {
    position: absolute;
    right: 30px;
    top: 12px;
    width: 25px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_306' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_306)'%3E%3Cpath d='M12.0794 18.6596L15.1161 13.281H2.34375V11.7185H15.1161L12.0794 6.33984L21.7648 12.4997L12.0794 18.6596Z' fill='%230D0D0D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.aboutus .sehan .more a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_306' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_306)'%3E%3Cpath d='M12.0794 18.6596L15.1161 13.281H2.34375V11.7185H15.1161L12.0794 6.33984L21.7648 12.4997L12.0794 18.6596Z' fill='%23FF0000'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.aboutus .sehan .more a:hover {
    background-color: var(--txt-color-main);
    color: var(--txt-color-point);
}
.aboutus .sh_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus .sh_bg .sh_bg_l strong {
    display: block;
    text-align: left;
    font-family: 'MADEOuterSans-Outline-Bold';
    font-size: 70px;
}
.aboutus .sh_bg .sh_bg_l {
    margin-right: 15%;
}
.aboutus .sh_bg .sh_bg_r {
    text-align: right;
}
.aboutus .sh_bg .sh_bg_r .photo3 {
    margin-top: 13%;
}
.aboutus .sh_bg .sh_bg_l .photo1,
.aboutus .sh_bg .sh_bg_r .photo2,
.aboutus .sh_bg .sh_bg_r .photo3 {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.aboutus .sh_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .aboutus .wrapper {
        width: auto;
    }
    .aboutus .sehan h2 {
        font-size: var(--txt-size-main-cont1);
        padding-top: 115px;
    }
    .aboutus .sehan h2::before {
        height: 68%;
    }
    .aboutus .sehan p {
        font-size: var(--txt-size-main-cont4);
        line-height: 28px;
        margin: 10px 0 30px 0;
    }
    .aboutus .sehan p br {
        display: none;
    }
    .aboutus .sehan .more {
        padding-bottom: 95px;
    }
    .aboutus .sehan .more a {
        font-size: var(--txt-size-main-cont3);
        padding: 6px 55px 6px 15px;
        border-radius: 25px;
    }
    .aboutus .sehan .more a::before {
        right: 15px;
        top: 6px;
        width: 17px;
        height: 17px;
    }
    .aboutus .sh_bg {
        position: relative;
        display: block;
    }
    .aboutus .sh_bg .sh_bg_l .photo1 {
        width: auto;
        height: 200px;
    }
    .aboutus .sh_bg .sh_bg_l strong {
        font-size: var(--txt-size-main-tit2);
    }
    .aboutus .sh_bg .sh_bg_l {
        margin-right: 0;
    }
    .aboutus .sh_bg .sh_bg_r .photo2 {
        width: 200px;
        height: 100px;
        text-align: right;
        margin: 10px 0 20px auto;
    }
    .aboutus .sh_bg .sh_bg_r .photo3 {
        margin-top: 0;
        width: 180px;
        height: 260px;
        padding-bottom: 100px;
    }
}

/*collection*/

.collection .pf {
    display: flex;
}
.collection .pf .wrapper {
    margin: auto 0 auto 100px;
}
.collection .pf .wrapper h2 {
    width: 100%;
    font-family: 'MADEOuterSans-Bold';
    font-size: var(--txt-size-main-tit1);
    padding-bottom: 20px;
    position: relative;
}
.collection .pf .left-photo {
    flex-shrink: 0;
    width: 650px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.collection .pf .left-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection .pf .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.collection .pf .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection .pf ul {
    display: flex;
    align-items: center;
    min-height: 450px;
    width: max-content;
}
.collection .pf ul li:nth-child(7) {
    padding: 20px 0 0 0;
}
.collection .pf ul li {
    display: block;
    min-width: 450px;
    padding: 20px 24px 0 0;
}
.collection .pf ul li:not(.more) {
    border-top: 1px solid var(--txt-color-main-cont2);
}
.collection .pf ul li a {
    display: block;
}
.collection .pf ul li strong {
    display: block;
    font-family: 'MADEOuterSans-Regular';
    font-size: var(--txt-size-main-tit2);
    margin: 15px 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.collection .pf ul li span {
    display: block;
    font-size: var(--txt-size-main-cont1);
    color: var(--txt-color-main-cont1);
}
.collection .pf ul li.more {
    margin-left: 50px;
}
.collection .pf ul li.more a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--txt-color-main);
    transition: 0.5s;
}
.collection .pf ul li.more a:hover {
    background-color: var(--txt-color-main);
}
.collection .pf ul li.more a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 37px;
    height: 37px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_59_379' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_59_379)'%3E%3Cpath d='M16.293 28.3327V17.7077H5.66797V16.291H16.293V5.66602H17.7096V16.291H28.3346V17.7077H17.7096V28.3327H16.293Z' fill='%230D0D0D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.collection .pf ul li.more a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_164_9' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_164_9)'%3E%3Cpath d='M16.293 28.3327V17.7077H5.66797V16.291H16.293V5.66602H17.7096V16.291H28.3346V17.7077H17.7096V28.3327H16.293Z' fill='%23FF0000'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.collection .pf ul li a > .photo {
    position: relative;
}
.collection .pf ul li a:hover > .photo img {
    opacity: 0;
}
.collection .pf ul li a > .photo::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
.collection .pf ul li a:hover > .photo::after {
    opacity: 1;
    visibility: visible;
}
.collection .pf ul li:nth-child(1) a > .photo::after {
    background-image: url(../images/main/perfume_mo_1.png);
}
.collection .pf ul li:nth-child(2) a > .photo::after {
    background-image: url(../images/main/perfume_mo_2.png);
}
.collection .pf ul li:nth-child(3) a > .photo::after {
    background-image: url(../images/main/perfume_mo_3.png);
}
.collection .pf ul li:nth-child(4) a > .photo::after {
    background-image: url(../images/main/perfume_mo_4.png);
}
.collection .pf ul li:nth-child(5) a > .photo::after {
    background-image: url(../images/main/perfume_mo_5.png);
}
.collection .pf ul li:nth-child(6) a > .photo::after {
    background-image: url(../images/main/perfume_mo_6.png);
}
.collection .pf ul li:nth-child(7) a > .photo::after {
    background-image: url(../images/main/perfume_mo_7.png);
}

@media screen and (max-width: 1024px){
    .collection .pf {
        display: block;
    }
    .collection .pf .left-photo {
        width: 100%;
        height: 200px;
    }
    .collection .pf .wrapper {
        margin: 0 20px;
        width: auto;
    }
    .collection .pf .wrapper h2 {
        margin-top: 70px;
        font-size: var(--txt-size-main-cont1);
        padding-bottom: 10px;
        border-bottom: 1px solid var(--txt-color-main-cont2);
    }
    .collection .pf ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2열 */
        gap: 16px;
        position: relative;
        padding-bottom: 125px;
        width: auto;
        margin-top: 10px;
    }
    .collection .pf ul li {
        margin: 0;
        min-width: 0;
        padding: 0;
    }
    .collection .pf ul li:not(.more) {
        border: 0;
    }
    .collection .pf ul li strong {
        font-size: var(--txt-size-main-cont3);
        margin: 5px 0;
    }
    .collection .pf ul li span {
        font-size: var(--txt-size-main-cont4);
        padding-bottom: 30px;
    }
    .collection .pf ul li.more {
        margin: 0;
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, 0);
        justify-items: center;
    }
    .collection .pf ul li.more a {
        width: 45px;
        height: 45px;
    }
    .collection .pf ul li.more a::before {
        width: 17px;
        height: 17px;
    }
}

/*gift*/

.gift {
    text-align: center;
    position: relative;
    background-color: rgba(222, 222, 222, 0.2);
}
.gift .wrapper {
    width: 100%;
}
.gift h2 {
    font-family: 'MADEOuterSans-Bold';
    font-size: var(--txt-size-main-tit1);
    padding: 250px 0 0 0;
}
.gift p {
    display: block;
    font-size: var(--txt-size-main-cont1);
    margin: 25px 0 45px 0;
}
.gift ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 550px;
}
.gift ul li {
    margin-right: 40px;
}
.gift ul li:last-child {
    margin: 0;
}
.gift ul li a {
    display: block;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    border: 1px solid var(--txt-color-main);
    transition: 0.5s;
}
.gift ul li.cm a:hover {
    background-color: var(--txt-color-main);
}
.gift ul li.kakao a:hover {
    background-color: #FFE000;
    border-color: #FFE000;
}
.gift ul li.naver a:hover {
    border-color: #32B44A;
}
.gift ul li.coupang a:hover {
    border-color: #935229;
}
.gift ul li a span {
    display: block;
    padding-top: 99px;
    position: relative;
    transition: 0.5s;
}
.gift ul li.cm a:hover span {
    color: #fff;
}
.gift ul li.naver a:hover span {
    color: #32B44A;
}
.gift ul li.coupang a:hover span {
    color: #935229;
}
.gift ul li.coupang a span {
    padding-top: 80px;
}
.gift ul li a span::before {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    transition: 0.5s;
}
.gift ul li.cm a span::before {
    background-image: url(../images/main/cm.png);
    top: 25px;
}
.gift ul li.cm a:hover span::before {
    background-image: url(../images/main/cm_mo.png);
}
.gift ul li.kakao a span::before {
    background-image: url(../images/main/kakao.png);
}
.gift ul li.kakao a:hover span::before {
    background-image: url(../images/main/kakao_mo.png);
}
.gift ul li.naver a span::before {
    background-image: url(../images/main/naver.png);
}
.gift ul li.naver a:hover span::before {
    background-image: url(../images/main/naver_mo.png);
}
.gift ul li.coupang a span::before {
    background-image: url(../images/main/coupang.png);
}
.gift ul li.coupang a:hover span::before {
    background-image: url(../images/main/coupang_mo.png);
}
.gift ul li a span::after {
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translate(-50%, 0);
    width: 25px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='8' viewBox='0 0 21 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4648 0.146445C16.6601 -0.048817 16.9766 -0.048817 17.1719 0.146445L20.3535 3.32809C20.5488 3.52335 20.5488 3.83985 20.3535 4.03512L17.1719 7.21676C16.9766 7.41202 16.6601 7.41202 16.4648 7.21676C16.2696 7.0215 16.2696 6.70499 16.4648 6.50973L18.793 4.1816L3.65567e-07 4.1816L2.78145e-07 3.1816L18.793 3.1816L16.4648 0.853476C16.2696 0.658214 16.2696 0.341707 16.4648 0.146445Z' fill='black'/%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.gift ul li.coupang a span::after {
    bottom: -34px;
}
.gift ul li.cm a:hover span::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='8' viewBox='0 0 21 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4648 0.146445C16.6601 -0.048817 16.9766 -0.048817 17.1719 0.146445L20.3535 3.32809C20.5488 3.52335 20.5488 3.83985 20.3535 4.03512L17.1719 7.21676C16.9766 7.41202 16.6601 7.41202 16.4648 7.21676C16.2696 7.0215 16.2696 6.70499 16.4648 6.50973L18.793 4.1816L3.65567e-07 4.1816L2.78145e-07 3.1816L18.793 3.1816L16.4648 0.853476C16.2696 0.658214 16.2696 0.341707 16.4648 0.146445Z' fill='white'/%3E%3C/svg%3E%0A");
}
.gift ul li.naver a:hover span::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='8' viewBox='0 0 21 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4648 0.146445C16.6601 -0.048817 16.9766 -0.048817 17.1719 0.146445L20.3535 3.32809C20.5488 3.52335 20.5488 3.83985 20.3535 4.03512L17.1719 7.21676C16.9766 7.41202 16.6601 7.41202 16.4648 7.21676C16.2696 7.0215 16.2696 6.70499 16.4648 6.50973L18.793 4.1816L3.65567e-07 4.1816L2.78145e-07 3.1816L18.793 3.1816L16.4648 0.853476C16.2696 0.658214 16.2696 0.341707 16.4648 0.146445Z' fill='%2332B44A'/%3E%3C/svg%3E%0A");
}
.gift ul li.coupang a:hover span::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='8' viewBox='0 0 21 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4648 0.146445C16.6601 -0.048817 16.9766 -0.048817 17.1719 0.146445L20.3535 3.32809C20.5488 3.52335 20.5488 3.83985 20.3535 4.03512L17.1719 7.21676C16.9766 7.41202 16.6601 7.41202 16.4648 7.21676C16.2696 7.0215 16.2696 6.70499 16.4648 6.50973L18.793 4.1816L3.65567e-07 4.1816L2.78145e-07 3.1816L18.793 3.1816L16.4648 0.853476C16.2696 0.658214 16.2696 0.341707 16.4648 0.146445Z' fill='%23935229'/%3E%3C/svg%3E%0A");
}
.gift .move_txt {
    position: absolute;
    bottom: 38px;
    left: 0;
    width: 100%;
    font-size: 270px;
    color: rgba(13, 13, 13, 0.06);
    font-family: 'Miama';
    white-space: nowrap;
}
.gift .move_txt strong {
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: move_txt;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear
}
@keyframes move_txt {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-3660px, 0);}
}

@media screen and (max-width: 1024px){
    .gift .wrapper {
        width: auto;
    }
    .gift h2 {
        font-size: var(--txt-size-main-cont1);
        padding: 95px 0 0 0;
    }
    .gift p {
        font-size: var(--txt-size-main-cont3);
        margin: 10px 0 35px 0;
    }
    .gift ul {
        padding-bottom: 250px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
    }
    .gift ul li {
        margin-right: 0;
    }
    .gift ul li a {
        width: 150px;
        height: 150px;
    }
    .gift ul li a span {
        padding-top: 85px;
    }
    .gift ul li a span::before {
        top: 37px;
    }
    .gift ul li.coupang a span {
        padding-top: 70px;
    }
    .gift ul li a span::before {
        width: 50px;
        height: 50px;
    }
    .gift ul li.cm a span::before {
        top: 33px;
    }
    .gift ul li.coupang a span::before {
        top: 37px;
    }
    .gift ul li a span::after {
        bottom: -12px;
        width: 20px;
        height: 10px;
    }
    .gift ul li.coupang a span::after {
        bottom: -28px;
    }
    .gift .move_txt {
        bottom: 38px;
        font-size: 120px;
    }
    .gift .move_txt strong {
        position: absolute;
        left: 0;
        bottom: 0;
        animation-name: move_txt_m;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function:linear
    }
}
@keyframes move_txt_m {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-1630px, 0);}
}

/*places*/

.places h2 {
    font-family: 'MADEOuterSans-Bold';
    font-size: var(--txt-size-main-tit1);
    text-align: center;
    padding: 160px 0 70px 0;
}
.places ul {
    padding-bottom: 160px;
}
.places ul li a {
    display: block;
}
.places ul li a .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.places ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.places ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.places ul li a strong {
    display: block;
    font-family: 'MADEOuterSans-Bold';
    font-size: var(--txt-size-main-tit2);
    margin: 10px 0 5px 0;
}
.places ul li a span {
    display: block;
    font-size: var(--txt-size-main-cont2);
    color: var(--txt-color-main-cont1);
}

@media screen and (max-width: 1024px){
    .places h2 {
        font-size: var(--txt-size-main-cont1);
        padding: 95px 0 35px 0;
    }
    .places ul {
        padding-bottom: 90px;
    }
    .places ul li a strong {
        font-size: var(--txt-size-main-cont3);
        margin: 5px 0 2px 0;
    }
    .places ul li a span {
        font-size: var(--txt-size-main-cont4);
    }
}