@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*brand_visual*/

.brand_visual {
    background-image: url(../images/contents/brand_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.brand_visual h2 {
    font-family: 'Miama';
    font-size: 200px;
    padding-top: 370px;
    white-space: nowrap;
    line-height: 100px;
}
.brand_visual p {
    font-size: var(--txt-size-sub-cont2);
    font-weight: 300;
    line-height: 35px;
    padding-bottom: 380px;
}
@media screen and (max-width: 1024px){
    .brand_visual h2 {
        font-size: 60px;
        padding-top: 130px;
    }
    .brand_visual p {
        font-size: var(--txt-size-sub-cont4);
        line-height: 23px;
        padding-bottom: 130px;
    }
    .brand_visual p br {
        display: none;
    }
}

/*sehan*/

.sehan .sehan_story {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.sehan .sehan_story .sc_l .sns a {
    display: block;
    font-size: 0;
    line-height: 0;
    background-color: var(--txt-color-main);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}
.sehan .sehan_story .sc_l .sns a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.2418 8.94531C36.6134 8.94531 35.3203 10.2624 35.3203 11.8668C35.3203 13.4712 36.6374 14.7882 38.2418 14.7882C39.8462 14.7882 41.1632 13.4712 41.1632 11.8668C41.1632 10.2624 39.8462 8.94531 38.2418 8.94531Z' fill='white'/%3E%3Cpath d='M25.2147 12.6953C18.4139 12.6953 12.9062 18.2269 12.9062 25.0037C12.9062 31.7806 18.4379 37.3122 25.2147 37.3122C31.9915 37.3122 37.5231 31.7806 37.5231 25.0037C37.5231 18.2269 31.9915 12.6953 25.2147 12.6953ZM25.2147 32.8821C20.8564 32.8821 17.3363 29.338 17.3363 25.0037C17.3363 20.6694 20.8804 17.1254 25.2147 17.1254C29.549 17.1254 33.093 20.6694 33.093 25.0037C33.093 29.338 29.549 32.8821 25.2147 32.8821Z' fill='white'/%3E%3Cpath d='M34.9856 50H15.0144C6.72893 50 0 43.2711 0 34.9856V15.0144C0 6.72893 6.72893 0 15.0144 0H34.9856C43.2711 0 50 6.72893 50 15.0144V34.9856C50 43.2711 43.2711 50 34.9856 50ZM15.0144 4.69349C9.31513 4.69349 4.69349 9.31513 4.69349 15.0144V34.9856C4.69349 40.6849 9.31513 45.3065 15.0144 45.3065H34.9856C40.6849 45.3065 45.3065 40.6849 45.3065 34.9856V15.0144C45.3065 9.31513 40.6849 4.69349 34.9856 4.69349H15.0144Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
.sehan .sehan_story .sc_l .l_txt {
    position: absolute;
    left: 0;
    bottom: 0;
}
.sehan .sehan_story .sc_l .l_txt strong {
    display: block;
    text-align: left;
    font-family: 'MADEOuterSans-Outline-Bold';
    font-size: 50px;
    color: var(--txt-color-main);
    line-height: 30px;
}
.sehan .sehan_story .sc_l .l_txt .photo,
.sehan .sehan_story .sc_r .sc_r_top .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.sehan .sehan_story .sc_l .l_txt .photo img,
.sehan .sehan_story .sc_r .sc_r_top .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sehan .sehan_story .sc_l .l_txt .photo {
    width: 300px;
    height: 370px;
    margin-top: 30px;
}
.sehan .sehan_story .sc_r {
    border-left: 1px solid var(--txt-color-main);
    padding: 0 0 40px 40px
}
.sehan .sehan_story .sc_r .sc_r_top {
    display: flex;
    justify-content: space-between;
}
.sehan .sehan_story .sc_r .sc_r_top .sc_r_tit h2 {
    font-family: 'MADEOuterSans-Bold';
    color: var(--txt-color-main);
    font-size: 100px;
}
.sehan .sehan_story .sc_r .sc_r_top .sc_r_tit p {
    font-family: 'MADEOuterSans-Outline-Bold';
    font-size: 70px;
    color: var(--txt-color-main);
    padding-left: 200px;
}
.sehan .sehan_story .sc_r .sc_r_top .photo {
    width: 500px;
    height: 570px;
    margin-left: 120px;
}
.sehan .sehan_story .sc_r .sc_r_sub {
    margin-top: 100px;
}
.sehan .sehan_story .sc_r .sc_r_sub strong {
    display: block;
    font-size: var(--txt-size-sub-cont2);
    font-weight: 300;
    line-height: 40px;
}
@media screen and (max-width: 1400px){
    .sehan .sehan_story {
        display: block;
    }
    .sehan .sehan_story .sc_l {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .sehan .sehan_story .sc_l .l_txt {
        position: relative;
    }
    .sehan .sehan_story .sc_r {
        padding: 40px 0 0 0;
        border-left: 0;
        border-top: 1px solid var(--txt-color-main);
    }
}
@media screen and (max-width: 1024px){
    .sehan .sehan_story {
        padding-top: 20px;
    }
    .sehan .sehan_story .sc_l {
        padding-bottom: 20px;
    }
    .sehan .sehan_story .sc_l .sns a {
        width: 50px;
        height: 50px;
    }
    .sehan .sehan_story .sc_l .sns a::before {
        width: 24px;
        height: 24px;
    }
    .sehan .sehan_story .sc_l .l_txt {
        display: flex;
        align-items: flex-end;
    }
    .sehan .sehan_story .sc_l .l_txt strong {
        line-height: 10px;
        font-size: var(--txt-size-sub-cont2);
    }
    .sehan .sehan_story .sc_l .l_txt .photo {
        margin: 0 0 0 8px;
        width: 95px;
        height: 100px;
    }
    .sehan .sehan_story .sc_r {
        padding-top: 20px;
    }
    .sehan .sehan_story .sc_r .sc_r_top .photo {
        width: 150px;
        height: 190px;
        margin-left: 16px;
    }
    .sehan .sehan_story .sc_r .sc_r_top .sc_r_tit h2 {
        font-size: var(--txt-size-sub-tit3);
    }
    .sehan .sehan_story .sc_r .sc_r_top .sc_r_tit p {
        font-size: var(--txt-size-sub-cont2);
        padding-left: 70px;
    }
    .sehan .sehan_story .sc_r .sc_r_sub {
        margin-top: 40px;
    }
    .sehan .sehan_story .sc_r .sc_r_sub strong {
        font-size: var(--txt-size-sub-cont4);
        line-height: 23px;
    }
}

/*places*/

.places ul li {
    width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 190%;
    position: relative;
    margin-bottom: 20px;
    transition: background-size 0.3s ease;
}
.places ul li:nth-child(1) {
    background-image: url(../images/contents/places_1.png);
}
.places ul li:nth-child(2) {
    background-image: url(../images/contents/places_2.png);
}
.places ul li:nth-child(3) {
    background-image: url(../images/contents/places_3.png);
}
.places ul li:nth-child(4) {
    background-image: url(../images/contents/places_4.png);
}
.places ul li a {
    display: block;
    height: 100%;
}
.places ul li:hover {
    background-size: 200%;
}
.places ul li a span {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #fff;
    font-size: var(--txt-size-sub-cont1);
    padding-right: 50px;
    font-family: 'MADEOuterSans-Bold';
}
.places ul li a span::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_109_947' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_109_947)'%3E%3Cpath d='M16.9112 26.1227L21.1626 18.5926H3.28125V16.4051H21.1626L16.9112 8.875L30.4708 17.4989L16.9112 26.1227Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (max-width: 1024px){
    .sehan .sehan_story {
        margin-bottom: 20px;
    }
    .places ul li {
        width: auto;
        height: 100px;
        margin-bottom: 10px;
    }
    .places ul li a span {
        font-size: var(--txt-size-sub-cont3);
        padding-right: 27px;
        left: 15px;
        bottom: 15px;
    }
    .places ul li a span::before {
        width: 17px;
        height: 17px;
    }
}

/*perfume*/

.perfume h2 {
    font-family: 'MADEOuterSans-Bold';
    font-size: var(--txt-size-sub-tit1);
    padding: 150px 0 100px 0;
    text-align: center;
}
.perfume .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    color: var(--txt-color-main-cont2);
    border-top: 1px solid var(--txt-color-main-cont2);
}
.perfume .toolbar .count {
    font-size: var(--txt-size-sub-cont1);
}
.perfume .toolbar .filter button {
    font-size: 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    position: relative;
}
.perfume .toolbar .filter button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_108_271' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_108_271)'%3E%3Cpath d='M6.25 37.4224V35.3391H26.162V37.4224H6.25ZM6.25 27.4464V25.363H15.5448V27.4464H6.25ZM6.25 17.4703V15.387H15.5448V17.4703H6.25ZM42.2755 37.5026L34.1745 29.5219C33.4214 30.0854 32.6035 30.5214 31.7208 30.8297C30.8382 31.1384 29.9333 31.2927 29.0062 31.2927C26.6677 31.2927 24.6741 30.484 23.0255 28.8667C21.3773 27.2497 20.5531 25.2738 20.5531 22.9391C20.5531 20.6047 21.3781 18.629 23.0281 17.012C24.6785 15.3946 26.6745 14.5859 29.0161 14.5859C31.3575 14.5859 33.35 15.3946 34.9937 17.012C36.6378 18.629 37.4599 20.5981 37.4599 22.9193C37.4599 23.846 37.3057 24.7509 36.9974 25.6339C36.6887 26.5165 36.2392 27.321 35.649 28.0474L43.75 36.0281L42.2755 37.5026ZM29.0062 29.2094C30.7757 29.2094 32.2799 28.6017 33.5187 27.3865C34.7573 26.1712 35.3766 24.6887 35.3766 22.9391C35.3766 21.1898 34.7573 19.7075 33.5187 18.4922C32.2799 17.2769 30.7757 16.6693 29.0062 16.6693C27.2368 16.6693 25.7328 17.2769 24.4943 18.4922C23.2557 19.7075 22.6365 21.1898 22.6365 22.9391C22.6365 24.6887 23.2557 26.1712 24.4943 27.3865C25.7328 28.6017 27.2368 29.2094 29.0062 29.2094Z' fill='%230D0D0D' fill-opacity='0.4'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.perfume .p_list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.perfume .p_list ul li {
    margin-bottom: 36px;
    position: relative;
}
.perfume .p_list ul li:nth-child(1):before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/contents/best.png);
    content: "";
    z-index: 2;
}
.perfume .p_list ul li a {
    display: block;
}
.perfume .p_list ul li a .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: relative;
}
.perfume .p_list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perfume .p_list ul li a:hover > .photo img {
    opacity: 0;
}
.perfume .p_list ul li:last-child a:hover > .photo img {
    opacity: 1;
}
.perfume .p_list ul li a > .photo::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
.perfume .p_list ul li a:hover > .photo::after {
    opacity: 1;
    visibility: visible;
}
.perfume .p_list ul li:nth-child(1) a > .photo::after {
    background-image: url(../images/main/perfume_mo_1.png);
}
.perfume .p_list ul li:nth-child(2) a > .photo::after {
    background-image: url(../images/main/perfume_mo_2.png);
}
.perfume .p_list ul li:nth-child(3) a > .photo::after {
    background-image: url(../images/main/perfume_mo_3.png);
}
.perfume .p_list ul li:nth-child(4) a > .photo::after {
    background-image: url(../images/main/perfume_mo_4.png);
}
.perfume .p_list ul li:nth-child(5) a > .photo::after {
    background-image: url(../images/main/perfume_mo_5.png);
}
.perfume .p_list ul li:nth-child(6) a > .photo::after {
    background-image: url(../images/main/perfume_mo_6.png);
}
.perfume .p_list ul li:nth-child(7) a > .photo::after {
    background-image: url(../images/main/perfume_mo_7.png);
}
.perfume .p_list ul li a strong {
    display: block;
    font-family: 'MADEOuterSans-Bold';
    font-size: var(--txt-size-sub-tit3);
    margin: 15px 0 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.perfume .p_list ul li a span {
    display: block;
    font-size: var(--txt-size-sub-cont1);
    color: var(--txt-color-main-cont1);
}

/*.pf_list .pf_top .top_l*/

.pf_list {
    padding-bottom: 80px;
    border-bottom: 1px solid var(--txt-color-main-cont3);
}
.pf_list .pf_top {
    display: flex;
    padding-top: 110px;
}
.pf_list .pf_top .top_l {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.pf_list .pf_top .top_l .main-image-wrap {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #fff;
    overflow: hidden;
}
.pf_list .pf_top .top_l .main-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.25s ease;
}
.pf_list .pf_top .top_l .main-image-wrap img.fade { 
    opacity: 0; 
}
.pf_list .pf_top .top_l .thumb-list { 
    display: flex; gap: 8px; flex-wrap: wrap; 
}
.pf_list .pf_top .top_l .thumb-btn {
    width: 150px; height: 150px;
    border: 1px solid transparent;
    overflow: hidden; 
    cursor: pointer;
    padding: 0; 
    background: #fff;
    transition: border-color 0.2s, transform 0.15s;
}
.pf_list .pf_top .top_l .thumb-btn img { 
    width: 100%;
    height: 100%; 
    object-fit: contain; 
    display: block; 
}
.pf_list .pf_top .top_l .thumb-btn:hover { 
    border-color: var(--txt-color-main); 
}
.pf_list .pf_top .top_l .thumb-btn.active { 
    border-color: var(--txt-color-main); 
}

/*.pf_top .top_r*/

.pf_list .pf_top .top_r {
    width: 50%;
}
.pf_list .pf_top .top_r h2 {
    font-family: 'MADEOuterSans-Bold';
    font-size: var(--txt-size-sub-tit2);
    padding-top: 120px;
}
.pf_list .pf_top .top_r p {
    font-size: var( --txt-size-sub-tit3);
    margin: 10px 0 30px 0;
}
.pf_list .pf_top .top_r .pf_txt {
    font-size: var(--txt-size-sub-cont2);
    color: var(--txt-color-main-cont1);
    line-height: 40px;
    margin-bottom: 40px;
}
.pf_list .pf_top .top_r .options {
    padding: 24px 20px;
    border-width: 1px 0 1px 0;
    border-color: var(--txt-color-main-cont3);
    border-style: solid;
    display: flex;
    align-items: center;
}
.pf_list .pf_top .top_r .options label {
    font-size: var(--txt-size-sub-cont2);
    margin-right: 90px;
}
.pf_list .pf_top .top_r .options select#packagingOption {
    color: var(--txt-color-main-cont1);
    font-size: var(--txt-size-sub-cont2);
    padding: 10px 20px;
    width: 100%;
    border: 1px solid var(--txt-color-main-cont3);
    appearance: none;  
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_72_1247' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_72_1247)'%3E%3Cpath d='M11.9992 14.3077L8.19141 10.5H15.8069L11.9992 14.3077Z' fill='%230D0D0D' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 20px center;
}
.pf_list .pf_top .top_r .cart-item {
    padding: 24px 20px;
    border-bottom: 1px solid var(--txt-color-main-cont3);
}
.pf_list .pf_top .top_r .cart-item .cart-item-top {
    display: flex;
    justify-content: space-between;
    font-size: var(--txt-size-sub-cont2);
    color: var(--txt-color-main-cont1);
}
.pf_list .pf_top .top_r .cart-item .cart-item-top button.item-remove {
    font-size: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_72_1251' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_72_1251)'%3E%3Cpath d='M6.39916 18.3079L5.69141 17.6001L11.2914 12.0001L5.69141 6.40013L6.39916 5.69238L11.9992 11.2924L17.5992 5.69238L18.3069 6.40013L12.7069 12.0001L18.3069 17.6001L17.5992 18.3079L11.9992 12.7079L6.39916 18.3079Z' fill='%230D0D0D' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.pf_list .pf_top .top_r .cart-item .cart-item-bottom {
    display: flex;
    justify-content: space-between;
    font-size: var(--txt-size-sub-cont2);
    margin-top: 28px;
}
.pf_list .pf_top .top_r .cart-item .cart-item-bottom .quantity-wrap {
    display: flex;
}
.pf_list .pf_top .top_r .cart-item .cart-item-bottom button {
    width: 24px;
    height: 24px;
    border: 1px solid var(--txt-color-main-cont3);
    appearance: none;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.pf_list .pf_top .top_r .cart-item .cart-item-bottom button.qty-btn-minus {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_72_1270' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_72_1270)'%3E%3Cpath d='M6 12.5V11.5H18V12.5H6Z' fill='%230D0D0D' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.pf_list .pf_top .top_r .cart-item .cart-item-bottom button.qty-btn-plus {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_72_1264' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_72_1264)'%3E%3Cpath d='M11.5 12.5H6V11.5H11.5V6H12.5V11.5H18V12.5H12.5V18H11.5V12.5Z' fill='%230D0D0D' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.pf_list .pf_top .top_r .cart-item .cart-item-bottom input {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: var(--txt-size-sub-cont2);
    color: var(--txt-color-main-cont1);
    border: 1px solid var(--txt-color-main-cont3);
    margin: 0 2px;
} 
.pf_list .pf_top .top_r .cart-item .cart-item-bottom span {
    display: block;
    font-size: var(--txt-size-sub-cont2);
    color: var(--txt-color-main-cont1);
}
.pf_list .pf_top .top_r .parcel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
    border-bottom: 1px solid var(--txt-color-main);
    font-size: var(--txt-size-sub-cont2);
}
.pf_list .pf_top .top_r .parcel span {
    display: block;
    color: var(--txt-color-main-cont1);
}
.pf_list .pf_top .top_r .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    font-size: 50px;
    font-weight: 600;
}
.pf_list .pf_top .top_r .pay .pay_top {
    margin-bottom: 15px;
}
.pf_list .pf_top .top_r .pay .pay_top ul {
    display: flex;
    align-items: center;
    font-size: 0;
    line-height: 0;
}
.pf_list .pf_top .top_r .pay .pay_top ul li.cart button,
.pf_list .pf_top .top_r .pay .pay_top ul li.heart button {
    width: 70px;
    height: 70px;
    border: 1px solid var(--txt-color-main-cont2);
    position: relative;
}
.pf_list .pf_top .top_r .pay .pay_top ul li.heart button {
    margin: 0 15px;
}
.pf_list .pf_top .top_r .pay .pay_top ul li.cart button::before,
.pf_list .pf_top .top_r .pay .pay_top ul li.heart button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 34px;
    height: 34px;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.pf_list .pf_top .top_r .pay .pay_top ul li.cart button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_72_1227' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_72_1227)'%3E%3Cpath d='M8.84047 29.2995C8.43105 28.8898 8.22634 28.3863 8.22634 27.7889C8.22634 27.1914 8.43105 26.6877 8.84047 26.2781C9.25012 25.8687 9.75375 25.6639 10.3513 25.6639C10.9489 25.6639 11.4524 25.8687 11.8619 26.2781C12.2715 26.6877 12.4763 27.1914 12.4763 27.7889C12.4763 28.3863 12.2715 28.8898 11.8619 29.2995C11.4524 29.7091 10.9489 29.9139 10.3513 29.9139C9.75375 29.9139 9.25012 29.7091 8.84047 29.2995ZM22.1355 29.2995C21.7259 28.8898 21.5211 28.3863 21.5211 27.7889C21.5211 27.1914 21.7259 26.6877 22.1355 26.2781C22.5449 25.8687 23.0485 25.6639 23.6461 25.6639C24.2436 25.6639 24.7473 25.8687 25.1569 26.2781C25.5663 26.6877 25.7711 27.1914 25.7711 27.7889C25.7711 28.3863 25.5663 28.8898 25.1569 29.2995C24.7473 29.7091 24.2436 29.9139 23.6461 29.9139C23.0485 29.9139 22.5449 29.7091 22.1355 29.2995ZM8.32976 7.79199L12.1112 15.7473H22.0279L26.3869 7.79199H8.32976ZM7.63772 6.37533H28.779L22.875 17.164H11.4737L9.15249 21.4139H25.7711V22.8306H6.71441L10.6017 15.889L5.39301 4.95866H2.83203V3.54199H6.29189L7.63772 6.37533Z' fill='%230D0D0D' fill-opacity='0.4'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.pf_list .pf_top .top_r .pay .pay_top ul li.heart button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_72_1236' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_72_1236)'%3E%3Cpath d='M17 27.8439L15.9265 26.8741C13.6145 24.7619 11.702 22.9539 10.189 21.4501C8.67626 19.9461 7.48212 18.6197 6.60662 17.471C5.73112 16.3223 5.11948 15.283 4.77169 14.3529C4.4239 13.4231 4.25 12.4878 4.25 11.5469C4.25 9.74511 4.86212 8.23223 6.08635 7.00823C7.31035 5.78399 8.82324 5.17188 10.625 5.17188C11.871 5.17188 13.0397 5.49063 14.1312 6.12813C15.2228 6.76563 16.179 7.69283 17 8.90975C17.821 7.69283 18.7772 6.76563 19.8688 6.12813C20.9603 5.49063 22.129 5.17188 23.375 5.17188C25.1768 5.17188 26.6896 5.78399 27.9136 7.00823C29.1379 8.23223 29.75 9.74511 29.75 11.5469C29.75 12.4878 29.5761 13.4231 29.2283 14.3529C28.8805 15.283 28.2689 16.3223 27.3934 17.471C26.5179 18.6197 25.3282 19.9461 23.8244 21.4501C22.3206 22.9539 20.4037 24.7619 18.0735 26.8741L17 27.8439ZM17 25.926C19.2667 23.8773 21.1319 22.1224 22.5958 20.6614C24.0597 19.2001 25.2167 17.9323 26.0667 16.858C26.9167 15.7837 27.5069 14.832 27.8375 14.003C28.1681 13.1738 28.3333 12.3551 28.3333 11.5469C28.3333 10.1302 27.8611 8.94965 26.9167 8.00521C25.9722 7.06076 24.7917 6.58854 23.375 6.58854C22.2471 6.58854 21.2064 6.91048 20.253 7.55436C19.2994 8.19823 18.4457 9.16758 17.692 10.4624H16.308C15.5361 9.1494 14.678 8.17544 13.7335 7.54054C12.7891 6.90588 11.7529 6.58854 10.625 6.58854C9.22651 6.58854 8.05044 7.06076 7.09679 8.00521C6.14338 8.94965 5.66667 10.1302 5.66667 11.5469C5.66667 12.3551 5.83194 13.1738 6.1625 14.003C6.49306 14.832 7.08333 15.7837 7.93333 16.858C8.78333 17.9323 9.94028 19.1955 11.4042 20.6475C12.8681 22.0996 14.7333 23.8591 17 25.926Z' fill='%230D0D0D' fill-opacity='0.4'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.pf_list .pf_top .top_r .pay .pay_top ul li.naverpay {
    width: 100%;
}
.pf_list .pf_top .top_r .pay .pay_top ul li.naverpay button {
    width: 100%;
    height: 70px;
    background-color: #00DE5A;
    position: relative;
}
.pf_list .pf_top .top_r .pay .pay_top ul li.naverpay button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 122px;
    height: 46px;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/contents/naverpay_ico.png);
    content: "";
}
.pf_list .pf_top .top_r .pay .pay_sub {
    font-size: var(--txt-size-sub-tit3);
    color: #fff;
    background-color: var(--txt-color-main);
    height: 70px;
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-weight: 400;
}

@media screen and (max-width: 1400px){
    .pf_list .pf_top {
        display: block;
    }
    .pf_list .pf_top .top_l {
        width: auto;
    }
    .pf_list .pf_top .top_r {
        width: auto;
    }
    .pf_list .pf_top .top_r .pf_txt br {
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .pf_list {
        padding-bottom: 65px;
    }
    .pf_list .pf_top .top_l .main-image-wrap {
        width: auto;
        max-height: 335px;
    }
    .pf_list .pf_top .top_l .thumb-btn {
        width: 60px;
        height: 60px;
    }
    .pf_list .pf_top .top_r h2 {
        padding-top: 30px;
        font-size: var(--txt-size-sub-cont1);
    }
    .pf_list .pf_top .top_r p {
        font-size: var(--txt-size-sub-cont2);
        margin: 5px 0 15px 0;
    }
    .pf_list .pf_top .top_r .pf_txt {
        font-size: var(--txt-size-sub-cont4);
        line-height: 33px;
    }
    .pf_list .pf_top .top_r .options {
        padding: 15px 10px;
    }
    .pf_list .pf_top .top_r .options label {
        font-size: var(--txt-size-sub-cont3);
        margin-right: 20px;
    }
    .pf_list .pf_top .top_r .options select#packagingOption {
        padding: 5px 10px;
        font-size: var(--txt-size-sub-cont3);
        background-position: right 10px center;
    }
    .pf_list .pf_top .top_r .cart-item {
        padding: 15px 10px;
        font-size: var(--txt-size-sub-cont3);
    }
    .pf_list .pf_top .top_r .cart-item .cart-item-top {
        font-size: var(--txt-size-sub-cont4);
    }
    .pf_list .pf_top .top_r .cart-item .cart-item-top button.item-remove {
        width: 17px;
        height: 17px;
    }
    .pf_list .pf_top .top_r .cart-item .cart-item-bottom {
        margin-top: 10px;
    }
    .pf_list .pf_top .top_r .cart-item .cart-item-bottom button,
    .pf_list .pf_top .top_r .cart-item .cart-item-bottom input {
        width: 20px;
        height: 20px;
    }
    .pf_list .pf_top .top_r .cart-item .cart-item-bottom input {
        font-size: var(--txt-size-sub-cont4);
    }
    .pf_list .pf_top .top_r .cart-item .cart-item-bottom span {
        font-size: var(--txt-size-sub-cont4);
    }
    .pf_list .pf_top .top_r .parcel {
        padding: 15px 10px;
        font-size: var(--txt-size-sub-cont4);
    }
    .pf_list .pf_top .top_r .total {
        padding: 20px 0;
        font-size: var(--txt-size-sub-cont1);
    }
    .pf_list .pf_top .top_r .pay .pay_top ul li.cart button, 
    .pf_list .pf_top .top_r .pay .pay_top ul li.heart button {
        width: 40px;
        height: 40px;
    }
    .pf_list .pf_top .top_r .pay .pay_top ul li.cart button::before, 
    .pf_list .pf_top .top_r .pay .pay_top ul li.heart button::before {
        width: 17px;
        height: 17px;
    }
    .pf_list .pf_top .top_r .pay .pay_top ul li.heart button {
        margin: 0 5px;
    }
    .pf_list .pf_top .top_r .pay .pay_top ul li.naverpay button {
        height: 40px;
    }
    .pf_list .pf_top .top_r .pay .pay_top ul li.naverpay button::before {
        width: 63px;
        height: 23px;
    }
    .pf_list .pf_top .top_r .pay .pay_top {
        margin-bottom: 5px;
    }
    .pf_list .pf_top .top_r .pay .pay_sub {
        height: 40px;
        line-height: 40px;
        font-size: var(--txt-size-sub-cont3);
    }
}

@media screen and (max-width: 568px){
    .pf_list .pf_top .top_r .pf_txt br {
        display: block;
    }
}

/*pf_col*/

.pf_col strong {
    display: block;
    font-size: var(--txt-size-sub-tit2);
    font-family: 'MADEOuterSans-Bold';
    padding-bottom: 20px;
    border-bottom: 1px solid var(--txt-color-main-cont3);
}
.pf_col ul {
    display: flex;
    margin-top: 25px;
}
.pf_col ul li:not(:last-child) {
    margin-right: 24px;
}
.pf_col ul li a {
    display: block;
}
.pf_col ul li a .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.pf_col ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .pf_col {
        margin-bottom: 16px;
    }
    .pf_col strong {
        font-size: var(--txt-size-sub-cont1);
        padding-bottom: 10px;
    }
    .pf_col ul {
        margin-top: 10px;
    }
    .pf_col ul li:not(:last-child) {
        margin-right: 16px;
    }
    .pf_col ul li:nth-child(1),
    .pf_col ul li:nth-child(2) {
        display: none;
    }
}

/*detail*/

.detail {
    padding: 200px 0;
}
.detail .wrapper {
    display: flex;
    justify-content: center;
}
.detail .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    width: 800px;
}
.detail .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1024px){
    .detail {
        padding: 100px 0;
    }
    .detail .photo {
        width: auto;
    }
}

/*banner*/

.container > .wrapper > .banner {
    display: flex;
    margin: 40px 0 50px 0;
}
.container > .wrapper > .banner .banner_1 {
    margin-right: 24px;
}
.container > .wrapper > .banner .banner_1 a,
.container > .wrapper > .banner .banner_2 a {
    display: block;
    position: relative;
}
.container > .wrapper > .banner .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: relative;
}
.container > .wrapper > .banner .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.container > .wrapper > .banner a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.container > .wrapper > .banner .banner_1 strong,
.container > .wrapper > .banner .banner_2 strong {
    display: inline-block;
    font-family: 'MADEOuterSans-Bold';
    color: #fff;
    font-size: var(--txt-size-sub-cont1);
    padding-right: 50px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.container > .wrapper > .banner strong::before {
    position: absolute;
    right: 0;
    top: -2px;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_107_202' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_107_202)'%3E%3Cpath d='M16.9112 26.1227L21.1626 18.5926H3.28125V16.4051H21.1626L16.9112 8.875L30.4708 17.4989L16.9112 26.1227Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (max-width: 1024px){
    .perfume h2 {
        font-size: var(--txt-size-sub-tit3);
        padding: 100px 0 50px 0;
    }
    .perfume .toolbar {
        padding: 10px 0;
    }
    .perfume .toolbar .count {
        font-size: var(--txt-size-sub-cont4);
    }
    .perfume .toolbar .filter button {
        width: 24px;
        height: 24px;
    }
    .perfume .p_list ul {
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }
    .perfume .p_list ul li {
        min-width: 0;
        margin-bottom: 30px;
    }
    .perfume .p_list ul li a strong {
        display: block;
        font-size: var(--txt-size-sub-cont3);
        margin: 5px 0;
    }
    .perfume .p_list ul li a span {
        font-size: var(--txt-size-sub-cont4);
    }
    .perfume .p_list ul li {
        margin: 0;
    }
    .perfume .p_list ul li:nth-child(1):before {
        width: 50px;
        height: 50px;
        left: 10px;
        top: 10px;
    }
    .container > .wrapper > .banner {
        display: block;
        margin: 0 0 20px 0;
    }
    .container > .wrapper > .banner .banner_1 {
        margin: 0 0 16px 0;
    }
    .container > .wrapper > .banner .banner_1 strong,
    .container > .wrapper > .banner .banner_2 strong {
        font-size: var(--txt-size-sub-cont3);
        left: 15px;
        bottom: 15px;
        padding-right: 24px;
    }
    .container > .wrapper > .banner strong::before {
        width: 17px;
        height: 17px;
        top: 0;
    }
}