@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*visual*/

.visual .swiper ul li {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.visual .swiper ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual .swiper ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual .swiper ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual .swiper ul li h2 {
    font-family: 'Montserrat';
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin-top: 40vh;
}
.visual .btn_wrap {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    z-index: 10;
}
.visual .btn_wrap .paging {
    width: auto;
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    width: 250px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(157, 157, 157, 0.6);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% {width: 0%;}
    100% {width: 100%;}
}

@media screen and (max-width: 1400px) {
    .visual .swiper ul li {
        height: 600px;
    }
    .visual .swiper ul li h2 {
        font-size: 40px;
        margin-top: 230px;
    }
    .visual .btn_wrap {
        bottom: 70px;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        width: 80px;
        height: 3px;
    }
}
@media screen and (max-width: 768px) {
.visual .swiper ul li {
        height: 500px;
    }
    .visual .swiper ul li h2 {
        font-size: 25px;
        margin-top: 200px;
    }
    .visual .btn_wrap {
        bottom: 50px;
    }
}

/*trust*/

.trust {
    padding: 360px 0 200px 0;
    background-color: #0E0E0E;
}
.trust h2 {
    font-size: 0;
    line-height: 0;
}
.trust .tit {
    display:flex; 
    flex-direction: column; 
    align-items: center;
}
.trust .tit p {
    font-size: 70px;
    font-family: 'Montserrat';
    font-weight: 700;
    position: relative;
    white-space: nowrap;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}
.trust .tit p span {
    position: absolute; 
    left: 0; 
    top: 0;
    overflow: hidden;
    width: 0; 
    height: 100%;
    color: #fff;
}
.trust .photo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 210px;
}
.trust .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center center;
    will-change: transform;
}
body {
    background-color: #0E0E0E;
    transition: 1s;
}
body.white_bg {
    background-color: #fff;
}

@media screen and (max-width: 1400px) {
    .trust {
        padding: 160px 0 170px 0;
    }
    .trust .tit p {
        font-size: 40px;
        color: #fff;
    }
}
@media screen and (max-width: 768px) {
    .trust .tit p {
        font-size: 25px;
    }
    .trust .photo {
        height: 70px;
        margin-top: 35px;
    }
}

/*trust_w*/

.trust_w {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.trust_w h2 {
    font-size: 0;
    line-height: 0;
}
.trust_w .wrapper {
    height: 100%;
}
.trust_w .medicine_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    height: 500px;
    pointer-events: none;
}
.trust_w .medicine {
    position: absolute;
}
.trust_w .medicine img {
    width: auto;
    height: auto;
}
.trust_w .m1 {
    rotate: 30deg;
    left: 10%;
    top: 0;
}
.trust_w .m2 {
    rotate: -15deg;
    right: 10%;
    top: 15%;
}
.trust_w .m3 {
    rotate: -35deg;
    left: 0%;
    bottom: -35%;
}
.trust_w .m4 {
    rotate: -17deg;
    right: -10%;
    bottom: -15%;
}

@media screen and (max-width: 1400px) {
    .trust_w {
        display: none;
    }
}

/*research*/

.research {
    padding: 250px 0 250px 0;
}
.research h2 {
    font-size: 0;
    line-height: 0;
}
.research .since {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
    color: #E60012;
}
.research .since strong {
    display: block;
    margin-right: 70px;
}
.research .since.on strong {
    display: none;
}
.research .since span {
    display: block;
    margin-left: 70px;
}
.research .since.on span {
    display: none;
}
.research .since .r_p_b {
    position: relative;
}
.research .since.on .r_p_b {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.research .since .r_p_b .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.research .since .r_p_b .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.research .photo_wrap {
    display:block; 
    position:relative; 
    width: 480px;
    height: 700px;
}
.research .photo_wrap .photo_move {
    position:absolute; 
    left:0; 
    top:0; 
    overflow:hidden;
}
.research .photo_wrap .photo_move img {
    width:100%; 
    height:1130px; 
    object-fit:cover;
}
.research .photo_wrap .photo_move .photo_bg {
    position:absolute; 
    left:0; 
    top:0; 
    width:100%; 
    height:1130px; 
    background-color:#fff;
}

@media screen and (max-width: 1400px) {
    .research {
        display: none;
    }
}

@media screen and (min-width: 1399px) {
    .sub_cont .tab_container {
        width:80%; 
        margin:0 auto; 
        transform: translateY(100px); 
        opacity:0; 
        transition:0.5s;
    }
    .sub_cont.dark .tab_container {
        transform: translateY(0); opacity:1;
    }
}

.research_tab {
    position: relative;
    z-index: 10;
}
.research_tab h2 {
    font-size: 0;
    line-height: 0;
}
.research_tab .tab_container {
    display: flex;
    width: 100%;
}
.research_tab .tab_container .tap_cnt {
    width: 40%;
}
.research_tab .tab_container .tap_cnt .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.research_tab .tab_container .tap_cnt .photo img {
    height: 100%;
    object-fit: cover;
}
.research_tab .tab_container .tap_btn {
    width: 60%;
}
.research_tab .tab_container .tap_cnt div[role="tabpanel"] {
    display: none; 
}
.research_tab .tab_container .tap_cnt div[role="tabpanel"].active {
    display: block;
}
.research_tab .tap_btn {
    padding: 75px 100px;
}
.research_tab .tap_btn h2 {
    font-family: 'SpokaHanSansNeo';
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    line-height: 45px;
    margin-bottom: 100px;
}
.research_tab .tap_btn .tap_box > ul > li {
    padding-left: 30px;
    position: relative;
    margin: 20px 0;
}
.research_tab .tap_btn .tap_box > ul > li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #E60012;
    content: "";
    display: none;
}
.research_tab .tap_btn .tap_box > ul > li.active::before {
    display: block;
}
.research_tab .tap_btn .tap_box > ul > li > button {
    font-family: 'Montserrat';
    font-size: 70px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.2);
    white-space: nowrap;
    display: block;
}
.research_tab .tap_btn .tap_box > ul > li.active > button {
    color: #E60012;
}
.research_tab .tap_btn .tap_box > ul > li > button > span {
    display: block;
}
.research_tab .tap_btn .tap_box > ul > li > strong {
    display: none;
    font-family: 'SpokaHanSansNeo';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(14, 14, 14, 0.6);
    margin: 20px 0 25px 0;
    display: none;
}
.research_tab .tap_btn .tap_box > ul > li.active {
    margin-bottom: 50px;
}
.research_tab .tap_btn .tap_box > ul > li:last-child.active {
    margin: 50px 0 0 0;
}
.research_tab .tap_btn .tap_box > ul > li.active > strong {
    display: block;
}
.research_tab .tap_btn .tap_box > ul > li > a {
    font-family: 'SpokaHanSansNeo';
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
    padding-right: 32px;
    position: relative;
    display: none;
    margin-bottom: 10px;
}
.research_tab .tap_btn .tap_box > ul > li > a::before {
    position: absolute;
    right: 0;
    top: 2px;
    width: 25px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='%230E0E0E' fill-opacity='0.6'/%3E%3Cmask id='mask0_79_583' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='2' y='2' width='21' height='21'%3E%3Crect x='2.5' y='2.50195' width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_583)'%3E%3Cpath d='M16.6248 14.6313L15.7839 14.6246V9.80621L8.66981 16.9203L8.08055 16.331L15.1946 9.21696L10.3763 9.21696L10.3695 8.37609L16.6248 8.37609L16.6248 14.6313Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.research_tab .tap_btn .tap_box > ul > li.active > a {
    display: inline-block;
}

@media screen and (max-width: 1400px) {
    .research_tab {
        background-color: #fff;
    }
    .research_tab .tab_container {
        display: block;
    }
    .research_tab .tab_container .tap_cnt {
        width: auto;
    }
    .research_tab .tab_container .tap_cnt .photo {
        height: 500px;
    }
    .research_tab .tab_container .tap_cnt .photo img {
        width: 100%;
    }
    .research_tab .tab_container .tap_btn {
        width: auto;
        padding: 40px 20px;
    }
    .research_tab .tap_btn h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .research_tab .tap_btn .tap_box > ul > li {
        padding-left: 10px;
        margin: 10px 0;
    }
    .research_tab .tap_btn .tap_box > ul > li.active {
        margin-bottom: 20px;
    }
    .research_tab .tap_btn .tap_box > ul > li::before {
        width: 5px;
    }
    .research_tab .tap_btn .tap_box > ul > li > button {
        font-size: 20px;
    }
    .research_tab .tap_btn .tap_box > ul > li.active > strong {
        display: none;
    }
    .research_tab .tap_btn .tap_box > ul > li > a {
        font-size: 13px;
        padding-right: 15px;
        margin: 0;
    }
    .research_tab .tap_btn .tap_box > ul > li > a::before {
        top: 4px;
        width: 13px;
        height: 13px;
    }
}

@media screen and (max-width: 768px) {
    .research_tab .tab_container .tap_cnt .photo {
        height: 400px;
    }
}
@media screen and (max-width: 360px) {
    .research_tab .tab_container .tap_cnt .photo {
        height: 200px;
    }
}

/*m_category*/

.m_category {
    padding: 150px 0 160px 0;
    position: relative;
    z-index: 50;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/m_category_bg.png);
}
.m_category h2 {
    font-family: 'SpokaHanSansNeo';
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 60px;
}
.m_category .tab_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m_category .tab_container .tap_box .tap_prev,
.m_category .tab_container .tap_box .tap_next {
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.m_category .tab_container .tap_box .tap_prev::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_176_92' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect x='30' y='30' width='30' height='30' transform='rotate(-180 30 30)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_176_92)'%3E%3Cpath d='M15 11.9231L11.1538 15.7694L18.8463 15.7694L15 11.9231ZM14.9959 3.75C16.5516 3.75 18.0142 4.04521 19.3838 4.63562C20.7531 5.22604 21.9444 6.02729 22.9575 7.03938C23.9706 8.05146 24.7726 9.24167 25.3634 10.61C25.9545 11.9781 26.25 13.4401 26.25 14.9959C26.25 16.5516 25.9548 18.0142 25.3644 19.3838C24.774 20.7531 23.9727 21.9444 22.9606 22.9575C21.9485 23.9706 20.7583 24.7726 19.39 25.3634C18.0219 25.9545 16.5599 26.25 15.0041 26.25C13.4484 26.25 11.9858 25.9548 10.6162 25.3644C9.24687 24.774 8.05562 23.9727 7.0425 22.9606C6.02938 21.9485 5.2274 20.7583 4.63656 19.39C4.04552 18.0219 3.75 16.5599 3.75 15.0041C3.75 13.4484 4.04521 11.9858 4.63563 10.6163C5.22604 9.24688 6.02729 8.05562 7.03938 7.0425C8.05146 6.02938 9.24167 5.2274 10.61 4.63656C11.9781 4.04552 13.4401 3.75 14.9959 3.75ZM15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1563 7.90625 22.0938C9.84375 24.0313 12.2083 25 15 25C17.7917 25 20.1563 24.0313 22.0938 22.0938C24.0313 20.1563 25 17.7917 25 15C25 12.2083 24.0313 9.84375 22.0938 7.90625C20.1563 5.96875 17.7917 5 15 5Z' fill='%230E0E0E' fill-opacity='0.4'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.m_category .tab_container .tap_box .tap_next::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_176_89' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_176_89)'%3E%3Cpath d='M15 18.0769L18.8463 14.2306H11.1538L15 18.0769ZM15.0041 26.25C13.4484 26.25 11.9858 25.9548 10.6163 25.3644C9.24687 24.774 8.05562 23.9727 7.0425 22.9606C6.02938 21.9485 5.2274 20.7583 4.63656 19.39C4.04552 18.0219 3.75 16.5599 3.75 15.0041C3.75 13.4484 4.04521 11.9858 4.63562 10.6162C5.22604 9.24687 6.02729 8.05562 7.03938 7.0425C8.05146 6.02937 9.24167 5.2274 10.61 4.63656C11.9781 4.04552 13.4401 3.75 14.9959 3.75C16.5516 3.75 18.0142 4.04521 19.3838 4.63563C20.7531 5.22604 21.9444 6.02729 22.9575 7.03938C23.9706 8.05146 24.7726 9.24167 25.3634 10.61C25.9545 11.9781 26.25 13.4401 26.25 14.9959C26.25 16.5516 25.9548 18.0142 25.3644 19.3837C24.774 20.7531 23.9727 21.9444 22.9606 22.9575C21.9485 23.9706 20.7583 24.7726 19.39 25.3634C18.0219 25.9545 16.5599 26.25 15.0041 26.25ZM15 25C17.7917 25 20.1562 24.0312 22.0938 22.0938C24.0312 20.1562 25 17.7917 25 15C25 12.2083 24.0312 9.84375 22.0938 7.90625C20.1562 5.96875 17.7917 5 15 5C12.2083 5 9.84375 5.96875 7.90625 7.90625C5.96875 9.84375 5 12.2083 5 15C5 17.7917 5.96875 20.1562 7.90625 22.0938C9.84375 24.0312 12.2083 25 15 25Z' fill='%230E0E0E' fill-opacity='0.4'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.m_category .tab_container .tap_box > ul {
    margin: 0 0 10px 0;
    overflow: hidden;
    flex: 1;
    max-height: none;
}
 .m_category .tab_container .tap_box > .all {
    display: block;
    margin-top: 10px;
 }
.m_category .tab_container .tap_box > ul > li > button > span,
.m_category .tab_container .tap_box > .all > span {
    display: block;
    color: rgba(14, 14, 14, 0.4);
    padding: 15px 170px 15px 45px;
    font-size: 20px;
    font-family: 'SpokaHanSansNeo';
    font-weight: 700;
    transition: 0.5s;
}
.m_category .tab_container .tap_box > ul > li.active > button > span,
.m_category .tab_container .tap_box > .all:hover > span {
    border-radius: 15px;
    background-color: #F8F8F8;
    color: #0E0E0E;
    position: relative;
}
.m_category .tab_container .tap_box > ul > li.active > button > span::before,
.m_category .tab_container .tap_box > .all.active > span::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E60012;
    content: "";
}
.m_category .tab_container .tap_cnt div[role="tabpanel"] {
    display: none; 
}
.m_category .tab_container .tap_cnt div[role="tabpanel"].active {
    display: block;
}
.m_category .tab_container .tap_cnt ul {
    display: flex;
    align-items: center;
    width: 1400px;
}
.m_category .tab_container .tap_cnt ul li {
    width: calc(100% - 33.3px);
    height: 580px;
    border-radius: 20px;
    background-color: #F8F8F8;
    text-align: center;
}
.m_category .tab_container .tap_cnt div[id="panel_05"] ul li:last-child {
    opacity: 0;
}
.m_category .tab_container .tap_cnt ul li:nth-child(2) {
    margin: 0 25px;
}
.m_category .tab_container .tap_cnt ul li a .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin-top: 90px;
}
.m_category .tab_container .tap_cnt ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 0.8;
}
.m_category .tab_container .tap_cnt ul li a strong {
    display: block;
    font-family: 'SpokaHanSansNeo';
    font-size: 30px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 15px;
}
.m_category .tab_container .tap_cnt ul li a span {
    display: block;
    font-family: 'SpokaHanSansNeo';
    font-size: 20px;
    font-weight: 400;
    color: #0E0E0E;
}