@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*visual*/

.visual .swiper ul li {
    width: 100%;
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.visual .swiper ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual .swiper ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual .swiper ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual .swiper ul li h2 {
    font-family: 'Montserrat';
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin-top: 270px;
}
.visual .btn_wrap {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    z-index: 10;
}
.visual .btn_wrap .paging {
    width: auto;
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    width: 250px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(157, 157, 157, 0.6);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% {width: 0%;}
    100% {width: 100%;}
}

@media screen and (max-width: 1400px) {
    .visual .swiper ul li {
        height: 600px;
    }
    .visual .swiper ul li h2 {
        font-size: 40px;
        margin-top: 230px;
    }
    .visual .btn_wrap {
        bottom: 70px;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        width: 80px;
        height: 3px;
    }
}
@media screen and (max-width: 768px) {
.visual .swiper ul li {
        height: 500px;
    }
    .visual .swiper ul li h2 {
        font-size: 25px;
        margin-top: 200px;
    }
    .visual .btn_wrap {
        bottom: 50px;
    }
}

/*trust*/

.trust {
    padding: 360px 0 200px 0;
    background-color: #0E0E0E;
}
.trust .tit {
    display:flex; 
    flex-direction: column; 
    align-items: center;
}
.trust .tit p {
    font-size: 70px;
    font-family: 'Montserrat';
    font-weight: 700;
    position: relative;
    white-space: nowrap;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}
.trust .tit p span {
    position: absolute; 
    left: 0; 
    top: 0;
    overflow: hidden;
    width: 0; 
    height: 100%;
    color: #fff;
}
.trust .photo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 210px;
}
.trust .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center center;
    will-change: transform;
}
body {
    background-color: #0E0E0E;
    transition: 1s;
}
body.white_bg {
    background-color: #fff;
}

@media screen and (max-width: 1400px) {
    .trust {
        padding: 30vh 0 30vh 0;
    }
    .trust .tit p {
        font-size: 40px;
    }
}
@media screen and (max-width: 768px) {
    .trust .tit p {
        font-size: 25px;
    }
    .trust .photo {
        height: 70px;
        margin-top: 35px;
    }
}
/*trust_w*/
.trust_w {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.trust_w .wrapper {
    height: 100%;
}
.trust_w .medicine_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    height: 500px;
    pointer-events: none;
}
.trust_w .medicine {
    position: absolute;
}
.trust_w .medicine img {
    width: auto;
    height: auto;
}
.trust_w .m1 {
    rotate: 30deg;
    left: 10%;
    top: 0;
}
.trust_w .m2 {
    rotate: -15deg;
    right: 10%;
    top: 15%;
}
.trust_w .m3 {
    rotate: -35deg;
    left: 0%;
    bottom: -35%;
}
.trust_w .m4 {
    rotate: -17deg;
    right: -10%;
    bottom: -15%;
}

/*research*/
.research {
    height: 800px;
}