@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.sub_menu .breadcrumb ol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 190px 0 0 0;
}
.sub_menu .breadcrumb ol li a {
    display: block;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.6);
}
.sub_menu .breadcrumb ol li.home a {
    margin-right: 35px;
    font-size: 0;
    line-height: 0;
    position: relative;
    width: 24px;
    height: 24px;
}
.sub_menu .breadcrumb ol li.home a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_107_685' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_107_685)'%3E%3Cpath d='M6 18.9994H9.69225V13.1149H14.3077V18.9994H18V9.99944L12 5.46094L6 9.99944V18.9994ZM5 19.9994V9.49944L12 4.21094L19 9.49944V19.9994H13.3077V14.1149H10.6923V19.9994H5Z' fill='%23E60012' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.sub_menu .breadcrumb ol li.home a::after {
    position: absolute;
    right: -30px;
    top: 2px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_107_672' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_107_672)'%3E%3Cpath d='M7.99987 2.6931L17.3076 12.0008L7.99987 21.3086L6.93637 20.2451L15.1806 12.0008L6.93637 3.75659L7.99987 2.6931Z' fill='%231C1B1F' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.sub_contents .sub_title {
    text-align: center;
}
.sub_contents .sub_title h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 45px 0 120px 0;
    color: #0E0E0E;
}

/*ceo*/

.sub_contents .dongwha_slogun {
    position: relative;
}
.sub_contents .dongwha_slogun .photo_wrap {
    display: flex;
    justify-content: center;
}
.sub_contents .dongwha_slogun .photo_wrap .photo {
    overflow: hidden;
    border-radius: 30px;
    scale: 0.3;
    display: inline-block;
    transition: 1s;
}
.sub_contents .dongwha_slogun .photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sub_contents .dongwha_slogun.end .photo_wrap .photo  {
    border-radius: 0;
    width: 100%;
    height: 100%;
    scale: 1;
}
.sub_contents .dongwha_slogun .slogun_txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
}
.sub_contents .dongwha_slogun .slogun_txt strong {
    display: block;
    font-size: 80px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    padding: 120px 0 0 85px;
}
.sub_contents .dongwha_slogun .slogun_txt span {
    display: inline-flex;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    color: #fff;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 85px 120px 0;
}
.sub_contents .cts_ceo {
    padding: 255px 0 300px 0;
    border-radius: 0 0 100px 100px;
    background-color: #fff;
    position: relative;
}
.sub_contents .cts_ceo::before {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 100%;
    background-color: #0E0E0E;
    z-index: -1;
    content: "";
}
.sub_contents .cts_ceo .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub_contents .cts_ceo .ceo_txt strong {
    display: block;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    color: #E60012;
}
.sub_contents .cts_ceo .ceo_txt span {
    display: block;
    font-size: 80px;
    color: #0E0E0E;
    font-weight: 700;
    margin: 30px 0 70px 0;
}
.sub_contents .cts_ceo .ceo_txt em {
    display: block;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.6);
    line-height: 40px;
}
.sub_contents .cts_ceo .photo {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-radius: 30px;
}
.sub_contents .cts_ceo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1400px) {
    .sub_menu .breadcrumb ol {
        padding: 105px 0 0 0;
    }
    .sub_menu .breadcrumb ol li.home a {
        width: 15px;
        height: 15px;
        padding-right: 20px;
    }
    .sub_menu .breadcrumb ol li a {
        font-size: 13px;
    }
    .sub_contents .cts_ceo .wrapper {
        display: block;
    }
    .sub_contents .sub_title h2 {
        font-size: 20px;
        padding: 25px 0 60px 0;
    }
    .sub_contents .dongwha_slogun .photo_wrap .photo {
        scale: 1;
        border-radius: 0;
    }
    .sub_contents .dongwha_slogun .slogun_txt strong {
        font-size: 25px;
        padding: 20px 0 0 20px;
    }
    .sub_contents .dongwha_slogun .slogun_txt span {
        font-size: 13px;
        padding: 0 20px 20px 0;
    }
    .sub_contents .cts_ceo {
        padding: 60px 0 85px 0;
        border-radius: 0 0 50px 50px;
    }
    .sub_contents .cts_ceo .ceo_txt strong {
        font-size: 15px;
    }
    .sub_contents .cts_ceo .ceo_txt span {
        font-size: 25px;
        margin: 10px 0 20px 0;
    }
    .sub_contents .cts_ceo .ceo_txt em {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 50px;
    }
    .sub_contents .cts_ceo .photo {
        border-radius: 10px;
    }
}

/*search*/

.sub_contents .search fieldset {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.sub_contents .search .search_box {
    position: relative;
    width: fit-content;
}
.sub_contents .search .search_box label {
    display: none;
}
.sub_contents .search .search_box input[type="text"] {
    width: 860px;
    height: 100px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: transparent;
    outline: 0;
    border: 2px solid #0E0E0E;
    font-size: 0;
    line-height: 0;
}
.sub_contents .search .search_box input[type="text"]::placeholder{
    display: block;
    font-size: 30px;
    line-height: 100px;
    color: rgba(14, 14, 14, 0.6);
    text-align: center;
    opacity: 1;
}
.sub_contents .search .search_box input {
    border: 1px solid #0E0E0E;
}
.sub_contents .search .search_box input[type="submit"] {
    position: absolute;
    right: 60px;
    top: 30px;
    width: 40px;
    height: 40px;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.88889 16.6667C11.037 16.6667 12.8704 15.9085 14.3889 14.3922C15.9074 12.8757 16.6667 11.0413 16.6667 8.88889C16.6667 6.74074 15.9074 4.90741 14.3889 3.38889C12.8704 1.87037 11.037 1.11111 8.88889 1.11111C6.73648 1.11111 4.90204 1.87037 3.38556 3.38889C1.86926 4.90741 1.11111 6.74074 1.11111 8.88889C1.11111 11.0413 1.86926 12.8757 3.38556 14.3922C4.90204 15.9085 6.73648 16.6667 8.88889 16.6667ZM8.88889 17.7778C7.65667 17.7778 6.50176 17.5459 5.42417 17.0822C4.34657 16.6185 3.405 15.9839 2.59944 15.1783C1.79389 14.3728 1.15926 13.4312 0.695555 12.3536C0.231852 11.276 0 10.1211 0 8.88889C0 7.66093 0.231852 6.50815 0.695555 5.43056C1.15926 4.35296 1.79389 3.41028 2.59944 2.6025C3.405 1.79491 4.34657 1.15926 5.42417 0.695555C6.50176 0.231851 7.65667 0 8.88889 0C10.1169 0 11.2696 0.231851 12.3472 0.695555C13.4248 1.15926 14.3675 1.79491 15.1753 2.6025C15.9829 3.41028 16.6185 4.35296 17.0822 5.43056C17.5459 6.50815 17.7778 7.66093 17.7778 8.88889C17.7778 10.017 17.5798 11.0805 17.1839 12.0792C16.7878 13.0777 16.24 13.9765 15.5406 14.7756L20 19.235L19.2286 20L14.7692 15.5469C13.9701 16.2464 13.0713 16.7931 12.0728 17.1869C11.0741 17.5808 10.0128 17.7778 8.88889 17.7778Z' fill='white'/%3E%3C/svg%3E%0A");
    cursor: pointer;
}
.sub_contents .search .search_box input[type="submit"] {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.88889 16.6667C11.037 16.6667 12.8704 15.9085 14.3889 14.3922C15.9074 12.8757 16.6667 11.0413 16.6667 8.88889C16.6667 6.74074 15.9074 4.90741 14.3889 3.38889C12.8704 1.87037 11.037 1.11111 8.88889 1.11111C6.73648 1.11111 4.90204 1.87037 3.38556 3.38889C1.86926 4.90741 1.11111 6.74074 1.11111 8.88889C1.11111 11.0413 1.86926 12.8757 3.38556 14.3922C4.90204 15.9085 6.73648 16.6667 8.88889 16.6667ZM8.88889 17.7778C7.65667 17.7778 6.50176 17.5459 5.42417 17.0822C4.34657 16.6185 3.405 15.9839 2.59944 15.1783C1.79389 14.3728 1.15926 13.4312 0.695555 12.3536C0.231852 11.276 0 10.1211 0 8.88889C0 7.66093 0.231852 6.50815 0.695555 5.43056C1.15926 4.35296 1.79389 3.41028 2.59944 2.6025C3.405 1.79491 4.34657 1.15926 5.42417 0.695555C6.50176 0.231851 7.65667 0 8.88889 0C10.1169 0 11.2696 0.231851 12.3472 0.695555C13.4248 1.15926 14.3675 1.79491 15.1753 2.6025C15.9829 3.41028 16.6185 4.35296 17.0822 5.43056C17.5459 6.50815 17.7778 7.66093 17.7778 8.88889C17.7778 10.017 17.5798 11.0805 17.1839 12.0792C16.7878 13.0777 16.24 13.9765 15.5406 14.7756L20 19.235L19.2286 20L14.7692 15.5469C13.9701 16.2464 13.0713 16.7931 12.0728 17.1869C11.0741 17.5808 10.0128 17.7778 8.88889 17.7778Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A");
}