@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.sub_menu .breadcrumb ol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 190px 0 0 0;
}
.sub_menu .breadcrumb ol li a {
    display: block;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.6);
}
.sub_menu .breadcrumb ol li.home a {
    margin-right: 35px;
    font-size: 0;
    line-height: 0;
    position: relative;
    width: 24px;
    height: 24px;
}
.sub_menu .breadcrumb ol li.home a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_107_685' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_107_685)'%3E%3Cpath d='M6 18.9994H9.69225V13.1149H14.3077V18.9994H18V9.99944L12 5.46094L6 9.99944V18.9994ZM5 19.9994V9.49944L12 4.21094L19 9.49944V19.9994H13.3077V14.1149H10.6923V19.9994H5Z' fill='%23E60012' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.sub_menu .breadcrumb ol li.home a::after {
    position: absolute;
    right: -30px;
    top: 2px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_107_672' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_107_672)'%3E%3Cpath d='M7.99987 2.6931L17.3076 12.0008L7.99987 21.3086L6.93637 20.2451L15.1806 12.0008L6.93637 3.75659L7.99987 2.6931Z' fill='%231C1B1F' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.sub_contents .sub_title {
    text-align: center;
}
.sub_contents .sub_title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 45px 0 120px 0;
}

/*ceo*/

.sub_contents .dongwha_slogun {
    position: relative;
}
.sub_contents .dongwha_slogun .photo_wrap {
    display: flex;
    justify-content: center;
}
.sub_contents .dongwha_slogun .photo_wrap .photo {
    overflow: hidden;
    border-radius: 30px;
    scale: 0.3;
    display: inline-block;
    transition: 1s;
}
.sub_contents .dongwha_slogun .photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sub_contents .dongwha_slogun.end .photo_wrap .photo  {
    border: 0;
    width: 100%;
    height: 100%;
    scale: 1;
}
.sub_contents .dongwha_slogun .slogun_txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
}
.sub_contents .dongwha_slogun .slogun_txt strong {
    display: block;
    font-size: 80px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    padding: 120px 0 0 85px;
}
.sub_contents .dongwha_slogun .slogun_txt span {
    display: inline-flex;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    color: #fff;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 85px 120px 0;
}