/*header*/

header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
}
header .gnb .gnb_wrap > ul {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
header .gnb .gnb_wrap > ul > li {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 30px;
    padding: 5px 18px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #0c0c0c;
    margin-right: 20px;
}
header .gnb .gnb_wrap > ul > li:last-child {
    margin: 0;
}