@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*main*/

.main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main_bg.png);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}
.main .wrapper {
    display: flex;
    flex-direction: column;
}
.main h1 {
    font-size: 0;
    line-height: 0;
}
.main .m_box {
    margin-top: auto;
}
.main .m_box > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.main .m_box > ul > li {
    font-family: 'Pretendard';
    font-weight: 700;
    color: #0C0C0C;
    font-size: 30px;
}

/*profile*/

.profile {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/profile_bg.png);
    width: 100%;
    height: 100vh;
}
.profile .wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.profile .p_l h1 {
    font-size: 60px;
    font-weight: 700;
}
.profile .p_l h1 span {
    display: inline-block;
    font-family: 'SDKukdetopokki';
}
.profile .p_l p {
    font-size: 35px;
    font-weight: 700;
    margin: 25px 0 35px 0;
}
.profile .p_l .photo {
    width: 235px;
    height: 395px;
    margin-bottom: 30px;
}
.profile .p_l > ul > li {
    display: flex;
    font-size: 20px;
    margin-bottom: 15px;
}
.profile .p_l > ul > li:last-child {
    margin: 0;
}
.profile .p_l > ul > li > strong {
    display: block;
    color: rgba(44, 44, 44, 0.6);
    width: 95px;
}
.profile .p_l > ul > li > span {
    display: block;
    color: #2c2c2c;
}
.profile .p_r .p_r_u .u_1,
.profile .p_r .p_r_u .u_2 {
    margin-bottom: 70px;
}
.profile .p_r .p_r_u .u_1 > strong,
.profile .p_r .p_r_u .u_2 > strong,
.profile .p_r .p_r_d .d_1 > strong,
.profile .p_r .p_r_d .d_2 > strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}
.profile .p_r .p_r_u .u_1 > ul > li,
.profile .p_r .p_r_u .u_2 > ul > li,
.profile .p_r .p_r_d .d_1 > ul > li {
    display: flex;
    margin-bottom: 15px;
}
.profile .p_r .p_r_u .u_1 > ul > li:last-child,
.profile .p_r .p_r_u .u_2 > ul > li:last-child,
.profile .p_r .p_r_d .d_1 > ul > li:last-child {
    margin: 0;
}
.profile .p_r .p_r_u .u_1 > ul > li > span,
.profile .p_r .p_r_u .u_2 > ul > li > span,
.profile .p_r .p_r_d .d_1 > ul > li > span {
    display: block;
    color: rgba(44, 44, 44, 0.6);
    width: 235px;
}
.profile .p_r .p_r_d {
    display: flex;
    justify-content: space-between;
}

/*web*/

.web {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0C0C0C;
    width: 100%;
    height: 100vh;
    color: #fff;
}
.web .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.web .w_tit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}
.web .w_tit h1 {
    font-size: 60px;
    font-weight: 700;
}
.web .w_tit p {
    font-size: 20px;
    margin-bottom: 10px;
}
.web .d_box .d_wrap .d_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.web .d_box .d_wrap .d_list:last-child {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
}
.web .d_box .d_wrap .d_list .d_l_l {
    display: flex;
    align-items: center;
}
.web .d_box .d_wrap .d_list .d_l_l .number {
    font-size: 35px;
    padding: 60px;
}
.web .d_box .d_wrap .d_list .d_l_l .web_list > strong {
    display: block;
    font-size: 30px;
    margin-bottom: 15px;
}
.web .d_box .d_wrap .d_list .d_l_l .web_list > ul {
    display: flex;
}
.web .d_box .d_wrap .d_list .d_l_l .web_list > ul > li {
    font-size: 20px;
    padding: 5px 18px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 25px;
}
.web .d_box .d_wrap .d_list .d_l_l .web_list > ul > li:last-child {
    margin: 0;
}
.web .d_box .d_wrap .d_list .link > ul {
    display: flex;
}
.web .d_box .d_wrap .d_list .link > ul > li {
    width: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    font-size: 0;
    line-height: 0;
    margin-right: 20px;
    transition: 0.5s;
}
.web .d_box .d_wrap .d_list .link > ul > li:hover {
    background-color: #fff;
}
.web .d_box .d_wrap .d_list .link > ul > li:last-child {
    margin: 0;
}
.web .d_box .d_wrap .d_list .link > ul > li > a {
    display: block;
    height: 80px;
}
.web .d_box .d_wrap .d_list .link > ul > li > a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.web .d_box .d_wrap .d_list .link > ul > li.detail > a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_502_1474' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_502_1474)'%3E%3Cpath d='M10.9377 24.0612H19.6877V22.6029H10.9377V24.0612ZM10.9377 18.2279H24.0627V16.7695H10.9377V18.2279ZM10.9377 12.3945H24.0627V10.9362H10.9377V12.3945ZM8.18943 29.1654C7.51811 29.1654 6.95763 28.9405 6.50798 28.4909C6.05832 28.0412 5.8335 27.4807 5.8335 26.8094V8.18797C5.8335 7.51665 6.05832 6.95616 6.50798 6.50651C6.95763 6.05686 7.51811 5.83203 8.18943 5.83203H26.8109C27.4822 5.83203 28.0427 6.05686 28.4924 6.50651C28.942 6.95616 29.1668 7.51665 29.1668 8.18797V26.8094C29.1668 27.4807 28.942 28.0412 28.4924 28.4909C28.0427 28.9405 27.4822 29.1654 26.8109 29.1654H8.18943ZM8.18943 27.707H26.8109C27.0355 27.707 27.2412 27.6136 27.4281 27.4267C27.615 27.2398 27.7085 27.034 27.7085 26.8094V8.18797C27.7085 7.96339 27.615 7.75764 27.4281 7.57073C27.2412 7.38382 27.0355 7.29036 26.8109 7.29036H8.18943C7.96485 7.29036 7.7591 7.38382 7.57219 7.57073C7.38528 7.75764 7.29183 7.96339 7.29183 8.18797V26.8094C7.29183 27.034 7.38528 27.2398 7.57219 27.4267C7.7591 27.6136 7.96485 27.707 8.18943 27.707Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.web .d_box .d_wrap .d_list .link > ul > li.detail >a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_546_17' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%230C0C0C'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_546_17)'%3E%3Cpath d='M10.9377 24.0612H19.6877V22.6029H10.9377V24.0612ZM10.9377 18.2279H24.0627V16.7695H10.9377V18.2279ZM10.9377 12.3945H24.0627V10.9362H10.9377V12.3945ZM8.18943 29.1654C7.51811 29.1654 6.95763 28.9405 6.50798 28.4909C6.05832 28.0412 5.8335 27.4807 5.8335 26.8094V8.18797C5.8335 7.51665 6.05832 6.95616 6.50798 6.50651C6.95763 6.05686 7.51811 5.83203 8.18943 5.83203H26.8109C27.4822 5.83203 28.0427 6.05686 28.4924 6.50651C28.942 6.95616 29.1668 7.51665 29.1668 8.18797V26.8094C29.1668 27.4807 28.942 28.0412 28.4924 28.4909C28.0427 28.9405 27.4822 29.1654 26.8109 29.1654H8.18943ZM8.18943 27.707H26.8109C27.0355 27.707 27.2412 27.6136 27.4281 27.4267C27.615 27.2398 27.7085 27.034 27.7085 26.8094V8.18797C27.7085 7.96339 27.615 7.75764 27.4281 7.57073C27.2412 7.38382 27.0355 7.29036 26.8109 7.29036H8.18943C7.96485 7.29036 7.7591 7.38382 7.57219 7.57073C7.38528 7.75764 7.29183 7.96339 7.29183 8.18797V26.8094C7.29183 27.034 7.38528 27.2398 7.57219 27.4267C7.7591 27.6136 7.96485 27.707 8.18943 27.707Z' fill='%230C0C0C'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.web .d_box .d_wrap .d_list .link > ul > li.page > a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_502_1411' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_502_1411)'%3E%3Cpath d='M9.02506 25.215L8.021 24.2109L22.7221 9.48177H9.17089V8.02344H25.2126V24.0651H23.7542V10.5139L9.02506 25.215Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.web .d_box .d_wrap .d_list .link > ul > li.page > a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_546_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%230C0C0C'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_546_12)'%3E%3Cpath d='M9.02506 25.215L8.021 24.2109L22.7221 9.48177H9.17089V8.02344H25.2126V24.0651H23.7542V10.5139L9.02506 25.215Z' fill='%230C0C0C'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*design*/

.design {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.design h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 100px;
}
.design .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.design .de_box {
    display: flex;
    width: 100%;
}
.design .de_box > .d_l > ul > .draw,
.design .de_box > .d_r > ul > .draw {
    background-color: #0C0C0C;
}
.design .de_box .d_l,
.design .de_box .d_r {
    width: 50%;
}
.design .de_box .d_l > ul,
.design .de_box .d_r > ul {
    display: flex;
}
.design .de_box .d_l > ul > li,
.design .de_box .d_r > ul > li {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.design .de_box .d_l > ul > li.draw,
.design .de_box .d_r > ul > li.draw {
    padding: 0;
}
.design .de_box .d_l > ul > li > a,
.design .de_box .d_r > ul > li > a {
    display: block;
    width: 100%;
    height: 270px;
    font-size: 35px;
}
.design .de_box .d_l > ul > li > a::before,
.design .de_box .d_r > ul > li > a::before {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='39.5' fill='white' stroke='%230C0C0C'/%3E%3Cmask id='mask0_502_1507' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='22' y='23' width='35' height='35'%3E%3Crect x='22' y='23' width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_502_1507)'%3E%3Cpath d='M31.0251 48.215L30.021 47.2109L44.7221 32.4818H31.1709V31.0234H47.2126V47.0651H45.7542V33.5139L31.0251 48.215Z' fill='%230C0C0C'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.design .de_box .d_l > ul > li.popup {
    cursor: pointer;
}
.design .de_box .d_l > ul > li.popup:hover a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='39.5' fill='%230C0C0C' stroke='white'/%3E%3Cmask id='mask0_502_1424' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='22' y='23' width='35' height='35'%3E%3Crect x='22' y='23' width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_502_1424)'%3E%3Cpath d='M31.0251 48.215L30.021 47.2109L44.7221 32.4818H31.1709V31.0234H47.2126V47.0651H45.7542V33.5139L31.0251 48.215Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.design .de_box .d_l > ul > li.draw > a:before {
    display: none;
}

/*finally*/

.finally {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/finally_bg.png);
    width: 100%;
    height: 100vh;
    color: #fff;  
}
.finally .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.finally h1 {
    font-size: 0;
    line-height: 0;
}
.finally .f_box {
    margin-top: auto;
}
.finally .f_box > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.finally .f_box > ul > li {
    font-weight: 700;
    font-size: 30px;
}