@import url(default.css);
@import url(fonts.css);
@import url(common.css);

/*header*/

header,
.p_header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 100;
}
header .wrapper,
.p_header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header .home,
.p_header .home {
    border: 1px solid #0C0C0C;
    border-radius: 30px;
    background-color: #fff;
    transition: 0.5s;
}
header .home > a,
.p_header .home > a {
    display: block;
    font-family: 'SDKukdetopokki';
    font-size: 30px;
    font-weight: 700;
    color: #0C0C0C;
    padding: 7px 18px;
    transition: 0.5s;
}
header .home:hover,
.p_header .home:hover {
    background-color: #0C0C0C;
}
header .home:hover > a,
.p_header .home:hover > a {
    color: #fff;
}
header .gnb ul,
.p_header .gnb ul {
    display: flex;
}
header .gnb ul > li,
.p_header .gnb ul > li {
    width: 140px;
    cursor: pointer;
    margin-right: 50px;
    transition: 0.5s;
}
.p_header .gnb ul > li {
    padding: 5px 18px;
    width: fit-content;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #0c0c0c;
    margin-right: 20px;
    transition: 0.5s;
}
.p_header .gnb ul > li:hover {
    background-color: #0C0C0C;
    border-color: #fff;
}
header .gnb ul > li:last-child,
.p_header .gnb ul > li:last-child {
    margin: 0;
}
header .gnb ul > li > a {
    display: block;
    font-size: 0;
    line-height: 0;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
}
.p_header .gnb ul > li > a {
    display: block;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 30px;
    color: #0C0C0C;
}
.p_header .gnb ul > li:hover > a {
    color: #fff;
}
.p_header .gnb ul > li > a::before {
    position: relative;
}
header .gnb ul > li > a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    transition: 0.5s;
}
header .gnb ul > li.seo > a::before {
    background-image: url(../images/seo_logo_b.png);
}
header .gnb ul > li.uso > a::before {
    background-image: url(../images/uso_logo_b.png);
}
header .gnb ul > li.cju > a::before {
    background-image: url(../images/cju_logo_b.png);
}
header .gnb ul > li.dongwha > a::before {
    background-image: url(../images/dongwha_b.png);
}
header .gnb ul > li.seo > a:hover::before,
header .gnb ul > li.seo.active > a::before {
    background-image: url(../images/seo_logo_c.png);
}
header .gnb ul > li.uso > a:hover::before,
header .gnb ul > li.uso.active > a::before {
    background-image: url(../images/uso_logo_c.png);
}
header .gnb ul > li.cju > a:hover::before,
header .gnb ul > li.cju.active > a::before {
    background-image: url(../images/cju_logo_c.png);
}
header .gnb ul > li.dongwha > a:hover::before,
header .gnb ul > li.dongwha.active > a::before {
    background-image: url(../images/dongwha_c.png);
}

/*visual*/

.visual {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 250px 0;
    color: #fff;
}
.visual.seo {
    background-image: url(../images/seo_bg.png);
}
.visual.uso {
    background-image: url(../images/usopang_bg.png);
}
.visual.cju {
    background-image: url(../images/cju_bg.png);
}
.visual.dongwha {
    background-image: url(../images/dongwha_bg.png);
}
.visual .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visual.pop_d .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.visual .t_box h1 {
    font-size: 20px;
    font-weight: 700;
}
.visual .t_box .t_title {
    margin: 5px 0 40px 0;
    display: flex;
    align-items: center;
}
.visual .t_box .t_title > strong {
    display: block;
    font-size: 70px;
    font-weight: 700;
    margin-right: 35px;
}
.visual .t_box .t_title > a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 76px;
    height: 76px;
    position: relative;
}
.visual .t_box .t_title > a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3CforeignObject x='-10' y='-10' width='96' height='96'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' style='backdrop-filter:blur(5px);clip-path:url(%23bgblur_0_522_656_clip_path);height:100%25;width:100%25'%3E%3C/div%3E%3C/foreignObject%3E%3Ccircle data-figma-bg-blur-radius='10' cx='38' cy='38' r='37.5' fill='%230C0C0C' fill-opacity='0.1' stroke='white'/%3E%3Cmask id='mask0_522_656' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='20' y='21' width='35' height='35'%3E%3Crect x='20.9004' y='21.8438' width='33.25' height='33.25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_522_656)'%3E%3Cpath d='M29.4739 45.8085L28.52 44.8547L42.4861 30.862H29.6124V29.4766H44.852V44.7161H43.4666V31.8425L29.4739 45.8085Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='bgblur_0_522_656_clip_path' transform='translate(10 10)'%3E%3Ccircle cx='38' cy='38' r='37.5'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.visual .t_box .t_title > a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3CforeignObject x='0' y='0' width='0' height='0'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' style='backdrop-filter:blur(5px);clip-path:url(%23bgblur_0_517_13_clip_path);height:100%25;width:100%25'%3E%3C/div%3E%3C/foreignObject%3E%3Ccircle data-figma-bg-blur-radius='10' cx='40' cy='40' r='39.5' fill='white' stroke='white'/%3E%3Cmask id='mask0_517_13' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='22' y='23' width='35' height='35'%3E%3Crect x='22' y='23' width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_517_13)'%3E%3Cpath d='M31.0251 48.215L30.021 47.2109L44.7221 32.4818H31.1709V31.0234H47.2126V47.0651H45.7542V33.5139L31.0251 48.215Z' fill='%230C0C0C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='bgblur_0_517_13_clip_path' transform='translate(0 0)'%3E%3Ccircle cx='40' cy='40' r='39.5'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.visual .t_box ul > li {
    display: flex;
    margin-bottom: 10px;
}
.visual .t_box ul > li:last-child {
    margin-bottom: 40px;
}
.visual .t_box ul > li > strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    width: 110px;
    margin-right: 40px;
}
.visual .t_box ul > li > span {
    display: block;
    font-size: 20px;
    font-weight: 400;
}
.visual .t_box em {
    display: block;
    width: 400px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 25px;
}
.visual.dongwha .t_box .page_link {
    margin-top: 40px;
}
.visual.dongwha .t_box .page_link > ul {
    display: flex;
    align-items: center;
}
.visual.dongwha .t_box .page_link > ul > li {
    margin: 0 10px 0 0;
}
.visual.dongwha .t_box .page_link > ul > li:last-child {
    margin: 0;
}
.visual.dongwha .t_box .page_link > ul > li > a {
    display: block;
    font-size: 20px;
    padding: 5px 48px 5px 18px;
    border: 1px solid #fff;
    position: relative;
    border-radius: 30px;
    background-color: rgba(12, 12, 12, 0.1);
    color: #fff;
    transition: 0.5s;
}
.visual.dongwha .t_box .page_link > ul > li:hover > a {
    background-color: #fff;
    color: #0C0C0C;
}
.visual.dongwha .t_box .page_link > ul > li > a::before {
    position: absolute;
    right: 18px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_630_138' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_630_138)'%3E%3Cpath d='M6.1885 17.3002L5.5 16.6117L15.5807 6.51172H6.2885V5.51172H17.2885V16.5117H16.2885V7.21947L6.1885 17.3002Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.visual.dongwha .t_box .page_link > ul > li:hover > a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_630_138' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_630_138)'%3E%3Cpath d='M6.1885 17.3002L5.5 16.6117L15.5807 6.51172H6.2885V5.51172H17.2885V16.5117H16.2885V7.21947L6.1885 17.3002Z' fill='%230C0C0C'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual.pop .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.visual.pop_d h2,
.visual.pop h2 {
    display: inline-flex;
    font-family: 'SDKukdetopokki';
    color: #fff;
    background-color: #0C0C0C;
    border-radius: 35px;
    padding: 15px 30px 15px 55px;
    font-size: 40px;
    position: relative;
    margin-bottom: 40px;
}
.visual.pop_d h2::before,
.visual.pop h2::before {
    position: absolute;
    left: 25px;
    top: 31px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
}
.visual.pop_d ul {
    display: flex;
    gap: 24px;
}
.visual.pop ul {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.visual.pop .cardnews {
    margin-top: 24px;
}

/*mood ,detail*/

.mood,
.detail {
    background-color: #fff;
    padding: 150px 0 170px 0;
}
.detail .d_title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 170px;
}
.mood h2,
.detail .d_title h2 {
    display: inline-flex;
    font-family: 'SDKukdetopokki';
    color: #fff;
    background-color: #0C0C0C;
    border-radius: 35px;
    padding: 15px 30px 15px 55px;
    font-size: 40px;
    position: relative;
    margin-bottom: 40px;
}
.detail .d_title h2 {
    margin: 0 35px 0 0;
}
.mood h2::before,
.detail .d_title h2::before {
    position: absolute;
    left: 25px;
    top: 31px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
}
.detail .d_title p {
    font-size: 25px;
    font-weight: 400;
}
.detail.cju h2,
.detail.dongwha h2 {
    font-size: 0;
    line-height: 0;
}
.detail.cju .tap_area .tap_btn,
.detail.dongwha .tap_area .tap_btn {
    margin-bottom: 40px;
}
.detail.cju .tap_area .tap_btn > ul,
.detail.dongwha .tap_area .tap_btn > ul {
    display: flex;
}
.detail.cju .tap_area .tap_btn > ul > li,
.detail.dongwha .tap_area .tap_btn > ul > li {
    margin-right: 30px;
}
.detail.cju .tap_area .tap_btn > ul > li:last-child,
.detail.dongwha .tap_area .tap_btn > ul > li:last-child {
    margin: 0;
}
.detail.cju .tap_area .tap_btn > ul > li > button,
.detail.dongwha .tap_area .tap_btn > ul > li > button {
    font-family: 'SDKukdetopokki';
    color: #0C0C0C;
    background-color: #fff;
    border-radius: 35px;
    padding: 15px 30px 15px 55px;
    font-size: 40px;
    position: relative;

    border: 1px solid #0C0C0C;
    position: relative;
}
.detail.cju .tap_area .tap_btn > ul > li > button:hover, 
.detail.cju .tap_area .tap_btn > ul > li.active > button,
.detail.dongwha .tap_area .tap_btn > ul > li > button:hover, 
.detail.dongwha .tap_area .tap_btn > ul > li.active > button {
    color: #fff;
    background-color: #0C0C0C;
}
.detail.cju .tap_area .tap_btn > ul > li > button::before,
.detail.dongwha .tap_area .tap_btn > ul > li > button::before {
    position: absolute;
    left: 25px;
    top: 31px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0C0C0C;
    content: "";
}
.detail.cju .tap_area .tap_btn > ul > li.active > button::before,
.detail.cju .tap_area .tap_btn > ul > li > button:hover::before,
.detail.dongwha .tap_area .tap_btn > ul > li.active > button::before,
.detail.dongwha .tap_area .tap_btn > ul > li > button:hover::before {
    background-color: #fff;
}
.detail.cju .tap_area .tap_cnt div[role="tabpanel"],
.detail.dongwha .tap_area .tap_cnt div[role="tabpanel"] {
    display: none; /*숨김*/
}
.detail.cju .tap_area .tap_cnt div[role="tabpanel"].active,
.detail.dongwha .tap_area .tap_cnt div[role="tabpanel"].active {
    display: block; /*보임*/
}


