.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; 
    width: 100%;
    z-index: 9999999999999999999999999999999999;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--txt-color-main);
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.skip_nav a:focus {
    top: 100px;
}
header.fixed { 
    position: fixed;
    background-color: transparent;
    color: #1d1d1d;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    align-items: flex-start; 
}
header h1 {
    font-size: 0;
    line-height: 0;
}
header .gnb .gnb_open {
    display: none; 
}
header .gnb .gnb_close {
    display: none; 
}
header .gnb .gnb_wrap .depth1 {
    margin-top: 20px;
}
header .gnb .gnb_wrap .depth1 {
    display: flex;
    text-align: center;
}
header .gnb .gnb_wrap .depth1 > li {
    border-radius: 30px;
    position: relative;
    margin-right: 25px;
}
header .gnb .gnb_wrap .depth1 > li > a {
    font-family: 'Coop Bold';
    display: inline-block;
    padding: 10px 28px;
    font-size: var(--txt-size-cont1);
    color: var(--txt-color-main);
    background-color: var(--txt-color-sub1);
    border-radius: 30px;
    border: 10px solid transparent;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: var(--txt-color-main);
    box-sizing: border-box; 
    transition: all .2s ease;
}
header .gnb .gnb_wrap .depth1 > li:last-child a {
    display: block;
    color: var(--txt-color-sub1);
    padding: 10px 18px;
    position: relative;
}
header .gnb .gnb_wrap .depth1 > li:last-child a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_130_1168' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_130_1168)'%3E%3Cpath d='M6.25 23.75C5.89583 23.75 5.59896 23.6302 5.35938 23.3906C5.11979 23.151 5 22.8542 5 22.5C5 22.1458 5.11979 21.849 5.35938 21.6094C5.59896 21.3698 5.89583 21.25 6.25 21.25H7.5V12.5C7.5 10.7708 8.02083 9.23438 9.0625 7.89062C10.1042 6.54688 11.4583 5.66667 13.125 5.25V4.375C13.125 3.85417 13.3073 3.41146 13.6719 3.04688C14.0365 2.68229 14.4792 2.5 15 2.5C15.5208 2.5 15.9635 2.68229 16.3281 3.04688C16.6927 3.41146 16.875 3.85417 16.875 4.375V5.25C18.5417 5.66667 19.8958 6.54688 20.9375 7.89062C21.9792 9.23438 22.5 10.7708 22.5 12.5V21.25H23.75C24.1042 21.25 24.401 21.3698 24.6406 21.6094C24.8802 21.849 25 22.1458 25 22.5C25 22.8542 24.8802 23.151 24.6406 23.3906C24.401 23.6302 24.1042 23.75 23.75 23.75H6.25ZM15 27.5C14.3125 27.5 13.724 27.2552 13.2344 26.7656C12.7448 26.276 12.5 25.6875 12.5 25H17.5C17.5 25.6875 17.2552 26.276 16.7656 26.7656C16.276 27.2552 15.6875 27.5 15 27.5ZM10 21.25H20V12.5C20 11.125 19.5104 9.94792 18.5312 8.96875C17.5521 7.98958 16.375 7.5 15 7.5C13.625 7.5 12.4479 7.98958 11.4688 8.96875C10.4896 9.94792 10 11.125 10 12.5V21.25Z' fill='%23096B38'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
header .gnb .gnb_wrap .depth1 > li.on > a {
    border-bottom-width: 1px;
    margin-top: 9px; 
}

@media screen and (max-width: 1200px) {
    header {
        height: 50px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header.menu_open {
        justify-content: center;
    }
    header .gnb .gnb_open {
        display: block; 
        top: 0;
        right: 0;
        width: 70px;
        height: 100%;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='38' viewBox='0 0 34 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17C1 8.16344 8.16344 1 17 1V1C25.8366 1 33 8.16344 33 17V17C33 25.8366 25.8366 33 17 33V33C8.16344 33 1 25.8366 1 17V17Z' fill='%23FDB700'/%3E%3Cpath d='M17 0C26.3888 0 34 7.61116 34 17V21C34 30.3888 26.3888 38 17 38C7.61116 38 0 30.3888 0 21V17C0 7.61116 7.61116 0 17 0ZM17 1C8.16344 1 1 8.16344 1 17C1 25.8366 8.16344 33 17 33C25.8366 33 33 25.8366 33 17C33 8.16344 25.8366 1 17 1Z' fill='%23096B38'/%3E%3Cmask id='mask0_184_184' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='6' y='6' width='22' height='22'%3E%3Cpath d='M6 6H28V28H6V6Z' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_184_184)'%3E%3Cpath d='M11.041 21.5837C10.6591 21.5837 10.3344 21.45 10.0671 21.1826C9.7997 20.9153 9.66602 20.5906 9.66602 20.2087C9.66602 19.8267 9.7997 19.5021 10.0671 19.2347C10.3344 18.9673 10.6591 18.8337 11.041 18.8337H22.9577C23.3396 18.8337 23.6643 18.9673 23.9316 19.2347C24.199 19.5021 24.3327 19.8267 24.3327 20.2087C24.3327 20.5906 24.199 20.9153 23.9316 21.1826C23.6643 21.45 23.3396 21.5837 22.9577 21.5837H11.041ZM11.041 15.167C10.6591 15.167 10.3344 15.0333 10.0671 14.766C9.7997 14.4986 9.66602 14.1739 9.66602 13.792C9.66602 13.41 9.7997 13.0854 10.0671 12.818C10.3344 12.5507 10.6591 12.417 11.041 12.417H22.9577C23.3396 12.417 23.6643 12.5507 23.9316 12.818C24.199 13.0854 24.3327 13.41 24.3327 13.792C24.3327 14.1739 24.199 14.4986 23.9316 14.766C23.6643 15.0333 23.3396 15.167 22.9577 15.167H11.041Z' fill='%23096B38'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header .gnb .gnb_wrap{
        display: none;
    }
    header .gnb .gnb_close {
        display: none; 
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top :50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='38' viewBox='0 0 34 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17C1 8.16344 8.16344 1 17 1V1C25.8366 1 33 8.16344 33 17V17C33 25.8366 25.8366 33 17 33V33C8.16344 33 1 25.8366 1 17V17Z' fill='%23FDB700'/%3E%3Cpath d='M17 0C26.3888 0 34 7.61116 34 17V21C34 30.3888 26.3888 38 17 38C7.61116 38 0 30.3888 0 21V17C0 7.61116 7.61116 0 17 0ZM17 1C8.16344 1 1 8.16344 1 17C1 25.8366 8.16344 33 17 33C25.8366 33 33 25.8366 33 17C33 8.16344 25.8366 1 17 1Z' fill='%23096B38'/%3E%3Cmask id='mask0_281_944' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='6' y='6' width='22' height='22'%3E%3Cpath d='M6 6H28V28H6V6Z' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_281_944)'%3E%3Cpath d='M16.9997 18.2831L12.5081 22.7747C12.34 22.9428 12.1261 23.0268 11.8664 23.0268C11.6067 23.0268 11.3928 22.9428 11.2247 22.7747C11.0567 22.6067 10.9727 22.3928 10.9727 22.1331C10.9727 21.8734 11.0567 21.6595 11.2247 21.4914L15.7164 16.9997L11.2247 12.5081C11.0567 12.34 10.9727 12.1261 10.9727 11.8664C10.9727 11.6067 11.0567 11.3928 11.2247 11.2247C11.3928 11.0567 11.6067 10.9727 11.8664 10.9727C12.1261 10.9727 12.34 11.0567 12.5081 11.2247L16.9997 15.7164L21.4914 11.2247C21.6595 11.0567 21.8734 10.9727 22.1331 10.9727C22.3928 10.9727 22.6067 11.0567 22.7747 11.2247C22.9428 11.3928 23.0268 11.6067 23.0268 11.8664C23.0268 12.1261 22.9428 12.34 22.7747 12.5081L18.2831 16.9997L22.7747 21.4914C22.9428 21.6595 23.0268 21.8734 23.0268 22.1331C23.0268 22.3928 22.9428 22.6067 22.7747 22.7747C22.6067 22.9428 22.3928 23.0268 22.1331 23.0268C21.8734 23.0268 21.6595 22.9428 21.4914 22.7747L16.9997 18.2831Z' fill='%23096B38'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--txt-color-cont1);
        content: "";
    }
    header.menu_open .gnb {
        margin-top: 530px;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header .gnb .gnb_close {
        display: none;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header .gnb .gnb_wrap .depth1 {
        display: block;
    }
    header .gnb .gnb_wrap .depth1 > li {
        margin: 30px 0;
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li > a {
        font-size: var(--txt-size-cont2);
        border-bottom-width: 5px;
        padding: 8px 12px;
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li.on > a {
        border-bottom-width: 1px;
        margin-top: 4px;
    }
}

/*cursor*/

.cursor { 
	position: absolute;
	z-index: 1000;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--txt-color-cont2);
    border: 2px solid var(--txt-color-main);
	transform: translate(-50%, -50%);
	pointer-events: none;
	display: none;
    font-size: 0;
    line-height: 0;
}
.cursor span {
    height: 100%;
    position: relative;
}
.cursor span::before {
    position: absolute;
    left: 13px;
    top: 12px;
    width: 50px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='15' viewBox='0 0 50 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.9286 0.292745C42.3191 -0.0976805 42.9521 -0.0974827 43.3427 0.292745L49.707 6.657C50.0975 7.04753 50.0975 7.68054 49.707 8.07106L43.3427 14.4353C42.9521 14.8256 42.3191 14.8257 41.9286 14.4353C41.5382 14.0449 41.5384 13.4118 41.9286 13.0213L46.5859 8.36403H3.41399L8.07121 13.0213C8.46144 13.4118 8.46164 14.0449 8.07121 14.4353C7.68079 14.8257 7.0477 14.8256 6.65715 14.4353L0.292893 8.07106C-0.0976311 7.68054 -0.0976311 7.04753 0.292893 6.657L6.65715 0.292745C7.0477 -0.0974827 7.68079 -0.0976805 8.07121 0.292745C8.46164 0.68317 8.46144 1.31626 8.07121 1.70681L3.41399 6.36403H46.5859L41.9286 1.70681C41.5384 1.31626 41.5382 0.68317 41.9286 0.292745Z' fill='%23096B38'/%3E%3C/svg%3E%0A");
    content: "";
}
.cursor.on {
	display: block;
}
.popup {
	cursor: none !important;
}
@media screen and (max-width: 1024px) {
    .cursor {
        display: none !important;
    }
}   