@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*visual*/

.visual{
    width: 100%;
    height: 1000px;
    background-image: url(../images/main/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual h2 {
    font-size: 0;
    line-height: 0;
}
.visual strong {
    display: block;
    text-align: center;
    font-family: 'Coop Bold';
    font-size: var(--txt-size-tit1);
    color: var(--txt-color-main);
    margin-top: 160px;
}
.visual .swiper {
    width: 100%;
    overflow: hidden;
}
.visual .swiper ul {
    display: flex;
}
.visual .swiper ul li .photo {
    display: flex;
    justify-content: center;
}
.visual .swiper ul li .photo img {
    width: auto;
}
.visual span {
    display: block;
    text-align: center;
    font-family: 'Coop Bold';
    font-size: var(--txt-size-tit3);
    color: var(--txt-color-main);
    -webkit-text-stroke: 10px #fff;
    paint-order: stroke fill; 
}
@media screen and (max-width: 1024px) {
    .visual{
        width: auto;
        height: 400px;
    }
    .visual strong {
        font-size: var(--txt-size-tit4);
        margin: 100px 0 10px 0;
    }
    .visual span {
        margin-top: 35px;
        font-size: var(--txt-size-cont3);
        -webkit-text-stroke: 5px #fff;
    }
    .visual .swiper ul li .photo {
        height: 130px;
    }

}

/*ingredients*/

.ingredients {
    background-image: url(../images/main/ingredients_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
}
.ingredients h2 {
    font-size: 0;
    line-height: 0;
}
.ingredients .txt_box {
    margin-top: 250px;
}
.ingredients .butter,
.ingredients .milk,
.ingredients .heart,
.ingredients .salt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: var(--txt-size-tit2);
    margin: 20px 0 ;
}
.ingredients .butter strong {
    display: block;
    font-family: 'Crimson Pro';
}
.ingredients .butter span {
    display: block;
    font-family: 'Coop Bold'; 
}
.ingredients .milk strong {
    display: block;
    font-family: 'Cutive Mono';
}
.ingredients .milk span {
    display: block;
    font-family: 'Croissant One'; 
}
.ingredients .heart strong {
    display: block;
    font-family: 'Montserrat'; 
}
.ingredients .heart span {
    display: block;
    font-family: 'Caveat Brush';
}
.ingredients .salt strong {
    display: block;
    font-family: 'Cookie';
}
.ingredients .salt span {
    display: block;
    font-family: 'Cormorant Unicase'; 
}
.ingredients .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-out;
    align-items: center;
}
.ingredients .photo.on {
    opacity: 1;
    margin: 0 40px;
    transform: scale(1);
}
.ingredients .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ingredients .b.on {
    width: 250px;
}
.ingredients .m.on {
    width: 140px;
}
.ingredients .h.on {
    width: 120px;
}
.ingredients .s.on {
    width: 90px;
}
@media screen and (max-width: 1024px) {
    .ingredients {
        width: auto;
        height: 400px;
    }
    .ingredients .txt_box {
        margin-top: 120px;
    }
    .ingredients .butter,
    .ingredients .milk,
    .ingredients .heart,
    .ingredients .salt {
        font-size: var(--txt-size-cont2);
        margin: 10px 0 ;
    }
    .ingredients .photo.on {
        margin: 0 10px;
    }
    .ingredients .b.on {
        width: 70px;
    }
    .ingredients .m.on {
        width: 45px;
    }
    .ingredients .h.on {
        width: 30px;
    }
    .ingredients .s.on {
        width: 30px;
    }
}

/*menu*/

.menu {
    background-color: var(--txt-color-cont);
}
.menu h2 {
    font-size: 0;
    line-height: 0;
}
.menu .tap_area .tap_btn > ul {
    display: flex;
    justify-content:flex-end;
    border-bottom: 1px solid var(--txt-color-main);
    padding-top: 210px;
}
.menu .tap_cnt .signature_cnt .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.menu .tap_cnt .signature_cnt .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .tap_area .tap_btn > ul > li {
    width: 80px;
    height: 90px;
    cursor: pointer;
    position: relative;
    font-size :0;
    border-radius: 50px 50px 0 0;
    border-width: 1px 1px 0 1px;
    border-color: var(--txt-color-main);
    border-style: solid;
}
.menu .tap_area .tap_btn > ul > li::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.menu .tap_area .tap_btn > ul > li:nth-child(1)::before {
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='48' viewBox='0 0 51 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5 0C39.5833 0 51 5.14873 51 11.5C51 13.458 49.9137 15.3003 48 16.9141V48H3V16.9141C1.08628 15.3003 0 13.458 0 11.5C0 5.14873 11.4167 0 25.5 0Z' fill='%23096B38'/%3E%3Cpath d='M50 11.5C50 8.96185 47.671 6.33268 43.1201 4.28027C38.6622 2.26984 32.4334 1 25.5 1C18.5666 1 12.3378 2.26984 7.87988 4.28027C3.32898 6.33268 1 8.96185 1 11.5C1 13.0586 1.86161 14.6459 3.64453 16.1494L4 16.4492V47H47V16.4492L47.3555 16.1494C49.1384 14.6459 50 13.0586 50 11.5ZM51 11.5C51 13.458 49.9137 15.3003 48 16.9141V48H3V16.9141C1.08628 15.3003 0 13.458 0 11.5C0 5.14873 11.4167 0 25.5 0C39.5833 0 51 5.14873 51 11.5Z' fill='%23FBFDF1'/%3E%3Cpath d='M21.5 0C33.3741 0 43 5.14873 43 11.5C43 13.4579 42.0841 15.3003 40.4707 16.9141V48H2.5293V16.9141C0.915938 15.3003 0 13.4579 0 11.5C9.63585e-07 5.14873 9.62588 0 21.5 0Z' fill='%23096B38'/%3E%3Cpath d='M42 11.5C42 8.87201 39.9925 6.2618 36.2314 4.25C32.5125 2.2608 27.3057 1 21.5 1C15.6943 1 10.4875 2.2608 6.76855 4.25C3.1249 6.19899 1.12707 8.70961 1.00586 11.2539L1 11.5C1 13.1241 1.75572 14.726 3.23633 16.207L3.5293 16.5V47H39.4707V16.5L39.7637 16.207C41.2443 14.726 42 13.1241 42 11.5ZM43 11.5C43 13.4579 42.0841 15.3003 40.4707 16.9141V48H2.5293V16.9141C0.915938 15.3003 0 13.4579 0 11.5C9.63585e-07 5.14873 9.62588 0 21.5 0C33.3741 0 43 5.14873 43 11.5Z' fill='%23FBFDF1'/%3E%3C/svg%3E%0A");
}
.menu .tap_area .tap_btn > ul > li:nth-child(2)::before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='39' viewBox='0 0 52 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.6639 0.0390368C31.4227 0.113895 30.3261 0.135207 29.0833 0.173108C22.2233 0.382316 16.4725 3.42015 14.316 5.04386L7.73688 10.3514C7.08186 10.8346 6.47851 11.3504 5.92454 11.8842C1.31882 16.3222 -1.53482 23.3987 0.875782 29.323C4.03377 36.8213 12.6556 38.5453 16.5717 38.47C24.9244 37.9226 31.7575 35.2629 36.2395 32.7792C39.5923 30.9212 42.9516 28.858 45.5751 26.0632C45.6147 26.021 45.6541 25.9786 45.6932 25.9362C49.3429 21.979 52.4732 16.4506 51.0653 11.2548C50.6289 9.35753 49.9003 7.80173 49.0213 6.53641C45.6747 1.719 38.519 -0.314108 32.6639 0.0390368Z' fill='%23096B38'/%3E%3Cpath d='M8.76172 9.92249C12.4857 9.8049 18.1733 14.8013 19.2567 23.3196C19.4824 18.1322 16.3452 5.99098 8.76172 9.92249Z' fill='%23FBFDF1'/%3E%3Cpath d='M18.2422 4.1903C22.9818 5.30092 28.3309 9.06861 29.4142 17.5869C29.6399 12.3995 24.6746 1.2055 18.2422 4.1903Z' fill='%23FBFDF1'/%3E%3Cpath d='M29.8582 1.32456C32.4597 0.386135 37.7816 4.28207 39.5692 10.6244C39.1493 6.61662 35.1684 -1.25162 29.8582 1.32456Z' fill='%23FBFDF1'/%3E%3C/svg%3E%0A");
}
.menu .tap_area .tap_btn > ul > li:nth-child(3)::before {
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='50' viewBox='0 0 41 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.85156 12.9629H38.8886L35.5216 48.1481H5.21857L1.85156 12.9629Z' fill='%23096B38'/%3E%3Cpath d='M6.48242 47.2217H34.2602L31.7349 49.9995H9.00767L6.48242 47.2217Z' fill='%23096B38'/%3E%3Cpath d='M31.7354 49.999H9.00781L6.48242 47.2217H34.2598L31.7354 49.999ZM9.4502 48.999H31.293L32 48.2217H8.74316L9.4502 48.999Z' fill='%23FBFDF1'/%3E%3Cpath d='M35.5213 48.1481H5.21889L1.85156 12.9629H38.8886L35.5213 48.1481ZM6.05982 47.2221H34.6803L37.8704 13.8888H2.86972L6.05982 47.2221Z' fill='%23FBFDF1'/%3E%3Cpath d='M38.8887 8.33301L1.85163 8.333L5.21864 -0.000325436L35.5217 -0.000321793L38.8887 8.33301Z' fill='%23096B38'/%3E%3Cpath d='M5.21875 -4.04734e-06L35.5215 -4.04757e-07L38.8887 8.33301L1.85156 8.333L5.21875 -4.04734e-06ZM34.8477 1L5.89258 0.999996L3.33496 7.333L37.4063 7.33301L34.8477 1Z' fill='%23FBFDF1'/%3E%3Cpath d='M0 7.40723H40.7407V13.8887H0V7.40723Z' fill='%23096B38'/%3E%3Cpath d='M40.7407 7.40723V13.8887H0V7.40723H40.7407ZM0.925926 12.9628H39.8148V8.33315H0.925926V12.9628Z' fill='%23FBFDF1'/%3E%3Cpath d='M25.9256 31.0187C25.9256 34.854 23.4383 37.9631 20.37 37.9631C17.3018 37.9631 14.8145 34.854 14.8145 31.0187C14.8145 27.1834 17.3018 24.0742 20.37 24.0742C23.4383 24.0742 25.9256 27.1834 25.9256 31.0187Z' fill='%23096B38'/%3E%3Cpath d='M24.9996 31.0187C24.9996 27.4912 22.7448 25.0001 20.37 25.0001C17.9953 25.0001 15.7404 27.4912 15.7404 31.0187C15.7404 34.5461 17.9953 37.0372 20.37 37.0372V37.9631C17.3018 37.9631 14.8145 34.854 14.8145 31.0187C14.8145 27.1834 17.3018 24.0742 20.37 24.0742C23.4383 24.0742 25.9256 27.1834 25.9256 31.0187C25.9256 34.854 23.4383 37.9631 20.37 37.9631V37.0372C22.7448 37.0372 24.9996 34.5461 24.9996 31.0187Z' fill='%23FBFDF1'/%3E%3Cpath d='M20.9174 26.5685C21.136 26.7011 21.2063 26.9863 21.0737 27.2049C20.8471 27.5786 20.4886 28.0591 20.2608 28.6576C20.0406 29.236 19.9832 29.8323 20.3087 30.4048L20.322 30.4274L20.3322 30.451C20.4587 30.745 20.6149 31.0344 20.7824 31.339C20.9461 31.6367 21.1224 31.9536 21.2652 32.2739C21.5539 32.9215 21.7416 33.6609 21.4324 34.472C21.3403 34.7135 21.2322 34.9858 21.1058 35.2936C21.0087 35.53 20.7386 35.6428 20.5021 35.5459C20.2657 35.4488 20.1521 35.1784 20.249 34.942C20.3732 34.6395 20.4789 34.3742 20.5676 34.1416C20.7505 33.6615 20.6644 33.1992 20.4199 32.6508C20.2961 32.3731 20.1412 32.0931 19.9718 31.785C19.8098 31.4905 19.6366 31.1721 19.4919 30.8396C18.9942 29.9457 19.1227 29.0453 19.3958 28.328C19.6636 27.6247 20.1104 27.0075 20.2821 26.7242C20.4147 26.5059 20.6989 26.4363 20.9174 26.5685Z' fill='%23FBFDF1'/%3E%3Cpath d='M37.9625 21.2959V22.2218H2.77734V21.2959H37.9625Z' fill='%23FBFDF1'/%3E%3Cpath d='M36.1104 39.8145V40.7404H4.62891V39.8145H36.1104Z' fill='%23FBFDF1'/%3E%3C/svg%3E%0A");
}
.menu .tap_area .tap_btn > ul > li.active,
.menu .tap_area .tap_btn > ul > li:hover {
    background-color: var(--txt-color-main);
}
.menu .tap_area .tap_btn > ul > li:nth-child(1).active::before,
.menu .tap_area .tap_btn > ul > li:nth-child(1):hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='48' viewBox='0 0 51 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5 0C39.5833 0 51 5.14873 51 11.5C51 13.458 49.9137 15.3003 48 16.9141V48H3V16.9141C1.08628 15.3003 0 13.458 0 11.5C0 5.14873 11.4167 0 25.5 0Z' fill='%23FDB700'/%3E%3Cpath d='M50 11.5C50 8.96185 47.671 6.33268 43.1201 4.28027C38.6622 2.26984 32.4334 1 25.5 1C18.5666 1 12.3378 2.26984 7.87988 4.28027C3.32898 6.33268 1 8.96185 1 11.5C1 13.0586 1.86161 14.6459 3.64453 16.1494L4 16.4492V47H47V16.4492L47.3555 16.1494C49.1384 14.6459 50 13.0586 50 11.5ZM51 11.5C51 13.458 49.9137 15.3003 48 16.9141V48H3V16.9141C1.08628 15.3003 0 13.458 0 11.5C0 5.14873 11.4167 0 25.5 0C39.5833 0 51 5.14873 51 11.5Z' fill='%23FBFDF1'/%3E%3Cpath d='M21.5 0C33.3741 0 43 5.14873 43 11.5C43 13.4579 42.0841 15.3003 40.4707 16.9141V48H2.5293V16.9141C0.915938 15.3003 0 13.4579 0 11.5C9.63585e-07 5.14873 9.62588 0 21.5 0Z' fill='%23FDB700'/%3E%3Cpath d='M42 11.5C42 8.87201 39.9925 6.2618 36.2314 4.25C32.5125 2.2608 27.3057 1 21.5 1C15.6943 1 10.4875 2.2608 6.76855 4.25C3.1249 6.19899 1.12707 8.70961 1.00586 11.2539L1 11.5C1 13.1241 1.75572 14.726 3.23633 16.207L3.5293 16.5V47H39.4707V16.5L39.7637 16.207C41.2443 14.726 42 13.1241 42 11.5ZM43 11.5C43 13.4579 42.0841 15.3003 40.4707 16.9141V48H2.5293V16.9141C0.915938 15.3003 0 13.4579 0 11.5C9.63585e-07 5.14873 9.62588 0 21.5 0C33.3741 0 43 5.14873 43 11.5Z' fill='%23FBFDF1'/%3E%3C/svg%3E%0A");
}
.menu .tap_area .tap_btn > ul > li:nth-child(2).active::before,
.menu .tap_area .tap_btn > ul > li:nth-child(2):hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='40' viewBox='0 0 52 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.7015 0.62135C31.4603 0.696208 30.3637 0.71752 29.1209 0.755422C22.2608 0.964629 16.5101 4.00246 14.3536 5.62618L7.77446 10.9337C7.11944 11.4169 6.51609 11.9327 5.96211 12.4665C1.3564 16.9045 -1.49724 23.981 0.913361 29.9053C4.07135 37.4036 12.6932 39.1276 16.6093 39.0523C24.9619 38.5049 31.7951 35.8452 36.277 33.3615C39.6299 31.5035 42.9892 29.4404 45.6127 26.6455C45.6523 26.6033 45.6917 26.5609 45.7308 26.5185C49.3805 22.5614 52.5108 17.0329 51.1028 11.8371C50.6665 9.93984 49.9379 8.38404 49.0589 7.11872C45.7123 2.30132 38.5565 0.268206 32.7015 0.62135Z' fill='%23FDB700'/%3E%3Cpath d='M8.80078 10.5055C12.5248 10.3879 18.2124 15.3843 19.2957 23.9026C19.5214 18.7152 16.3842 6.57399 8.80078 10.5055Z' fill='%23FBFDF1'/%3E%3Cpath d='M18.2812 4.77233C23.0209 5.88295 28.3699 9.65065 29.4533 18.1689C29.679 12.9815 24.7136 1.78753 18.2812 4.77233Z' fill='%23FBFDF1'/%3E%3Cpath d='M29.8973 1.90659C32.4987 0.968166 37.8206 4.8641 39.6082 11.2065C39.1883 7.19865 35.2075 -0.669587 29.8973 1.90659Z' fill='%23FBFDF1'/%3E%3C/svg%3E%0A");
}
.menu .tap_area .tap_btn > ul > li:nth-child(3).active::before,
.menu .tap_area .tap_btn > ul > li:nth-child(3):hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='50' viewBox='0 0 41 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.85156 12.9629H38.8886L35.5216 48.1481H5.21857L1.85156 12.9629Z' fill='%23096B38'/%3E%3Cpath d='M6.48047 47.2227H34.2582L31.733 50.0004H9.00572L6.48047 47.2227Z' fill='%23096B38'/%3E%3Cpath d='M35.5213 48.1481H5.21889L1.85156 12.9629H38.8886L35.5213 48.1481ZM6.05982 47.2221H34.6803L37.8704 13.8888H2.86972L6.05982 47.2221Z' fill='%23FBFDF1'/%3E%3Cpath d='M38.8906 8.33301L1.85359 8.333L5.22059 -0.000325436L35.5236 -0.000321793L38.8906 8.33301Z' fill='%23096B38'/%3E%3Cpath d='M0 7.40723H40.7407V13.8887H0V7.40723Z' fill='%23096B38'/%3E%3Cpath d='M40.7407 7.40723V13.8887H0V7.40723H40.7407ZM0.925926 12.9628H39.8148V8.33315H0.925926V12.9628Z' fill='%23FBFDF1'/%3E%3Cpath d='M25.9275 31.0187C25.9275 34.854 23.4402 37.9631 20.372 37.9631C17.3037 37.9631 14.8164 34.854 14.8164 31.0187C14.8164 27.1834 17.3037 24.0742 20.372 24.0742C23.4402 24.0742 25.9275 27.1834 25.9275 31.0187Z' fill='%23096B38'/%3E%3Cpath d='M25.0016 31.0187C25.0016 27.4912 22.7467 25.0001 20.372 25.0001C17.9972 25.0001 15.7423 27.4912 15.7423 31.0187C15.7423 34.5461 17.9972 37.0372 20.372 37.0372V37.9631C17.3037 37.9631 14.8164 34.854 14.8164 31.0187C14.8164 27.1834 17.3037 24.0742 20.372 24.0742C23.4402 24.0742 25.9275 27.1834 25.9275 31.0187C25.9275 34.854 23.4402 37.9631 20.372 37.9631V37.0372C22.7467 37.0372 25.0016 34.5461 25.0016 31.0187Z' fill='%23FBFDF1'/%3E%3Cpath d='M20.9193 26.5685C21.138 26.7011 21.2082 26.9863 21.0757 27.2049C20.8491 27.5786 20.4906 28.0591 20.2627 28.6576C20.0425 29.236 19.9851 29.8323 20.3107 30.4048L20.324 30.4274L20.3341 30.451C20.4607 30.745 20.6168 31.0344 20.7843 31.339C20.948 31.6367 21.1243 31.9536 21.2671 32.2739C21.5558 32.9215 21.7435 33.6609 21.4343 34.472C21.3423 34.7135 21.2342 34.9858 21.1078 35.2936C21.0106 35.53 20.7405 35.6428 20.5041 35.5459C20.2677 35.4488 20.154 35.1784 20.251 34.942C20.3752 34.6395 20.4809 34.3742 20.5696 34.1416C20.7524 33.6615 20.6663 33.1992 20.4218 32.6508C20.2981 32.3731 20.1432 32.0931 19.9737 31.785C19.8118 31.4905 19.6386 31.1721 19.4939 30.8396C18.9961 29.9457 19.1247 29.0453 19.3977 28.328C19.6655 27.6247 20.1123 27.0075 20.284 26.7242C20.4166 26.5059 20.7008 26.4363 20.9193 26.5685Z' fill='%23FBFDF1'/%3E%3Cpath d='M37.9625 21.2959V22.2218H2.77734V21.2959H37.9625Z' fill='%23FBFDF1'/%3E%3Cpath d='M36.1104 39.8145V40.7404H4.62891V39.8145H36.1104Z' fill='%23FBFDF1'/%3E%3Cpath d='M1.85156 12.9629H38.8886L35.5216 48.1481H5.21857L1.85156 12.9629Z' fill='%23FDB700'/%3E%3Cpath d='M6.48047 47.2217H34.2582L31.733 49.9995H9.00572L6.48047 47.2217Z' fill='%23FDB700'/%3E%3Cpath d='M31.7334 49.999H9.00586L6.48047 47.2217H34.2578L31.7334 49.999ZM9.44824 48.999H31.291L31.998 48.2217H8.74121L9.44824 48.999Z' fill='%23FBFDF1'/%3E%3Cpath d='M35.5213 48.1481H5.21889L1.85156 12.9629H38.8886L35.5213 48.1481ZM6.05982 47.2221H34.6803L37.8704 13.8888H2.86972L6.05982 47.2221Z' fill='%23FBFDF1'/%3E%3Cpath d='M38.8906 8.33301L1.85359 8.333L5.22059 -0.000325436L35.5236 -0.000321793L38.8906 8.33301Z' fill='%23FDB700'/%3E%3Cpath d='M5.2207 -4.04734e-06L35.5234 -4.04757e-07L38.8906 8.33301L1.85352 8.333L5.2207 -4.04734e-06ZM34.8496 1L5.89453 0.999996L3.33691 7.333L37.4082 7.33301L34.8496 1Z' fill='%23FBFDF1'/%3E%3Cpath d='M0 7.40723H40.7407V13.8887H0V7.40723Z' fill='%23FDB700'/%3E%3Cpath d='M40.7407 7.40723V13.8887H0V7.40723H40.7407ZM0.925926 12.9628H39.8148V8.33315H0.925926V12.9628Z' fill='%23FBFDF1'/%3E%3Cpath d='M25.9275 31.0187C25.9275 34.854 23.4402 37.9631 20.372 37.9631C17.3037 37.9631 14.8164 34.854 14.8164 31.0187C14.8164 27.1834 17.3037 24.0742 20.372 24.0742C23.4402 24.0742 25.9275 27.1834 25.9275 31.0187Z' fill='%23FDB700'/%3E%3Cpath d='M25.0016 31.0187C25.0016 27.4912 22.7467 25.0001 20.372 25.0001C17.9972 25.0001 15.7423 27.4912 15.7423 31.0187C15.7423 34.5461 17.9972 37.0372 20.372 37.0372V37.9631C17.3037 37.9631 14.8164 34.854 14.8164 31.0187C14.8164 27.1834 17.3037 24.0742 20.372 24.0742C23.4402 24.0742 25.9275 27.1834 25.9275 31.0187C25.9275 34.854 23.4402 37.9631 20.372 37.9631V37.0372C22.7467 37.0372 25.0016 34.5461 25.0016 31.0187Z' fill='%23FBFDF1'/%3E%3Cpath d='M20.9193 26.5685C21.138 26.7011 21.2082 26.9863 21.0757 27.2049C20.8491 27.5786 20.4906 28.0591 20.2627 28.6576C20.0425 29.236 19.9851 29.8323 20.3107 30.4048L20.324 30.4274L20.3341 30.451C20.4607 30.745 20.6168 31.0344 20.7843 31.339C20.948 31.6367 21.1243 31.9536 21.2671 32.2739C21.5558 32.9215 21.7435 33.6609 21.4343 34.472C21.3423 34.7135 21.2342 34.9858 21.1078 35.2936C21.0106 35.53 20.7405 35.6428 20.5041 35.5459C20.2677 35.4488 20.154 35.1784 20.251 34.942C20.3752 34.6395 20.4809 34.3742 20.5696 34.1416C20.7524 33.6615 20.6663 33.1992 20.4218 32.6508C20.2981 32.3731 20.1432 32.0931 19.9737 31.785C19.8118 31.4905 19.6386 31.1721 19.4939 30.8396C18.9961 29.9457 19.1247 29.0453 19.3977 28.328C19.6655 27.6247 20.1123 27.0075 20.284 26.7242C20.4166 26.5059 20.7008 26.4363 20.9193 26.5685Z' fill='%23FBFDF1'/%3E%3Cpath d='M37.9625 21.2959V22.2218H2.77734V21.2959H37.9625Z' fill='%23FBFDF1'/%3E%3Cpath d='M36.1104 39.8145V40.7404H4.62891V39.8145H36.1104Z' fill='%23FBFDF1'/%3E%3C/svg%3E%0A");
}
.menu .tap_area .tap_cnt div[role="tabpanel"] {
    display: none; /*숨김*/
}
.menu .tap_area .tap_cnt div[role="tabpanel"].active {
    display: block; /*보임*/
}.menu .tap_cnt .signature_cnt {
    margin: 90px 0 210px 0;
}
.menu .tap_cnt .signature_cnt ul li {
    width: calc(33.3% - 10px);
    position: relative;
}
.menu .tap_cnt .signature_cnt ul li span,
.menu .tap_cnt .signature_cnt ul li em {
    display: none;
}
.menu .tap_cnt .signature_cnt ul li strong {
    display: block;
    text-align: center;
    font-size: var(--txt-size-tit1);
    -webkit-text-stroke: 1px var(--txt-color-main);
    paint-order: stroke fill;
    font-family: 'Coop Bold'; 
    color: transparent;
}
.menu .tap_cnt .signature_cnt ul li .photo {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 270px;
    z-index: 2;
}