@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*visual*/

.visual{
    width: 100%;
    height: 1000px;
    background-image: url(../images/main/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual h2 {
    font-size: 0;
    line-height: 0;
}
.visual strong {
    display: block;
    text-align: center;
    font-family: 'Coop Bold';
    font-size: var(--txt-size-tit1);
    color: var(--txt-color-main);
    margin-top: 160px;
}
.visual .swiper {
    width: 100%;
    overflow: hidden;
}
.visual .swiper ul {
    display: flex;
}
.visual .swiper ul li .photo {
    display: flex;
    justify-content: center;
}
.visual .swiper ul li .photo img {
    width: auto;
}
.visual span {
    display: block;
    text-align: center;
    font-family: 'Coop Bold';
    font-size: var(--txt-size-tit3);
    color: var(--txt-color-main);
    -webkit-text-stroke: 10px #fff;
    paint-order: stroke fill; 
}