@font-face { 
    font-family: 'SUIT';
    src: url(../fonts/SUIT-Heavy.woff) format('woff'); 
    font-weight: 900; 
    font-style: normal; 
}
@font-face { 
    font-family: 'SUIT';
    src: url(../fonts/SUIT-Bold.woff) format('woff'); 
    font-weight: 700; 
    font-style: normal; 
}
@font-face { 
    font-family: 'SUIT';
    src: url(../fonts/SUIT-SemiBold.woff) format('woff'); 
    font-weight: 600; 
    font-style: normal; 
}
@font-face { 
    font-family: 'SUIT';
    src: url(../fonts/SUIT-Regular.woff) format('woff'); 
    font-weight: 400; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Inter';
    src: url(../fonts/Inter_24pt-Bold.woff) format('woff'); 
    font-weight: 700; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Inter';
    src: url(../fonts/Inter_24pt-Regular.woff) format('woff'); 
    font-weight: 400; 
    font-style: normal; 
}